Repository nocturne-xyz/monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luketchang, @Sladuca, @panieldark

.github/CODEOWNERS:

# contracts 

packages/contracts @luketchang

# circuits 

packages/circuits @Sladuca

# apps

packages/snap @luketchang @Sladuca

# actors 

actors/bundler @luketchang @Sladuca
actors/subtree-updater @Sladuca
actors/deposit-screener @Sladuca @luketchang
actors/test-actor @Sladuca @luketchang
actors/insertion-log @Sladuca

# SDKs

packages/core @luketchang @Sladuca
packages/frontend-sdk @luketchang @Sladuca @panieldark

# other packages

packages/config @luketchang
packages/deploy @luketchang
packages/e2e-tests @luketchang @Sladuca
packages/local-prover @Sladuca
packages/crypto-utils @Sladuca
packages/persistent-log @Sladuca

tweaks
  packages/frontend-sdk/package.json
  packages/frontend-sdk/src/index.ts
  packages/op-request-plugins/src/UniswapV3Plugin/helpers.ts
  packages/op-request-plugins/src/scripts/uniswapTest.ts
Owners: @luketchang, @Sladuca, @panieldark

changeset
  .changeset/fresh-swans-laugh.md
Owners: none

revert forced exit across stack
  .github/workflows/build-and-test-e2e.yml
  actors/bundler/src/request/relay.ts
  actors/bundler/test/utils.ts
  apps/snap/snap.manifest.json
  packages/client/src/opRequestGas.ts
  packages/client/src/operationRequest/builder.ts
  packages/client/src/operationRequest/operationRequest.ts
  packages/client/src/prepareOperation.ts
  packages/client/src/signOperation.ts
  packages/contracts/contracts/CommitmentTreeManager.sol
  packages/contracts/contracts/Handler.sol
  packages/contracts/contracts/OperationEIP712.sol
  packages/contracts/contracts/Teller.sol
  packages/contracts/contracts/libs/Types.sol
  packages/contracts/contracts/libs/Validation.sol
  packages/contracts/contracts/test/fork/Balancer.t.sol
  packages/contracts/contracts/test/fork/Reth.t.sol
  packages/contracts/contracts/test/fork/Uniswap.t.sol
  packages/contracts/contracts/test/fork/Wsteth.t.sol
  packages/contracts/contracts/test/invariant/ProtocolInvariants.t.sol
  packages/contracts/contracts/test/invariant/actors/CommitmentTreeManagerHandler.sol
  packages/contracts/contracts/test/invariant/actors/TellerHandler.sol
  packages/contracts/contracts/test/unit/OperationEIP712.t.sol
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
  packages/contracts/contracts/test/utils/NocturneUtils.sol
  packages/core/scripts/genOperationHashTestCase.ts
  packages/core/src/primitives/operation.ts
  packages/core/src/primitives/types.ts
  packages/deploy/configs/example.json
  packages/deploy/configs/goerli.json
  packages/deploy/configs/sepolia.json
  packages/deploy/src/config.ts
  packages/deploy/src/deploy.ts
  packages/e2e-tests/tests/ForcedExit.ts
Owners: @luketchang, @Sladuca

fix e2e tests
  packages/e2e-tests/scripts/deployAndDeposit.ts
  packages/e2e-tests/src/deploy.ts
Owners: @luketchang, @Sladuca

ensure processBundle caller is eoa
  packages/contracts/contracts/Teller.sol
Owners: @luketchang

site works
  apps/snap/snap.manifest.json
  packages/config/configs/localhost.json
  packages/e2e-tests/scripts/deployAndDeposit.ts
  yarn.lock
Owners: @luketchang, @Sladuca

remove codesize check for onlyEoa
  packages/contracts/contracts/Teller.sol
Owners: @luketchang

changeset
  .changeset/cuddly-lamps-dance.md
  .changeset/silent-bugs-draw.md
Owners: none

snap manifest
  apps/snap/snap.manifest.json
Owners: none

fix teller comments on processBundle
  packages/contracts/contracts/Teller.sol
Owners: @luketchang

revert forcedExit changes, add EOA check for processBundle (#493)
  .changeset/cuddly-lamps-dance.md
  .changeset/silent-bugs-draw.md
  .github/workflows/build-and-test-e2e.yml
  actors/bundler/src/request/relay.ts
  actors/bundler/test/utils.ts
  apps/snap/snap.manifest.json
  packages/client/src/opRequestGas.ts
  packages/client/src/operationRequest/builder.ts
  packages/client/src/operationRequest/operationRequest.ts
  packages/client/src/prepareOperation.ts
  packages/client/src/signOperation.ts
  packages/config/configs/localhost.json
  packages/contracts/contracts/CommitmentTreeManager.sol
  packages/contracts/contracts/Handler.sol
  packages/contracts/contracts/OperationEIP712.sol
  packages/contracts/contracts/Teller.sol
  packages/contracts/contracts/libs/Types.sol
  packages/contracts/contracts/libs/Validation.sol
  packages/contracts/contracts/test/fork/Balancer.t.sol
  packages/contracts/contracts/test/fork/Reth.t.sol
  packages/contracts/contracts/test/fork/Uniswap.t.sol
  packages/contracts/contracts/test/fork/Wsteth.t.sol
  packages/contracts/contracts/test/invariant/ProtocolInvariants.t.sol
  packages/contracts/contracts/test/invariant/actors/CommitmentTreeManagerHandler.sol
  packages/contracts/contracts/test/invariant/actors/TellerHandler.sol
  packages/contracts/contracts/test/unit/OperationEIP712.t.sol
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
  packages/contracts/contracts/test/utils/NocturneUtils.sol
  packages/core/scripts/genOperationHashTestCase.ts
  packages/core/src/primitives/operation.ts
  packages/core/src/primitives/types.ts
  packages/deploy/configs/example.json
  packages/deploy/configs/goerli.json
  packages/deploy/configs/sepolia.json
  packages/deploy/src/config.ts
  packages/deploy/src/deploy.ts
  packages/e2e-tests/scripts/deployAndDeposit.ts
  packages/e2e-tests/src/deploy.ts
  packages/e2e-tests/tests/ForcedExit.ts
  yarn.lock
Owners: @luketchang, @Sladuca

patch(dockerignore): Ignore .env files in docker COPY
  .dockerignore
Owners: none

Bump packages for interface use
  packages/client/package.json
  packages/frontend-sdk/package.json
  packages/op-request-plugins/package.json
  sync/hasura-sync-adapters/package.json
  sync/subgraph-sync-adapters/package.json
Owners: @luketchang, @Sladuca, @panieldark

snap optionally gets key from DB
  apps/snap/snap.manifest.json
  apps/snap/src/index.ts
  yarn.lock
Owners: none

add fe sdk methods for keygen and checking if set in snap
  apps/snap/snap.manifest.json
  apps/snap/src/index.ts
  packages/client/src/snapJsonRpc.ts
  packages/frontend-sdk/src/keygen.ts
  packages/frontend-sdk/src/sdk.ts
Owners: @luketchang, @Sladuca, @panieldark

fetchLatest
  apps/snap/snap.manifest.json
  apps/snap/src/index.ts
Owners: none

fix build
  apps/snap/snap.manifest.json
  apps/snap/src/index.ts
  packages/client/src/snapJsonRpc.ts
Owners: none

set spend key method
  apps/snap/snap.manifest.json
  apps/snap/src/index.ts
  packages/client/src/snapJsonRpc.ts
Owners: none

remove console logs for safety
  apps/snap/snap.manifest.json
  apps/snap/src/index.ts
  packages/frontend-sdk/src/sdk.ts
Owners: @luketchang, @Sladuca, @panieldark

zero out spend key in snap
  apps/snap/src/index.ts
Owners: none

rename stuff test, fix
  apps/snap/snap.manifest.json
  apps/snap/src/index.ts
  packages/e2e-tests/scripts/deployAndDeposit.ts
  packages/frontend-sdk/src/eoaSigKeygen.ts
  packages/frontend-sdk/src/keygen.ts
  packages/frontend-sdk/src/sdk.ts
Owners: @luketchang, @Sladuca, @panieldark

changeset
  .changeset/hip-shrimps-kneel.md
  .changeset/moody-coins-fry.md
Owners: none

fix object -> Uint8Array
  apps/snap/snap.manifest.json
  apps/snap/src/index.ts
  packages/e2e-tests/scripts/deployAndDeposit.ts
Owners: @luketchang, @Sladuca

snap manifest
  apps/snap/snap.manifest.json
Owners: none

wayne/geo-middleware
  actors/deposit-screener/src/server.ts
  packages/offchain-utils/src/geoMiddleware.ts
  packages/offchain-utils/src/index.ts
Owners: @Sladuca, @luketchang

patch(dockerignore): Ignore .env files in docker COPY (#495)
  .dockerignore
Owners: none

wayne/new-dockerfile
  Dockerfile
  README.md
Owners: none

feat(dockerfile): add a top level dockerfile with all of our actors
  Dockerfile
  README.md
Owners: none

remove bip44, fe-sdk requires key generated via sig
  actors/bundler/package.json
  actors/deposit-screener/package.json
  actors/insertion-writer/package.json
  actors/subtree-updater/package.json
  apps/snap/snap.manifest.json
  apps/snap/src/index.ts
  packages/config/configs/localhost.json
  packages/core/package.json
  packages/core/src/utils/functional.ts
  packages/frontend-sdk/src/api.ts
  packages/frontend-sdk/src/eoaSigKeygen.ts
  packages/frontend-sdk/src/metamask/index.ts
  packages/frontend-sdk/src/metamask/utils.ts
  packages/frontend-sdk/src/sdk.ts
  scripts/dev.sh
  yarn.lock
Owners: @luketchang, @Sladuca, @panieldark

remvoe console log
  packages/frontend-sdk/src/metamask/index.ts
  packages/frontend-sdk/src/sdk.ts
Owners: @luketchang, @Sladuca, @panieldark

changeset
  .changeset/cold-elephants-tell.md
  .changeset/friendly-tools-own.md
  .changeset/shy-cats-repeat.md
Owners: none

address comments
  apps/snap/src/index.ts
  packages/frontend-sdk/src/eoaSigKeygen.ts
  packages/frontend-sdk/src/metamask/index.ts
  packages/frontend-sdk/src/sdk.ts
Owners: @luketchang, @Sladuca, @panieldark

snap sets/gets key from snap db (#492)
  .changeset/cold-elephants-tell.md
  .changeset/friendly-tools-own.md
  .changeset/hip-shrimps-kneel.md
  .changeset/moody-coins-fry.md
  .changeset/shy-cats-repeat.md
  actors/bundler/package.json
  actors/deposit-screener/package.json
  actors/insertion-writer/package.json
  actors/subtree-updater/package.json
  apps/snap/snap.manifest.json
  apps/snap/src/index.ts
  packages/client/src/snapJsonRpc.ts
  packages/config/configs/localhost.json
  packages/core/package.json
  packages/core/src/utils/functional.ts
  packages/e2e-tests/scripts/deployAndDeposit.ts
  packages/frontend-sdk/src/api.ts
  packages/frontend-sdk/src/eoaSigKeygen.ts
  packages/frontend-sdk/src/metamask/index.ts
  packages/frontend-sdk/src/metamask/utils.ts
  packages/frontend-sdk/src/sdk.ts
  scripts/dev.sh
  yarn.lock
Owners: @luketchang, @Sladuca, @panieldark

define generalized ActionMetadata type, create in plugins
  packages/client/src/types.ts
  packages/op-request-plugins/src/Erc20Plugin.ts
  packages/op-request-plugins/src/EthTransferAdapterPlugin.ts
  packages/op-request-plugins/src/UniswapV3Plugin/index.ts
  packages/op-request-plugins/src/WstethAdapterPlugin.ts
  packages/op-request-plugins/src/utils.ts
Owners: none

save progress
  packages/config/configs/goerli.json
  packages/deploy/configs/goerli.json
  packages/op-request-plugins/.gitignore
  packages/op-request-plugins/scripts/uniswapTest.ts
  packages/op-request-plugins/src/UniswapV3Plugin/index.ts
  packages/op-request-plugins/src/UniswapV3Plugin/types.ts
  packages/op-request-plugins/tsconfig.json
Owners: @luketchang

correct encoded fn data
  packages/op-request-plugins/src/UniswapV3Plugin/index.ts
Owners: none

prog: start uniswap fork test in e2e test
  packages/e2e-tests/tests/fork/UniswapV3.ts
  packages/op-request-plugins/src/UniswapV3Plugin/index.ts
Owners: @luketchang, @Sladuca

uniswap exact input swap works in e2e test raw
  apps/snap/snap.manifest.json
  packages/config/configs/mainnet.json
  packages/config/src/config.ts
  packages/e2e-tests/src/deploy.ts
  packages/e2e-tests/src/hardhat.ts
  packages/e2e-tests/src/keys.ts
  packages/e2e-tests/tests/fork/UniswapV3.ts
  packages/op-request-plugins/scripts/uniswapTest.ts
  packages/op-request-plugins/src/UniswapV3Plugin/helpers.ts
  packages/op-request-plugins/src/UniswapV3Plugin/index.ts
  packages/op-request-plugins/src/UniswapV3Plugin/types.ts
Owners: @luketchang, @Sladuca

multihop test passes
  apps/snap/snap.manifest.json
  packages/config/configs/mainnet.json
  packages/e2e-tests/hardhat.config.ts
  packages/e2e-tests/src/hardhat.ts
  packages/e2e-tests/tests/fork/UniswapV3.ts
  packages/op-request-plugins/package.json
  packages/op-request-plugins/scripts/uniswapPluginTest.ts
  packages/op-request-plugins/scripts/uniswapRouterTest.ts
  packages/op-request-plugins/src/UniswapV3Plugin/helpers.ts
  packages/op-request-plugins/src/UniswapV3Plugin/index.ts
  packages/op-request-plugins/src/UniswapV3Plugin/types.ts
  yarn.lock
Owners: @luketchang, @Sladuca

changeset
  .changeset/flat-radios-walk.md
  .changeset/selfish-cheetahs-hope.md
Owners: none
