Repository nocturne-xyz/monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luketchang, @Sladuca, @panieldark

.github/CODEOWNERS:

# contracts 

packages/contracts @luketchang

# circuits 

packages/circuits @Sladuca

# apps

packages/snap @luketchang @Sladuca

# actors 

actors/bundler @luketchang @Sladuca
actors/subtree-updater @Sladuca
actors/deposit-screener @Sladuca @luketchang
actors/test-actor @Sladuca @luketchang
actors/insertion-log @Sladuca

# SDKs

packages/core @luketchang @Sladuca
packages/frontend-sdk @luketchang @Sladuca @panieldark

# other packages

packages/config @luketchang
packages/deploy @luketchang
packages/e2e-tests @luketchang @Sladuca
packages/local-prover @Sladuca
packages/crypto-utils @Sladuca
packages/persistent-log @Sladuca

snap audit fixes (#510)
  .changeset/slow-tomatoes-rescue.md
  .changeset/sweet-weeks-rest.md
  apps/snap/package.json
  apps/snap/snap.manifest.json
  apps/snap/src/index.ts
  apps/snap/src/utils/display.ts
  apps/snap/src/validation.ts
  apps/snap/test/validation.ts
  packages/client/src/prepareOperation.ts
  packages/client/src/snapJsonRpc.ts
  packages/frontend-sdk/src/metamask/index.ts
  yarn.lock
Owners: @luketchang, @Sladuca, @panieldark

dont reschedule fillBatch every insertion
  actors/subtree-updater/src/subtreeUpdater.ts
Owners: @Sladuca

changeset
  .changeset/yellow-brooms-join.md
Owners: none

move metrics before call to `batch` so it's easier to see delay
  actors/subtree-updater/src/subtreeUpdater.ts
Owners: @Sladuca

wayne/postgres
  package.json
Owners: none

wayne/postgres-client
  .changeset/forty-cycles-battle.md
  .github/workflows/build-and-test.yml
  package.json
  packages/offchain-utils/.env.test
  packages/offchain-utils/package.json
  packages/offchain-utils/src/configuration.ts
  packages/offchain-utils/src/db.ts
  packages/offchain-utils/test/db.test.ts
  sql/migrations/V000001__initial.sql
Owners: none

rebase
  packages/offchain-utils/package.json
  yarn.lock
Owners: none

[postgres] Client utility and corresponding tests (#502)
  .changeset/forty-cycles-battle.md
  .github/workflows/build-and-test.yml
  package.json
  packages/offchain-utils/.env.test
  packages/offchain-utils/package.json
  packages/offchain-utils/src/configuration.ts
  packages/offchain-utils/src/db.ts
  packages/offchain-utils/test/db.test.ts
  sql/migrations/V000001__initial.sql
  yarn.lock
Owners: none

rename fn
  actors/subtree-updater/src/subtreeUpdater.ts
Owners: @Sladuca

dont reschedule fillBatch every insertion (#513)
  .changeset/yellow-brooms-join.md
  actors/subtree-updater/src/subtreeUpdater.ts
Owners: @Sladuca

track in-flight operations separately in fe-sdk
  packages/frontend-sdk/src/sdk.ts
Owners: @luketchang, @Sladuca, @panieldark

snap manifest
  apps/snap/snap.manifest.json
Owners: none

changeset
  .changeset/eight-cameras-relate.md
Owners: none

commit so gh is happy
  README.md
Owners: none

squash DepositRetrieved and DepositCompleted
  packages/contracts/contracts/DepositManager.sol
  packages/contracts/contracts/test/unit/DepositManager.t.sol
Owners: @luketchang

update subgraph
  apps/snap/snap.manifest.json
Owners: none

changeset
  .changeset/heavy-geckos-shake.md
Owners: none

snap manifest
  apps/snap/snap.manifest.json
Owners: none

expose force flush in offchain utils
  packages/offchain-utils/src/instrumentation.ts
Owners: none

add balance monitor
  actors/balance-monitor/.env.example
  actors/balance-monitor/.eslintignore
  actors/balance-monitor/.eslintrc
  actors/balance-monitor/.gitignore
  actors/balance-monitor/.prettierrc
  actors/balance-monitor/CHANGELOG.md
  actors/balance-monitor/Dockerfile
  actors/balance-monitor/index.ts
  actors/balance-monitor/package.json
  actors/balance-monitor/src/abis/ERC20.json
  actors/balance-monitor/src/index.ts
  actors/balance-monitor/tsconfig.json
  actors/balance-monitor/tsconfig.test.json
  packages/offchain-utils/src/instrumentation.ts
  tsconfig.json
  yarn.lock
Owners: none

test migration flow
  .github/workflows/upload_to_s3.yml
  buildspec.yaml
Owners: none

balance monitor actor
  actors/balance-monitor/Dockerfile
  actors/balance-monitor/index.ts
  actors/balance-monitor/package.json
  actors/balance-monitor/src/index.ts
  packages/offchain-utils/src/instrumentation.ts
  scripts/build_docker.sh
  yarn.lock
Owners: none

push docker cmd
  scripts/build_docker.sh
  scripts/push_docker.sh
Owners: none

try catch
  actors/balance-monitor/src/index.ts
Owners: none

parse ether
  actors/balance-monitor/src/index.ts
Owners: none

pass in gas token
  actors/balance-monitor/.env.example
  actors/balance-monitor/src/index.ts
Owners: none

token ticker
  actors/balance-monitor/src/index.ts
Owners: none

add provider to gas token
  actors/balance-monitor/.env.example
  actors/balance-monitor/src/index.ts
Owners: none

reorder
  actors/balance-monitor/src/index.ts
Owners: none

restructure
  actors/balance-monitor/.env.example
  actors/balance-monitor/package.json
  actors/balance-monitor/src/index.ts
  actors/balance-monitor/src/monitor.ts
  yarn.lock
Owners: none

lint
  actors/balance-monitor/src/monitor.ts
Owners: none

changeset + reset version
  .changeset/early-pears-applaud.md
  actors/balance-monitor/package.json
Owners: none

fix ci
  actors/balance-monitor/package.json
Owners: none

test building flyway image and pushing into ECR
  .github/workflows/build-migrations-and-push.yml
  flyway.Dockerfile
Owners: none

Build a flyway image and push it into ECR using github actions #522
  .github/workflows/build-migrations-and-push.yml
  flyway.Dockerfile
Owners: none

add balance monitor (#520)
  .changeset/early-pears-applaud.md
  actors/balance-monitor/.env.example
  actors/balance-monitor/.eslintignore
  actors/balance-monitor/.eslintrc
  actors/balance-monitor/.gitignore
  actors/balance-monitor/.prettierrc
  actors/balance-monitor/CHANGELOG.md
  actors/balance-monitor/Dockerfile
  actors/balance-monitor/index.ts
  actors/balance-monitor/package.json
  actors/balance-monitor/src/abis/ERC20.json
  actors/balance-monitor/src/index.ts
  actors/balance-monitor/src/monitor.ts
  actors/balance-monitor/tsconfig.json
  actors/balance-monitor/tsconfig.test.json
  packages/offchain-utils/src/instrumentation.ts
  scripts/build_docker.sh
  scripts/push_docker.sh
  tsconfig.json
  yarn.lock
Owners: none

fix verification rate limits and missing constructor args
  packages/deploy/src/deploy.ts
  packages/deploy/src/utils.ts
  packages/deploy/src/verification.ts
Owners: @luketchang

changesets
  .changeset/nervous-clouds-pretend.md
  .changeset/sweet-shirts-whisper.md
Owners: none

fix lint
  packages/deploy/src/utils.ts
Owners: @luketchang

fix verification rate limits and missing constructor args (#524)
  .changeset/nervous-clouds-pretend.md
  .changeset/sweet-shirts-whisper.md
  packages/deploy/src/deploy.ts
  packages/deploy/src/utils.ts
  packages/deploy/src/verification.ts
Owners: @luketchang
