Repository nocturne-xyz/monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luketchang, @Sladuca, @panieldark

.github/CODEOWNERS:

# contracts 

packages/contracts @luketchang

# circuits 

packages/circuits @Sladuca

# apps

packages/snap @luketchang @Sladuca

# actors 

actors/bundler @luketchang @Sladuca
actors/subtree-updater @Sladuca
actors/deposit-screener @Sladuca @luketchang
actors/test-actor @Sladuca @luketchang
actors/insertion-log @Sladuca

# SDKs

packages/core @luketchang @Sladuca
packages/frontend-sdk @luketchang @Sladuca @panieldark

# other packages

packages/config @luketchang
packages/deploy @luketchang
packages/e2e-tests @luketchang @Sladuca
packages/local-prover @Sladuca
packages/crypto-utils @Sladuca
packages/persistent-log @Sladuca

add script that generates test vectors
  packages/contracts/contracts/test/unit/PoseidonExt.t.sol
  packages/core/package.json
  packages/core/scripts/genPoseidonExtTestCase.ts
Owners: @luketchang, @Sladuca

add poseidonExt interfaces, hashers, and bytecode (#473)
  .changeset/clever-timers-reflect.md
  packages/contracts/contracts/test/interfaces/IHasherExt.sol
  packages/contracts/contracts/test/interfaces/IPoseidonExt.sol
  packages/contracts/contracts/test/unit/PoseidonExt.t.sol
  packages/contracts/contracts/test/utils/PoseidonDeployer.sol
  packages/contracts/contracts/test/utils/PoseidonHashers.sol
  packages/contracts/poseidon-bytecode/PoseidonExtT3.txt
  packages/contracts/poseidon-bytecode/PoseidonExtT4.txt
  packages/contracts/poseidon-bytecode/PoseidonExtT7.txt
  packages/core/package.json
  packages/core/scripts/genPoseidonExtTestCase.ts
Owners: @luketchang, @Sladuca

make bundler permissioned, tests pass
  packages/contracts/contracts/Teller.sol
  packages/contracts/contracts/libs/Types.sol
  packages/contracts/contracts/test/fork/Balancer.t.sol
  packages/contracts/contracts/test/fork/Reth.t.sol
  packages/contracts/contracts/test/fork/Uniswap.t.sol
  packages/contracts/contracts/test/fork/Wsteth.t.sol
  packages/contracts/contracts/test/invariant/ProtocolInvariants.t.sol
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
Owners: @luketchang

add forcedExit with dummy joinsplit info commit calculation as TODO
  packages/contracts/contracts/Teller.sol
Owners: @luketchang

fix: forcedExit doesn't use proper joinsplits info len check
  packages/contracts/contracts/Teller.sol
Owners: @luketchang

yarn i
  apps/snap/snap.manifest.json
  yarn.lock
Owners: none

save before rebase
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
Owners: @luketchang

move poseidon ext out of test dir
  packages/contracts/contracts/PoseidonExt.sol
  packages/contracts/contracts/interfaces/IHasherExt.sol
  packages/contracts/contracts/interfaces/IPoseidonExt.sol
  packages/contracts/contracts/test/unit/PoseidonExt.t.sol
  packages/contracts/contracts/test/utils/PoseidonHashers.sol
Owners: @luketchang

remove hasher ifaces for poseidon ext
  packages/contracts/contracts/Teller.sol
  packages/contracts/contracts/test/fork/ForkBase.sol
  packages/contracts/contracts/test/invariant/ProtocolInvariants.t.sol
  packages/contracts/contracts/test/unit/BalanceManager.t.sol
  packages/contracts/contracts/test/unit/DepositManager.t.sol
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
Owners: @luketchang

remove poseidon hasher and ihasher ifaces
  packages/contracts/contracts/PoseidonExt.sol
  packages/contracts/contracts/interfaces/IHasherExt.sol
  packages/contracts/contracts/test/fork/ForkBase.sol
  packages/contracts/contracts/test/interfaces/IHasher.sol
  packages/contracts/contracts/test/invariant/ProtocolInvariants.t.sol
  packages/contracts/contracts/test/invariant/actors/OffchainMerkleHandler.sol
  packages/contracts/contracts/test/unit/BalanceManager.t.sol
  packages/contracts/contracts/test/unit/DepositManager.t.sol
  packages/contracts/contracts/test/unit/OffchainMerkleTree.t.sol
  packages/contracts/contracts/test/unit/PoseidonExt.t.sol
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
  packages/contracts/contracts/test/utils/IncrementalTree.sol
  packages/contracts/contracts/test/utils/PoseidonDeployer.sol
  packages/contracts/contracts/test/utils/PoseidonHashers.sol
  packages/contracts/contracts/test/utils/TreeTest.sol
Owners: @luketchang

fix unit tests
  packages/contracts/contracts/test/unit/PoseidonExt.t.sol
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
Owners: @luketchang

teller forceExit uses poseidonT7
  packages/contracts/contracts/Teller.sol
Owners: @luketchang

forcedExit unit test passes
  packages/contracts/contracts/Teller.sol
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
Owners: @luketchang

only bundler not this
  packages/contracts/contracts/Teller.sol
Owners: @luketchang

make forcedExit nonReentrant, ForcedExit event returns opdigests
  packages/contracts/contracts/Teller.sol
  packages/contracts/contracts/interfaces/ITeller.sol
  packages/contracts/contracts/test/invariant/actors/TellerHandler.sol
  packages/contracts/contracts/test/unit/OffchainMerkleTree.t.sol
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
  packages/contracts/contracts/test/utils/PoseidonDeployer.sol
Owners: @luketchang

document forcedExit function
  packages/contracts/contracts/Teller.sol
Owners: @luketchang

[Dep Screener] Add honest TC users ruleset tests
  actors/deposit-screener/src/screening/checks/apiCalls.ts
  actors/deposit-screener/src/screening/checks/v1/RULESET_V1.ts
  actors/deposit-screener/test/RULESET_V1.test.ts
  actors/deposit-screener/test/scripts/generateRulesetV1CallsSnapshot.ts
  actors/deposit-screener/test/snapshots/2023-09-27/snapshot.json
  actors/deposit-screener/test/snapshots/2023-9-25/snapshot.json
  actors/deposit-screener/test/utils.ts
Owners: @Sladuca, @luketchang

fix typo in merkleIndicesWithSignBits in circuit/contracts, fix deploy script to deploy poseidonExtT7
  apps/snap/snap.manifest.json
  packages/circuits/circuits/joinsplit.circom
  packages/contracts/contracts/Teller.sol
  packages/contracts/contracts/libs/Types.sol
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
  packages/contracts/hardhat.config.ts
  packages/contracts/index.ts
  packages/deploy/src/deploy.ts
Owners: @Sladuca, @luketchang

e2e tests pass, bundler server takes bundler addr to properly simulate with from = bundler addr when checking for reverts
  actors/bundler/src/cli/commands/run/server.ts
  actors/bundler/src/opValidation.ts
  actors/bundler/src/routes.ts
  actors/bundler/src/server.ts
  apps/snap/snap.manifest.json
  packages/config/configs/example-network.json
  packages/config/src/deployment.ts
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
  packages/deploy/configs/example.json
  packages/deploy/configs/goerli.json
  packages/deploy/configs/sepolia.json
  packages/deploy/src/config.ts
  packages/deploy/src/deploy.ts
  packages/e2e-tests/src/bundler.ts
  packages/e2e-tests/src/deploy.ts
Owners: @luketchang, @Sladuca

check for ForcedExit log in unit test
  packages/contracts/contracts/test/harnesses/TestTeller.sol
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
Owners: @luketchang

e2e tests work for old tests, forcedExit test failing due to invalid burn address
  apps/snap/snap.manifest.json
  packages/core/src/prepareOperation.ts
  packages/core/src/primitives/types.ts
  packages/core/src/proof/joinsplit.ts
  packages/e2e-tests/tests/EndToEnd.ts
  packages/e2e-tests/tests/ForcedExit.ts
Owners: @luketchang, @Sladuca

changesets
  .changeset/angry-dingos-deliver.md
  .changeset/healthy-suns-move.md
  .changeset/kind-points-compare.md
  .changeset/long-coins-brake.md
  .changeset/polite-yaks-guess.md
  .changeset/quiet-papayas-repair.md
  .changeset/swift-lies-roll.md
Owners: none

add changeset
  .changeset/hip-rats-yawn.md
Owners: none

[Dep Screener] Add honest TC users ruleset tests (#468)
  .changeset/hip-rats-yawn.md
  actors/deposit-screener/src/screening/checks/apiCalls.ts
  actors/deposit-screener/src/screening/checks/v1/RULESET_V1.ts
  actors/deposit-screener/test/RULESET_V1.test.ts
  actors/deposit-screener/test/scripts/generateRulesetV1CallsSnapshot.ts
  actors/deposit-screener/test/snapshots/2023-09-27/snapshot.json
  actors/deposit-screener/test/snapshots/2023-9-25/snapshot.json
  actors/deposit-screener/test/utils.ts
Owners: @Sladuca, @luketchang

joinsplit bypasses refund addr ownership check if it\'s (BasePoint, BasePoint)
  circuit-artifacts/joinsplit/joinsplit_cpp/vkey.json
  packages/circuits/circuits/joinsplit.circom
  packages/circuits/circuits/lib.circom
  packages/contracts/contracts/JoinSplitVerifier.sol
  packages/crypto/test/utils.ts
Owners: @Sladuca, @luketchang

update fixture
  apps/snap/snap.manifest.json
  fixtures/joinsplit_0_publicSpend.json
  fixtures/joinsplit_100_publicSpend.json
Owners: none

storage layout and changeset
  .changeset/dry-schools-change.md
  .changeset/lazy-flowers-ring.md
Owners: none

copy circuit artfiacts
  .changeset/curly-poets-run.md
  apps/snap/snap.manifest.json
  packages/frontend-sdk/circuit-artifacts/joinsplit/joinsplitVkey.json
Owners: @luketchang, @Sladuca, @panieldark

fix pepega switched domain seps
  apps/snap/snap.manifest.json
  circuit-artifacts/joinsplit/joinsplit_cpp/vkey.json
  fixtures/joinsplit_0_publicSpend.json
  fixtures/joinsplit_100_publicSpend.json
  packages/circuits/circuits/joinsplit.circom
  packages/contracts/contracts/JoinSplitVerifier.sol
  packages/core/src/proof/joinsplit.ts
  packages/frontend-sdk/circuit-artifacts/joinsplit/joinsplitVkey.json
Owners: @Sladuca, @luketchang, @panieldark

(circuits, contracts) joinsplit bypasses refund addr ownership check if it's (BasePoint, BasePoint) (#477)
  .changeset/curly-poets-run.md
  .changeset/dry-schools-change.md
  .changeset/lazy-flowers-ring.md
  apps/snap/snap.manifest.json
  circuit-artifacts/joinsplit/joinsplit_cpp/vkey.json
  fixtures/joinsplit_0_publicSpend.json
  fixtures/joinsplit_100_publicSpend.json
  packages/circuits/circuits/joinsplit.circom
  packages/circuits/circuits/lib.circom
  packages/contracts/contracts/JoinSplitVerifier.sol
  packages/core/src/proof/joinsplit.ts
  packages/crypto/test/utils.ts
  packages/frontend-sdk/circuit-artifacts/joinsplit/joinsplitVkey.json
Owners: @Sladuca, @luketchang, @panieldark

fix other branch
  apps/snap/snap.manifest.json
  packages/crypto/src/hybrid-encryption/index.ts
Owners: none

make hybrid decryption more constant-time
  apps/snap/snap.manifest.json
  packages/core/src/noteEncryption.ts
  packages/crypto/src/hybrid-encryption/index.ts
  packages/crypto/test/hybridCipher.test.ts
Owners: @luketchang, @Sladuca

changeset
  .changeset/violet-actors-clap.md
Owners: none

snap manifest
  apps/snap/snap.manifest.json
Owners: none

add separate fromBytesUnsafe that returns null instead of throwing error
  apps/snap/snap.manifest.json
  packages/crypto/src/BabyJubJub.ts
  packages/crypto/src/hybrid-encryption/index.ts
  packages/crypto/test/hybridCipher.test.ts
Owners: none

fix noble footgun
  apps/snap/snap.manifest.json
  packages/crypto/src/BabyJubJub.ts
  packages/crypto/src/hybrid-encryption/index.ts
Owners: none

Remove stale clearDb code from snap fe-sdk (#452)
  .changeset/clean-games-grin.md
  packages/frontend-sdk/src/api.ts
  packages/frontend-sdk/src/metamask/index.ts
  packages/frontend-sdk/src/sdk.ts
Owners: @luketchang, @Sladuca, @panieldark

(crypto) make hybrid-encryption more constant-time (#471)
  .changeset/violet-actors-clap.md
  apps/snap/snap.manifest.json
  packages/core/src/noteEncryption.ts
  packages/crypto/src/BabyJubJub.ts
  packages/crypto/src/hybrid-encryption/index.ts
  packages/crypto/test/hybridCipher.test.ts
Owners: @luketchang, @Sladuca

update sdk event fetch function to use flattened entity
  packages/core/src/sync/subgraph/core/fetch.ts
Owners: @luketchang, @Sladuca

update insertion event fetch function to use flattened entity
  actors/insertion-writer/package.json
  actors/insertion-writer/src/sync/subgraph/fetch.ts
  apps/snap/snap.manifest.json
  yarn.lock
Owners: none
