Repository nocturne-xyz/monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luketchang, @Sladuca, @panieldark

.github/CODEOWNERS:

# Contracts

packages/contracts @luketchang

# Circuits

packages/circuits @Sladuca

# SDKs

packages/wallet-sdk @luketchang @Sladuca

# Frontend

packages/sdk @luketchang @Sladuca @panieldark

# Offchain

packages/bundler @luketchang @Sladuca
packages/subtree-updater @Sladuca
packages/deposit-screener @Sladuca @luketchang
packages/test-actor @Sladuca @luketchang

# Other Packages

packages/deploy @luketchang
packages/e2e-tests @luketchang @Sladuca
packages/local-prover @Sladuca
packages/snap @luketchang @Sladuca

Remove dummySafeDepositCheck (#392)
  packages/deposit-screener/src/waitEstimation/index.ts
Owners: @Sladuca, @luketchang

clean in sdk publish script
  packages/sdk/package.json
Owners: @luketchang, @Sladuca, @panieldark

bump sdk and config in offchain
  packages/bundler/package.json
  packages/deposit-screener/package.json
  packages/subtree-updater/package.json
  packages/test-actor/package.json
  yarn.lock
Owners: @luketchang, @Sladuca

delete sepolia2 -> sepolia, bump config and sdk
  packages/config/configs/sepolia.json
  packages/config/configs/sepolia2.json
  packages/config/package.json
  packages/sdk/package.json
Owners: @luketchang, @Sladuca, @panieldark

fix: reorder changelog entries to put pre-audit offchain stuff after audit changes
  packages/bundler/CHANGELOG.md
  packages/bundler/package.json
  packages/deposit-screener/CHANGELOG.md
  packages/frontend-sdk/CHANGELOG.md
  packages/sdk/CHANGELOG.md
  packages/snap/CHANGELOG.md
  packages/test-actor/CHANGELOG.md
Owners: @luketchang, @Sladuca, @panieldark

snap manifest
  packages/snap/snap.manifest.json
Owners: @luketchang, @Sladuca

update snap sepolia info, bump fe-sdk
  packages/bundler/package.json
  packages/frontend-sdk/package.json
  packages/local-prover/package.json
  packages/snap/snap.manifest.json
  packages/snap/src/index.ts
Owners: @luketchang, @Sladuca

bump snap version
  packages/snap/package.json
Owners: @luketchang, @Sladuca

fix: correct config pkg version, fix style for chainid var in test actor
  packages/deposit-screener/package.json
  packages/subtree-updater/package.json
  packages/test-actor/package.json
  packages/test-actor/src/actor.ts
  yarn.lock
Owners: @Sladuca, @luketchang

parse config name and tag logger
  packages/bundler/package.json
  packages/bundler/src/cli/commands/run/batcher.ts
  packages/bundler/src/cli/commands/run/server.ts
  packages/bundler/src/cli/commands/run/submitter.ts
  packages/config/src/index.ts
  packages/config/src/utils.ts
  packages/deposit-screener/package.json
  packages/deposit-screener/src/cli/commands/run/processor.ts
  packages/deposit-screener/src/cli/commands/run/server.ts
  packages/frontend-sdk/src/sdk.ts
  packages/subtree-updater/package.json
  packages/subtree-updater/src/cli/commands/run/runSubtreeUpdater.ts
  packages/test-actor/package.json
  packages/test-actor/src/cli/run.ts
  yarn.lock
Owners: @luketchang, @Sladuca

fix screener dummy vals to not bleed into non dummy code
  packages/deposit-screener/src/check.ts
  packages/deposit-screener/src/screener.ts
  packages/deposit-screener/src/screenerDelay/dummy.ts
  packages/deposit-screener/src/screening/dummy.ts
  packages/deposit-screener/src/utils.ts
  packages/snap/snap.manifest.json
Owners: @Sladuca, @luketchang

bump config to include config name parse util, eslint ignore \/
  packages/config/package.json
  packages/config/src/utils.ts
  packages/snap/snap.manifest.json
Owners: @luketchang, @Sladuca

bump config pkg
  packages/bundler/package.json
  packages/deposit-screener/package.json
  packages/subtree-updater/package.json
  packages/test-actor/package.json
  yarn.lock
Owners: @luketchang, @Sladuca

fix nits
  packages/deploy/configs/sepolia2.json
  packages/e2e-tests/tests/optimisticRecordTracking.ts
Owners: @luketchang, @Sladuca

remove test:ci
  .github/workflows/build-and-test.yml
  package.json
  packages/bundler/package.json
  packages/bundler/test/CLI.test.ci.ts
  turbo.json
Owners: @luketchang, @Sladuca

move snap out to apps sub-workspace
  actors/deposit-screener/package.json
  apps/snap/.eslintignore
  apps/snap/.eslintrc
  apps/snap/CHANGELOG.md
  apps/snap/README.md
  apps/snap/images/icon.svg
  apps/snap/package.json
  apps/snap/scripts/build_local.sh
  apps/snap/snap.config.js
  apps/snap/snap.manifest.json
  apps/snap/src/index.ts
  apps/snap/src/snapdb.ts
  apps/snap/src/utils/display.ts
  apps/snap/tsconfig.json
  package.json
  packages/config/package.json
  packages/config/tsconfig.json
  packages/crypto-utils/tsconfig.json
  tsconfig.json
  turbo.json
  yarn.lock
Owners: none

bundler dockerfile uses workspace deps
  .dockerignore
  actors/bundler/Dockerfile
  package.json
Owners: none

update rest of dockerifles
  actors/deposit-screener/Dockerfile
  actors/subtree-updater/Dockerfile
  actors/test-actor/Dockerfile
Owners: none

apply changes to rest of actors, unify build to single script
  actors/bundler/build_docker.sh
  actors/bundler/package.json
  actors/deposit-screener/build_docker.sh
  actors/deposit-screener/package.json
  actors/deposit-screener/push_docker.sh
  actors/subtree-updater/Mock.Dockerfile
  actors/subtree-updater/build_docker.sh
  actors/subtree-updater/build_mock_docker.sh
  actors/subtree-updater/package.json
  actors/test-actor/build_docker.sh
  actors/test-actor/package.json
  actors/test-actor/push_docker.sh
  scripts/build_docker.sh
  scripts/download-subtreeupdate-artifacts.sh
  scripts/prepare_docker.sh
  scripts/push-docker-dev.sh
  scripts/push_docker.sh
Owners: none

add dev scripts using nodemon
  actors/bundler/.env.dev
  actors/bundler/package.json
  actors/deposit-screener/.env.dev
  actors/deposit-screener/package.json
  actors/subtree-updater/.env.dev
  actors/subtree-updater/package.json
  yarn.lock
Owners: none

sdk -> back to fe-sdk
  packages/frontend-sdk/.eslintignore
  packages/frontend-sdk/.eslintrc
  packages/frontend-sdk/.prettierrc
  packages/frontend-sdk/CHANGELOG.md
  packages/frontend-sdk/circuit-artifacts/joinsplit/joinsplit.wasm
  packages/frontend-sdk/circuit-artifacts/joinsplit/joinsplitVkey.json
  packages/frontend-sdk/global.d.ts
  packages/frontend-sdk/index.ts
  packages/frontend-sdk/package.json
  packages/frontend-sdk/src/abis/ERC1155.json
  packages/frontend-sdk/src/abis/ERC20.json
  packages/frontend-sdk/src/abis/ERC721.json
  packages/frontend-sdk/src/api.ts
  packages/frontend-sdk/src/sdk.ts
  packages/frontend-sdk/src/types.ts
  packages/frontend-sdk/src/utils.ts
  packages/frontend-sdk/tsconfig.json
  packages/frontend-sdk/tsconfig.test.json
  packages/snap/snap.manifest.json
  turbo.json
  yarn.lock
Owners: @luketchang, @Sladuca

PR feedback
  packages/frontend-sdk/src/sdk.ts
  packages/test-actor/package.json
Owners: @Sladuca, @luketchang

use returned event
  packages/frontend-sdk/src/sdk.ts
  packages/frontend-sdk/src/utils.ts
  packages/snap/snap.manifest.json
Owners: @luketchang, @Sladuca

Unused import
  packages/frontend-sdk/src/sdk.ts
Owners: none

PR feedback
  packages/sdk/src/metamask/index.ts
Owners: @luketchang, @Sladuca, @panieldark

use returned event
  packages/frontend-sdk/src/sdk.ts
Owners: none

added gql client, working getAllDeposits TODO add getPendingDepositsUpdate
  packages/frontend-sdk/codegen.ts
  packages/frontend-sdk/src/gql/autogenerated/fragment-masking.ts
  packages/frontend-sdk/src/gql/autogenerated/gql.ts
  packages/frontend-sdk/src/gql/autogenerated/graphql.ts
  packages/frontend-sdk/src/gql/autogenerated/index.ts
  packages/frontend-sdk/src/gql/queries/DepositRequestsBySpenderAndCreatedAtQueryDocument.ts
  packages/frontend-sdk/src/gql/queries/DepositRequestsBySpenderQueryDocument.ts
  packages/frontend-sdk/src/gql/urqlClient.ts
  packages/frontend-sdk/src/sdk.ts
  packages/frontend-sdk/src/types.ts
  packages/frontend-sdk/src/utils.ts
Owners: none

async thunk, remove unused FnChain
  packages/frontend-sdk/src/sdk.ts
  packages/frontend-sdk/src/utils.ts
Owners: none

InitiateDepositResult -> DepositHandleWithReceipt[], network -> config
  packages/frontend-sdk/src/api.ts
  packages/frontend-sdk/src/sdk.ts
  packages/frontend-sdk/src/types.ts
  packages/frontend-sdk/src/utils.ts
Owners: none

save, batch verify failing
  packages/e2e-tests/tests/EndToEnd.ts
  packages/snap/snap.manifest.json
Owners: @luketchang, @Sladuca

break tracked asset getter into own fn
  packages/sdk/src/primitives/operation.ts
  packages/snap/snap.manifest.json
Owners: @luketchang, @Sladuca, @panieldark

stringify + sort when making asset arrays
  packages/sdk/src/primitives/operation.ts
  packages/sdk/src/proof/joinsplit.ts
Owners: @luketchang, @Sladuca, @panieldark

changelogs + fix e2e test offchain check
  packages/e2e-tests/CHANGELOG.md
  packages/e2e-tests/tests/EndToEnd.ts
  packages/sdk/CHANGELOG.md
Owners: @luketchang, @Sladuca, @panieldark

remove unused
  packages/frontend-sdk/src/utils.ts
  yarn.lock
Owners: none

bump sdk
  packages/sdk/package.json
  packages/snap/snap.manifest.json
Owners: @luketchang, @Sladuca, @panieldark

bump sdk in test actor, bump snap
  packages/snap/package.json
  packages/snap/snap.manifest.json
  packages/test-actor/package.json
  yarn.lock
Owners: @luketchang, @Sladuca

add urql to pkg.json
  packages/frontend-sdk/codegen.ts
  packages/frontend-sdk/package.json
  packages/frontend-sdk/src/gql/autogenerated/graphql.ts
  yarn.lock
Owners: none

bump fe sdk
  packages/frontend-sdk/package.json
Owners: none

Frontend SDK Refactor — pt 1 (#394)
  circuit-artifacts/joinsplit/joinsplit_cpp/Makefile
  packages/config/src/config.ts
  packages/frontend-sdk/index.ts
  packages/frontend-sdk/src/api.ts
  packages/frontend-sdk/src/joinsplit/joinsplit.wasm
  packages/frontend-sdk/src/joinsplit/joinsplitVkey.json
  packages/frontend-sdk/src/sdk.ts
  packages/frontend-sdk/src/types.ts
  packages/frontend-sdk/src/utils.ts
  packages/frontend-sdk/tsconfig.json
  packages/sdk/src/NocturneWalletSDK.ts
  packages/snap/snap.manifest.json
  packages/snap/src/index.ts
Owners: @luketchang, @Sladuca, @panieldark

pin test actor ethers
  packages/test-actor/package.json
  yarn.lock
Owners: @Sladuca, @luketchang
