Repository nocturne-xyz/monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luketchang, @Sladuca, @panieldark

cleanup
  actors/deposit-screener/src/cli/commands/inspect/check.ts
  actors/deposit-screener/src/cli/commands/inspect/snapshot.ts
  actors/deposit-screener/src/screening/checks/RuleSet.ts
  packages/offchain-utils/src/request.ts
Owners: @Sladuca, @luketchang

pin binary to 7.2.0
  actors/bundler/test/Batcher.test.ts
  actors/bundler/test/BatcherDB.test.ts
  actors/bundler/test/StatusDB.test.ts
  actors/deposit-screener/test/RULESET_V1.test.ts
  actors/deposit-screener/test/RuleSet.test.ts
  actors/insertion-writer/test/testInsertionLog.ts
  packages/e2e-tests/src/utils.ts
  packages/persistent-log/test/index.ts
Owners: @luketchang, @Sladuca

update gha file
  .github/workflows/build-and-test.yml
Owners: none

remove makeclean
  .github/workflows/build-and-test.yml
Owners: none

rename fields
  packages/client/src/types.ts
  packages/frontend-sdk/src/api.ts
  packages/frontend-sdk/src/sdk.ts
  packages/op-request-plugins/src/EthTransferAdapterPlugin.ts
  packages/op-request-plugins/test/plugins.test.ts
Owners: @luketchang, @Sladuca, @panieldark

Update yarn.lock
  yarn.lock
Owners: none

update content to be a list
  apps/snap/src/index.ts
  apps/snap/src/utils/display.ts
Owners: none

Packages
  apps/snap/package.json
  apps/snap/snap.manifest.json
Owners: none

technically correct display
  apps/snap/src/utils/display.ts
Owners: none

Changesets
  .changeset/nice-brooms-wash.md
  .changeset/swift-coats-juggle.md
Owners: none

rebase
  apps/snap/snap.manifest.json
  yarn.lock
Owners: none

Update Snap content for new action types (#503)
  .changeset/nice-brooms-wash.md
  .changeset/swift-coats-juggle.md
  apps/snap/package.json
  apps/snap/snap.manifest.json
  apps/snap/src/index.ts
  apps/snap/src/utils/display.ts
  packages/client/src/types.ts
  packages/frontend-sdk/src/api.ts
  packages/frontend-sdk/src/sdk.ts
  packages/op-request-plugins/src/EthTransferAdapterPlugin.ts
  packages/op-request-plugins/test/plugins.test.ts
Owners: @luketchang, @Sladuca, @panieldark

sigint handling + early exit from call fail
  actors/deposit-screener/src/cli/commands/inspect/check.ts
  actors/deposit-screener/src/cli/commands/inspect/snapshot.ts
  actors/deposit-screener/src/cli/commands/inspect/utils.ts
Owners: @Sladuca, @luketchang

screener inspect cli + check command (#508)
  .changeset/friendly-cars-chew.md
  .changeset/rare-baboons-retire.md
  actors/deposit-screener/.gitignore
  actors/deposit-screener/package.json
  actors/deposit-screener/src/cli/commands/inspect/check.ts
  actors/deposit-screener/src/cli/commands/inspect/index.ts
  actors/deposit-screener/src/cli/commands/inspect/snapshot.ts
  actors/deposit-screener/src/cli/commands/inspect/utils.ts
  actors/deposit-screener/src/cli/commands/run/index.ts
  actors/deposit-screener/src/cli/index.ts
  actors/deposit-screener/src/screening/checks/RuleSet.ts
  actors/deposit-screener/src/screening/checks/v1/RULESET_V1.ts
  actors/deposit-screener/src/utils.ts
  actors/deposit-screener/test/RULESET_V1.test.ts
  actors/deposit-screener/test/scripts/generateRulesetV1CallsSnapshot.ts
  actors/deposit-screener/test/snapshotTestCases.ts
  actors/deposit-screener/test/utils.ts
  packages/offchain-utils/src/request.ts
Owners: @Sladuca, @luketchang

remove keyprefix for connection options for bullmq
  actors/bundler/src/batcher.ts
  actors/bundler/src/server.ts
  actors/deposit-screener/src/screener.ts
  actors/deposit-screener/src/server.ts
Owners: @luketchang, @Sladuca

update worker side
  actors/bundler/src/batcher.ts
  actors/bundler/src/submitter.ts
  actors/deposit-screener/src/fulfiller.ts
  actors/deposit-screener/src/screener.ts
  yarn.lock
Owners: @luketchang, @Sladuca

try to use apt to install redis and use that binary
  .github/workflows/build-and-test-e2e.yml
  actors/deposit-screener/src/cli/commands/inspect/snapshot.ts
Owners: @Sladuca, @luketchang

fix build-and-test
  .github/workflows/build-and-test.yml
Owners: none

Use apt to install the redis server on the node runner and configure redis-memory-server to use the system redis-server installation (#512)
  .github/workflows/build-and-test-e2e.yml
  .github/workflows/build-and-test.yml
  actors/deposit-screener/src/cli/commands/inspect/snapshot.ts
Owners: @Sladuca, @luketchang

wayne/postgres
  docker-compose.yaml
  package.json
  sql/migrate-with-retry.sh
  sql/migrations/V000001__initial.sql
Owners: none

use random available port for redis in e2e tests
  docker-compose.postgres.yaml
  package.json
  packages/e2e-tests/package.json
  packages/e2e-tests/src/utils.ts
Owners: @luketchang, @Sladuca

rollback some changes to get CI into good shape
  docker-compose.yaml
  package.json
  packages/e2e-tests/package.json
  packages/e2e-tests/src/utils.ts
Owners: @luketchang, @Sladuca

rebase
  yarn.lock
Owners: none

changeset
  .changeset/swift-glasses-grab.md
Owners: none

fix log tip
  actors/insertion-writer/src/index.ts
Owners: none

fix invalid start index when in middle of batch
  sync/subgraph-sync-adapters/src/treeInsertions/fetch.ts
  sync/subgraph-sync-adapters/src/treeInsertions/index.ts
Owners: none

yarn lock
  yarn.lock
Owners: none

[postgres] add local image and migrations (#501)
  docker-compose.yaml
  sql/migrate-with-retry.sh
  sql/migrations/V000001__initial.sql
  yarn.lock
Owners: none

(insertion writer) fix invalid start merkle index (#511)
  .changeset/swift-glasses-grab.md
  actors/insertion-writer/src/index.ts
  sync/subgraph-sync-adapters/src/treeInsertions/fetch.ts
  sync/subgraph-sync-adapters/src/treeInsertions/index.ts
Owners: none

add newline/carriage return check + origin whitelist
  apps/snap/snap.manifest.json
  apps/snap/src/index.ts
  apps/snap/src/utils/display.ts
Owners: none

set spend key passes superstruct validation
  apps/snap/snap.manifest.json
  apps/snap/src/validation.ts
  apps/snap/test/validation.ts
  packages/client/src/snapJsonRpc.ts
  packages/frontend-sdk/src/metamask/index.ts
Owners: @luketchang, @Sladuca, @panieldark

assert superstruct for other params
  apps/snap/snap.manifest.json
  apps/snap/src/index.ts
Owners: none

add superstruct validation and unit tests, TODO validate in snap index.ts
  apps/snap/package.json
  apps/snap/snap.manifest.json
  apps/snap/src/index.ts
  apps/snap/src/validation.ts
  apps/snap/test/validation.ts
  yarn.lock
Owners: none

add joinsplit to presignop
  apps/snap/snap.manifest.json
  apps/snap/src/index.ts
  apps/snap/src/validation.ts
  apps/snap/test/validation.ts
Owners: none

delete old comments
  apps/snap/test/validation.ts
  packages/client/src/snapJsonRpc.ts
Owners: none

sign op passes snap invoke
  apps/snap/snap.manifest.json
  apps/snap/src/index.ts
  apps/snap/src/validation.ts
  apps/snap/test/validation.ts
  packages/client/src/prepareOperation.ts
Owners: none

ensure undefined params for other fns
  apps/snap/src/index.ts
  apps/snap/src/validation.ts
Owners: none

changesets
  .changeset/slow-tomatoes-rescue.md
  .changeset/sweet-weeks-rest.md
Owners: none

nit naming
  apps/snap/src/validation.ts
Owners: none

snap manifest
  apps/snap/snap.manifest.json
Owners: none

.github/CODEOWNERS:

# contracts 

packages/contracts @luketchang

# circuits 

packages/circuits @Sladuca

# apps

packages/snap @luketchang @Sladuca

# actors 

actors/bundler @luketchang @Sladuca
actors/subtree-updater @Sladuca
actors/deposit-screener @Sladuca @luketchang
actors/test-actor @Sladuca @luketchang
actors/insertion-log @Sladuca

# SDKs

packages/core @luketchang @Sladuca
packages/frontend-sdk @luketchang @Sladuca @panieldark

# other packages

packages/config @luketchang
packages/deploy @luketchang
packages/e2e-tests @luketchang @Sladuca
packages/local-prover @Sladuca
packages/crypto-utils @Sladuca
packages/persistent-log @Sladuca
