Repository nocturne-xyz/monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luketchang, @Sladuca, @panieldark

tests pass again with serialized responses no extraactor
  actors/deposit-screener/src/screening/checks/apiCalls.ts
  actors/deposit-screener/test/RULESET_V1.test.ts
  actors/deposit-screener/test/utils.ts
  apps/snap/snap.manifest.json
  packages/offchain-utils/src/request.ts
Owners: @Sladuca, @luketchang

fix snapshot for zunami exploiter
  actors/deposit-screener/test/snapshots/2023-09-29/snapshot.json
Owners: @Sladuca, @luketchang

RULESET_V1 tests passing
  actors/deposit-screener/test/RULESET_V1.test.ts
  actors/deposit-screener/test/snapshots/2023-09-29/snapshot.json
Owners: @Sladuca, @luketchang

address daniel comments
  actors/deposit-screener/src/screening/checks/RuleSet.ts
  actors/deposit-screener/src/screening/checks/apiCalls.ts
  actors/deposit-screener/src/screening/checks/v1/RULESET_V1.ts
Owners: @Sladuca, @luketchang

comment in ruleset tests
  actors/deposit-screener/test/RuleSet.test.ts
Owners: @Sladuca, @luketchang

snap manifest
  apps/snap/snap.manifest.json
Owners: none

checking CI
  README.md
Owners: none

fix tests after making baseDelaySeconds required
  actors/deposit-screener/src/screening/checks/RuleSet.ts
  actors/deposit-screener/src/screening/checks/v1/RULESET_V1.ts
  actors/deposit-screener/test/RuleSet.test.ts
Owners: @Sladuca, @luketchang

remove stale console logs
  actors/deposit-screener/src/screening/checks/apiCalls.ts
  actors/deposit-screener/src/screening/checks/v1/RULESET_V1.ts
  actors/deposit-screener/test/RULESET_V1.test.ts
  packages/offchain-utils/src/request.ts
Owners: @Sladuca, @luketchang

shorten cached fetch name
  actors/deposit-screener/src/screening/checks/apiCalls.ts
  packages/offchain-utils/src/request.ts
Owners: @Sladuca, @luketchang

changesets
  .changeset/nice-poems-dance.md
  .changeset/stupid-zoos-type.md
Owners: none

snap manifest
  apps/snap/snap.manifest.json
  packages/config/configs/localhost.json
Owners: @luketchang

try modifying
  package.json
  yarn.lock
Owners: none

update case statement
  actors/deposit-screener/src/screening/checks/apiCalls.ts
  apps/snap/snap.manifest.json
Owners: @Sladuca, @luketchang

lint fixes
  actors/deposit-screener/src/screening/checks/apiCalls.ts
  actors/deposit-screener/src/screening/checks/v1/RULESET_V1.ts
Owners: @Sladuca, @luketchang

more time for screener test
  actors/deposit-screener/package.json
Owners: @Sladuca, @luketchang

address comments
  actors/deposit-screener/package.json
  actors/deposit-screener/src/screening/checks/apiCalls.ts
  actors/deposit-screener/src/screening/index.ts
  actors/deposit-screener/test/RULESET_V1.test.ts
  actors/deposit-screener/test/utils.ts
  packages/offchain-utils/src/request.ts
  yarn.lock
Owners: @Sladuca, @luketchang

fix stable stringify dep
  actors/deposit-screener/package.json
  actors/deposit-screener/test/utils.ts
  packages/offchain-utils/package.json
  yarn.lock
Owners: @Sladuca, @luketchang

fix e2e fork block num
  packages/e2e-tests/src/hardhat.ts
Owners: @luketchang, @Sladuca

Add screener caching (#498)
  .changeset/nice-poems-dance.md
  .changeset/stupid-zoos-type.md
  actors/deposit-screener/package.json
  actors/deposit-screener/src/screener.ts
  actors/deposit-screener/src/screening/checks/RuleSet.ts
  actors/deposit-screener/src/screening/checks/apiCalls.ts
  actors/deposit-screener/src/screening/checks/v1/RULESET_V1.ts
  actors/deposit-screener/src/screening/index.ts
  actors/deposit-screener/test/RULESET_V1.test.ts
  actors/deposit-screener/test/RuleSet.test.ts
  actors/deposit-screener/test/snapshots/2023-09-29/snapshot.json
  actors/deposit-screener/test/utils.ts
  actors/deposit-screener/tsconfig.json
  packages/config/configs/localhost.json
  packages/e2e-tests/src/hardhat.ts
  packages/frontend-sdk/src/sdk.ts
  packages/offchain-utils/package.json
  packages/offchain-utils/src/request.ts
  yarn.lock
Owners: @Sladuca, @luketchang, @panieldark

testing cursed branch
  docker-compose.yaml
  sql/migrate-with-retry.sh
  sql/migrations/V000001__initial.sql
Owners: none

wayne/rule-tweaks
  .changeset/curvy-ligers-kick.md
  actors/deposit-screener/src/screening/checks/v1/RULESET_V1.ts
  actors/deposit-screener/test/RULESET_V1.test.ts
  actors/deposit-screener/test/utils.ts
Owners: @Sladuca, @luketchang

Replace redis-memory-server with ioredis-mock
  packages/e2e-tests/package.json
  packages/e2e-tests/src/insertionWriter.ts
  packages/e2e-tests/src/subtreeUpdater.ts
  packages/e2e-tests/src/utils.ts
  yarn.lock
Owners: @luketchang, @Sladuca

bump the ram
  packages/e2e-tests/package.json
Owners: @luketchang, @Sladuca

bump to 8gb
  packages/e2e-tests/package.json
Owners: @luketchang, @Sladuca

[deposit screener] tweak rules for increase acceptance rate #500
  .changeset/curvy-ligers-kick.md
  actors/deposit-screener/src/screening/checks/v1/RULESET_V1.ts
  actors/deposit-screener/test/RULESET_V1.test.ts
  actors/deposit-screener/test/utils.ts
Owners: @Sladuca, @luketchang

fix(redis-ci): use docker compose to host redis for e2e testing
  .github/workflows/build-and-test-e2e.yml
  docker-compose.yaml
  packages/e2e-tests/src/insertionWriter.ts
  packages/e2e-tests/src/subtreeUpdater.ts
  packages/e2e-tests/src/utils.ts
Owners: @luketchang, @Sladuca

try 2gb with key prefix
  packages/e2e-tests/package.json
  packages/e2e-tests/src/utils.ts
Owners: @luketchang, @Sladuca

wayne/screener-test-script
  actors/deposit-screener/package.json
  actors/deposit-screener/src/cli/commands/run/addressInspector.ts
  actors/deposit-screener/src/cli/commands/run/index.ts
  actors/deposit-screener/src/screening/checks/RuleSet.ts
  actors/deposit-screener/src/screening/checks/v1/RULESET_V1.ts
  actors/deposit-screener/src/utils.ts
  actors/deposit-screener/test/scripts/generateRulesetV1CallsSnapshot.ts
Owners: @Sladuca, @luketchang

working on rebase - wip
  actors/deposit-screener/src/cli/commands/run/addressInspector.ts
  packages/offchain-utils/src/request.ts
Owners: @Sladuca, @luketchang

save changes
  actors/deposit-screener/TornadoDateRangeNoMining100-300.csv
  actors/deposit-screener/TornadoDateRangeNoMiningFirst100.csv
  actors/deposit-screener/addrs.csv
  actors/deposit-screener/output-accepted.json
  actors/deposit-screener/output-rejected.json
  actors/deposit-screener/output.json
  actors/deposit-screener/package.json
  actors/deposit-screener/src/cli/commands/run/addressInspector.ts
  actors/deposit-screener/test/scripts/generateRulesetV1CallsSnapshot.ts
  actors/deposit-screener/test/snapshots/2023-10-13/snapshot.json
  actors/deposit-screener/test/utils.ts
  actors/deposit-screener/tornado-no-mining-top-100-accepted.json
  actors/deposit-screener/tornado-no-mining-top-100-rejected.json
  actors/deposit-screener/tornado-no-mining-top-100.json
Owners: @Sladuca, @luketchang

restructure cli
  actors/deposit-screener/src/cli/commands/inspect/checker.ts
  actors/deposit-screener/src/cli/commands/inspect/index.ts
  actors/deposit-screener/src/cli/commands/run/index.ts
  actors/deposit-screener/src/cli/index.ts
Owners: @Sladuca, @luketchang

snapshot command works
  actors/deposit-screener/output.json
  actors/deposit-screener/src/cli/commands/inspect/index.ts
  actors/deposit-screener/src/cli/commands/inspect/snapshot.ts
  actors/deposit-screener/src/cli/commands/inspect/utils.ts
Owners: @Sladuca, @luketchang

gitignore csv
  actors/deposit-screener/.gitignore
  actors/deposit-screener/TornadoDateRangeNoMining100-300.csv
  actors/deposit-screener/TornadoDateRangeNoMiningFirst100.csv
  actors/deposit-screener/addrs.csv
  actors/deposit-screener/output.json
  actors/deposit-screener/tornado-no-mining-top-100-accepted.json
  actors/deposit-screener/tornado-no-mining-top-100-rejected.json
  actors/deposit-screener/tornado-no-mining-top-100.json
Owners: @Sladuca, @luketchang

scripts both work, need to clean up
  actors/deposit-screener/.gitignore
  actors/deposit-screener/output-accepted.json
  actors/deposit-screener/output-rejected.json
  actors/deposit-screener/src/cli/commands/inspect/check.ts
  actors/deposit-screener/src/cli/commands/inspect/index.ts
  actors/deposit-screener/src/cli/commands/inspect/snapshot.ts
  actors/deposit-screener/src/cli/commands/inspect/utils.ts
  actors/deposit-screener/src/cli/commands/run/index.ts
  actors/deposit-screener/test/RULESET_V1.test.ts
  actors/deposit-screener/test/scripts/generateRulesetV1CallsSnapshot.ts
  actors/deposit-screener/test/snapshots/2023-10-13/snapshot.json
  actors/deposit-screener/test/utils.ts
Owners: @Sladuca, @luketchang

snapshot cmd tweaks
  actors/deposit-screener/src/cli/commands/inspect/snapshot.ts
Owners: @Sladuca, @luketchang

dry up cli cmds
  actors/deposit-screener/src/cli/commands/inspect/check.ts
  actors/deposit-screener/src/cli/commands/inspect/index.ts
  actors/deposit-screener/src/cli/commands/inspect/snapshot.ts
Owners: @Sladuca, @luketchang

simplify snapshot test script to use cli
  actors/deposit-screener/src/cli/commands/inspect/snapshot.ts
  actors/deposit-screener/test/RULESET_V1.test.ts
  actors/deposit-screener/test/scripts/generateRulesetV1CallsSnapshot.ts
  actors/deposit-screener/test/snapshotTestCases.ts
  actors/deposit-screener/test/utils.ts
Owners: @Sladuca, @luketchang

clean up
  actors/deposit-screener/src/cli/commands/inspect/check.ts
  actors/deposit-screener/src/cli/commands/inspect/snapshot.ts
  actors/deposit-screener/src/cli/commands/inspect/utils.ts
Owners: @Sladuca, @luketchang

changeset
  .changeset/friendly-cars-chew.md
  .changeset/rare-baboons-retire.md
Owners: none

.github/CODEOWNERS:

# contracts 

packages/contracts @luketchang

# circuits 

packages/circuits @Sladuca

# apps

packages/snap @luketchang @Sladuca

# actors 

actors/bundler @luketchang @Sladuca
actors/subtree-updater @Sladuca
actors/deposit-screener @Sladuca @luketchang
actors/test-actor @Sladuca @luketchang
actors/insertion-log @Sladuca

# SDKs

packages/core @luketchang @Sladuca
packages/frontend-sdk @luketchang @Sladuca @panieldark

# other packages

packages/config @luketchang
packages/deploy @luketchang
packages/e2e-tests @luketchang @Sladuca
packages/local-prover @Sladuca
packages/crypto-utils @Sladuca
packages/persistent-log @Sladuca
