Repository nocturne-xyz/monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luketchang, @Sladuca, @panieldark

change localhost json
  apps/snap/snap.manifest.json
  packages/config/configs/localhost.json
Owners: @luketchang

make config addr + network getters actual getters + add opRequestBuilder getter and performOperation to fe sdk
  .changeset/healthy-cameras-tease.md
  .changeset/khaki-parrots-approve.md
  actors/bundler/src/cli/commands/run/server.ts
  actors/bundler/src/cli/commands/run/submitter.ts
  actors/deposit-screener/src/cli/commands/run/processor.ts
  actors/subtree-updater/src/cli/commands/run/runSubtreeUpdater.ts
  actors/test-actor/src/cli/run.ts
  apps/snap/snap.manifest.json
  packages/config/src/config.ts
  packages/core/src/NocturneClient.ts
  packages/core/src/operationRequest/builder.ts
  packages/core/test/OpRequestBuilder.test.ts
  packages/deploy/scripts/dev-only-upgrade.ts
  packages/e2e-tests/src/deploy.ts
  packages/frontend-sdk/src/sdk.ts
  packages/op-request-plugins/src/UniswapV3Plugin.ts
  packages/op-request-plugins/test/plugins.test.ts
Owners: @luketchang, @Sladuca, @panieldark

changesets
  .changeset/cyan-paws-flash.md
  .changeset/eight-toes-jam.md
  .changeset/friendly-insects-cry.md
  .changeset/healthy-snakes-roll.md
  .changeset/metal-news-check.md
Owners: none

yarn i
  yarn.lock
Owners: none

add eth transfer adapter to deploy script, plugins, fe-sdk (#456)
  .changeset/cyan-paws-flash.md
  .changeset/eight-toes-jam.md
  .changeset/friendly-insects-cry.md
  .changeset/healthy-cameras-tease.md
  .changeset/healthy-snakes-roll.md
  .changeset/khaki-parrots-approve.md
  .changeset/metal-news-check.md
  actors/bundler/src/cli/commands/run/server.ts
  actors/bundler/src/cli/commands/run/submitter.ts
  actors/deposit-screener/src/cli/commands/run/processor.ts
  actors/subtree-updater/src/cli/commands/run/runSubtreeUpdater.ts
  actors/test-actor/src/cli/run.ts
  apps/snap/snap.manifest.json
  packages/config/configs/localhost.json
  packages/config/src/config.ts
  packages/contracts/hardhat.config.ts
  packages/contracts/index.ts
  packages/core/src/NocturneClient.ts
  packages/core/src/operationRequest/builder.ts
  packages/core/src/primitives/types.ts
  packages/core/test/OpRequestBuilder.test.ts
  packages/deploy/.env.example
  packages/deploy/scripts/dev-only-upgrade.ts
  packages/deploy/src/config.ts
  packages/deploy/src/deploy.ts
  packages/e2e-tests/src/deploy.ts
  packages/e2e-tests/src/deposit.ts
  packages/e2e-tests/tests/EndToEnd.ts
  packages/frontend-sdk/src/sdk.ts
  packages/op-request-plugins/src/EthTransferAdapterPlugin.ts
  packages/op-request-plugins/src/UniswapV3Plugin.ts
  packages/op-request-plugins/src/WstethAdapterPlugin.ts
  packages/op-request-plugins/src/index.ts
  packages/op-request-plugins/test/plugins.test.ts
  packages/op-request-plugins/test/utils.ts
  yarn.lock
Owners: @luketchang, @Sladuca, @panieldark

deploy eth transfer adapter, add to config
  .gitignore
  apps/snap/snap.manifest.json
  packages/config/configs/goerli.json
  packages/contracts/.env.ethtransferadapter.example
  packages/contracts/contracts/script/DeployEthTransferAdapter.s.sol
  packages/contracts/scripts/deployEthTransferAdapter.sh
Owners: @luketchang

fix hardhat to ignore .s.sol
  packages/contracts/hardhat.config.ts
Owners: @luketchang

prettier
  packages/contracts/contracts/script/DeployEthTransferAdapter.s.sol
Owners: @luketchang

changesets
  .changeset/seven-comics-watch.md
  .changeset/twenty-windows-compete.md
Owners: none

deploy eth transfer adapter, add to goerli config (#458)
  .changeset/seven-comics-watch.md
  .changeset/twenty-windows-compete.md
  .gitignore
  apps/snap/snap.manifest.json
  packages/config/configs/goerli.json
  packages/contracts/.env.ethtransferadapter.example
  packages/contracts/contracts/script/DeployEthTransferAdapter.s.sol
  packages/contracts/hardhat.config.ts
  packages/contracts/scripts/deployEthTransferAdapter.sh
Owners: @luketchang

op request gas prep checks how many joinsplits will be added and adds gas comp correspondingly
  apps/snap/snap.manifest.json
  packages/core/src/opRequestGas.ts
  packages/core/src/prepareOperation.ts
  packages/core/src/primitives/gasCalculation.ts
Owners: @luketchang, @Sladuca

fix op request gas unit tests to have precise checks
  packages/core/src/opRequestGas.ts
  packages/core/src/primitives/gasCalculation.ts
  packages/core/src/primitives/operation.ts
  packages/core/test/opRequestGas.test.ts
Owners: @luketchang, @Sladuca

fix gas calculation/joinsplit update logic again
  packages/core/src/NocturneClient.ts
  packages/core/src/opRequestGas.ts
  packages/core/src/primitives/typeHelpers.ts
  packages/core/src/proof/subtreeUpdate.ts
  packages/core/src/utils/index.ts
Owners: @luketchang, @Sladuca

add test case, save
  .changeset/silly-deers-compare.md
  packages/core/src/opRequestGas.ts
  packages/core/test/opRequestGas.test.ts
Owners: @luketchang, @Sladuca

changeset
  .changeset/silly-deers-compare.md
Owners: none

fix spelling joinSplitsGas
  apps/snap/snap.manifest.json
  packages/config/configs/localhost.json
  packages/core/src/opRequestGas.ts
Owners: @luketchang, @Sladuca

fix: only attempt to gather more notes of existing asset if needed
  packages/core/src/opRequestGas.ts
Owners: @luketchang, @Sladuca

replace throw errors with continue
  packages/core/src/opRequestGas.ts
Owners: @luketchang, @Sladuca

core adds correct gas accounting for extra gas joinsplits (#460)
  .changeset/silly-deers-compare.md
  apps/snap/snap.manifest.json
  packages/config/configs/localhost.json
  packages/core/src/NocturneClient.ts
  packages/core/src/opRequestGas.ts
  packages/core/src/prepareOperation.ts
  packages/core/src/primitives/gasCalculation.ts
  packages/core/src/primitives/operation.ts
  packages/core/src/primitives/typeHelpers.ts
  packages/core/src/proof/subtreeUpdate.ts
  packages/core/src/utils/index.ts
  packages/core/test/opRequestGas.test.ts
Owners: @luketchang, @Sladuca

fix: account for edge case when checking number of extra JSs where odd number of existing can reduce num extras by 1
  packages/core/src/opRequestGas.ts
Owners: @luketchang, @Sladuca

50% gas buffer for bundler submit
  actors/bundler/src/submitter.ts
  apps/snap/snap.manifest.json
Owners: @luketchang, @Sladuca

bump gas buffer in bundler submitter to 200%
  actors/bundler/src/submitter.ts
Owners: @luketchang, @Sladuca

bundler calculates bundle gas limit from ops directly
  .changeset/cuddly-singers-invent.md
  .changeset/modern-timers-share.md
  actors/bundler/src/submitter.ts
  apps/snap/snap.manifest.json
  packages/core/src/opRequestGas.ts
  packages/core/src/primitives/gasCalculation.ts
  packages/core/src/primitives/index.ts
  packages/core/test/opRequestGas.test.ts
Owners: @luketchang, @Sladuca

fix: fix bug in op request gas where it was not using map entry array, was using whole map
  apps/snap/snap.manifest.json
  packages/core/src/opRequestGas.ts
  packages/core/src/primitives/gasCalculation.ts
Owners: @luketchang, @Sladuca

changeset
  .changeset/gorgeous-owls-remember.md
Owners: none

re bump packages
  .changeset/cuddly-singers-invent.md
  .changeset/gorgeous-owls-remember.md
  .changeset/modern-timers-share.md
  actors/bundler/CHANGELOG.md
  actors/bundler/package.json
  actors/deposit-screener/CHANGELOG.md
  actors/deposit-screener/package.json
  actors/insertion-writer/CHANGELOG.md
  actors/insertion-writer/package.json
  actors/subtree-updater/CHANGELOG.md
  actors/subtree-updater/package.json
  actors/test-actor/CHANGELOG.md
  actors/test-actor/package.json
  apps/snap/CHANGELOG.md
  apps/snap/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/deploy/CHANGELOG.md
  packages/deploy/package.json
  packages/e2e-tests/CHANGELOG.md
  packages/e2e-tests/package.json
  packages/frontend-sdk/CHANGELOG.md
  packages/frontend-sdk/package.json
  packages/idb-kv-store/CHANGELOG.md
  packages/idb-kv-store/package.json
  packages/local-prover/CHANGELOG.md
  packages/local-prover/package.json
  packages/offchain-utils/CHANGELOG.md
  packages/offchain-utils/package.json
  packages/op-request-plugins/CHANGELOG.md
  packages/op-request-plugins/package.json
  packages/persistent-log/CHANGELOG.md
  packages/persistent-log/package.json
Owners: @luketchang, @Sladuca, @panieldark

fix unit tests
  packages/core/test/opRequestGas.test.ts
Owners: @luketchang, @Sladuca

add numConfirmations support to SdkSyncAdapter
  packages/core/src/sync/rpc/adapter.ts
  packages/core/src/sync/subgraph/core/adapter.ts
  packages/core/src/sync/syncAdapter.ts
Owners: @luketchang, @Sladuca

snap manifest
  apps/snap/snap.manifest.json
  yarn.lock
Owners: none

update configs
  actors/deposit-screener/src/cli/commands/run/processor.ts
  actors/insertion-writer/src/cli/commands/run/runInsertionWriter.ts
  apps/snap/snap.manifest.json
  packages/config/configs/goerli.json
  packages/config/configs/sepolia.json
  packages/core/src/NocturneClient.ts
  packages/deploy/configs/example.json
Owners: @Sladuca, @luketchang

pass numConfirmations along
  actors/test-actor/src/actor.ts
  actors/test-actor/src/cli/run.ts
  apps/snap/snap.manifest.json
  packages/core/src/syncSDK.ts
Owners: @Sladuca, @luketchang

snap manifest
  apps/snap/snap.manifest.json
Owners: none

add --
  actors/test-actor/src/cli/run.ts
Owners: @Sladuca, @luketchang

default to config numConfirmations in test-actor
  actors/test-actor/src/cli/run.ts
Owners: @Sladuca, @luketchang

add numConfirmations to screener
  actors/deposit-screener/src/cli/commands/run/processor.ts
  actors/deposit-screener/src/screener.ts
  actors/deposit-screener/src/sync/subgraph/adapter.ts
  actors/insertion-writer/src/sync/subgraph/adapter.ts
Owners: @Sladuca, @luketchang

snap manifest
  apps/snap/snap.manifest.json
Owners: none

add numConfirmations to insertion writer
  actors/insertion-writer/src/cli/commands/run/runInsertionWriter.ts
  actors/insertion-writer/src/sync/subgraph/adapter.ts
  packages/config/src/config.ts
  packages/config/src/deployment.ts
  packages/core/src/NocturneClient.ts
  packages/deploy/configs/example.json
  packages/deploy/configs/goerli.json
  packages/deploy/configs/sepolia.json
  packages/deploy/src/config.ts
  packages/deploy/src/deploy.ts
Owners: @luketchang, @Sladuca

changeset
  .changeset/famous-bananas-study.md
  .changeset/happy-jokes-greet.md
Owners: none

use getter
  actors/deposit-screener/src/cli/commands/run/processor.ts
  actors/insertion-writer/src/cli/commands/run/runInsertionWriter.ts
  actors/test-actor/src/cli/run.ts
  packages/core/src/NocturneClient.ts
Owners: @Sladuca, @luketchang

changeset
  .changeset/gorgeous-olives-enjoy.md
  .changeset/khaki-meals-grin.md
  .changeset/stupid-spoons-rescue.md
Owners: none

.github/CODEOWNERS:

# contracts 

packages/contracts @luketchang

# circuits 

packages/circuits @Sladuca

# apps

packages/snap @luketchang @Sladuca

# actors 

actors/bundler @luketchang @Sladuca
actors/subtree-updater @Sladuca
actors/deposit-screener @Sladuca @luketchang
actors/test-actor @Sladuca @luketchang
actors/insertion-log @Sladuca

# SDKs

packages/core @luketchang @Sladuca
packages/frontend-sdk @luketchang @Sladuca @panieldark

# other packages

packages/config @luketchang
packages/deploy @luketchang
packages/e2e-tests @luketchang @Sladuca
packages/local-prover @Sladuca
packages/crypto-utils @Sladuca
packages/persistent-log @Sladuca
