Repository nocturne-xyz/monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luketchang, @Sladuca, @panieldark

.github/CODEOWNERS:

# contracts 

packages/contracts @luketchang

# circuits 

packages/circuits @Sladuca

# apps

packages/snap @luketchang @Sladuca

# actors 

actors/bundler @luketchang @Sladuca
actors/subtree-updater @Sladuca
actors/deposit-screener @Sladuca @luketchang
actors/test-actor @Sladuca @luketchang
actors/insertion-log @Sladuca

# SDKs

packages/core @luketchang @Sladuca
packages/frontend-sdk @luketchang @Sladuca @panieldark

# other packages

packages/config @luketchang
packages/deploy @luketchang
packages/e2e-tests @luketchang @Sladuca
packages/local-prover @Sladuca
packages/crypto-utils @Sladuca
packages/persistent-log @Sladuca

hasura sync adapters (#484)
  .changeset/sharp-shrimps-count.md
  apps/snap/snap.manifest.json
  packages/core/src/sync/subgraph/core/adapter.ts
  packages/core/src/utils/functional.ts
  packages/core/src/utils/index.ts
  packages/frontend-sdk/graphql-codegen-configs/hasura.ts
  packages/frontend-sdk/graphql-codegen-configs/subgraph.ts
  packages/frontend-sdk/package.json
  packages/frontend-sdk/src/dataFetching/hasura/depositAdapter.ts
  packages/frontend-sdk/src/dataFetching/hasura/fetch.ts
  packages/frontend-sdk/src/dataFetching/hasura/gql/autogenerated/fragment-masking.ts
  packages/frontend-sdk/src/dataFetching/hasura/gql/autogenerated/gql.ts
  packages/frontend-sdk/src/dataFetching/hasura/gql/autogenerated/graphql.ts
  packages/frontend-sdk/src/dataFetching/hasura/gql/autogenerated/index.ts
  packages/frontend-sdk/src/dataFetching/hasura/gql/queries.ts
  packages/frontend-sdk/src/dataFetching/hasura/index.ts
  packages/frontend-sdk/src/dataFetching/hasura/syncAdapter.ts
  packages/frontend-sdk/src/dataFetching/index.ts
  packages/frontend-sdk/src/index.ts
  packages/frontend-sdk/src/sdk.ts
  packages/frontend-sdk/src/types.ts
  yarn.lock
Owners: @luketchang, @Sladuca, @panieldark

add getSwapRoute to helper
  apps/snap/snap.manifest.json
  packages/frontend-sdk/src/sdk.ts
  packages/op-request-plugins/scripts/uniswapTest.ts
  packages/op-request-plugins/src/UniswapV3Plugin/helpers.ts
  packages/op-request-plugins/src/UniswapV3Plugin/index.ts
Owners: @luketchang, @Sladuca, @panieldark

quick refactor
  packages/op-request-plugins/scripts/uniswapTest.ts
  packages/op-request-plugins/src/UniswapV3Plugin/helpers.ts
  packages/op-request-plugins/src/UniswapV3Plugin/index.ts
Owners: none

Refactor, add quote to fe-sdk as method
  apps/snap/snap.manifest.json
  packages/frontend-sdk/package.json
  packages/frontend-sdk/src/api.ts
  packages/frontend-sdk/src/sdk.ts
  packages/frontend-sdk/src/types.ts
  packages/op-request-plugins/scripts/uniswapTest.ts
  packages/op-request-plugins/src/UniswapV3Plugin/helpers.ts
  packages/op-request-plugins/src/UniswapV3Plugin/index.ts
  packages/op-request-plugins/src/index.ts
  yarn.lock
Owners: @luketchang, @Sladuca, @panieldark

semantic name -> contract name
  packages/deploy/src/deploy.ts
  packages/deploy/src/verification.ts
Owners: @luketchang

add verify.ts script
  packages/deploy/scripts/verify.ts
  packages/deploy/src/verification.ts
Owners: @luketchang

verifying others works, refactor deploy fns to take verifications
  packages/config/configs/example-network.json
  packages/deploy/configs/example.json
  packages/deploy/scripts/deploy.ts
  packages/deploy/src/deploy.ts
  packages/deploy/src/utils.ts
  packages/deploy/src/verification.ts
Owners: @luketchang

fix e2e tests
  packages/e2e-tests/src/deploy.ts
Owners: @luketchang, @Sladuca

fixes, docs, nits
  apps/snap/snap.manifest.json
  packages/contracts/package.json
  packages/deploy/package.json
  packages/deploy/scripts/verify.sh
  packages/deploy/scripts/verify.ts
  packages/deploy/src/deploy.ts
  packages/deploy/src/proxy.ts
  yarn.lock
Owners: @luketchang

new localhost config
  apps/snap/snap.manifest.json
  packages/config/configs/localhost.json
Owners: @luketchang

changesets
  .changeset/mean-seahorses-leave.md
  .changeset/twelve-radios-turn.md
  apps/snap/snap.manifest.json
Owners: none

Fix provider issue
  actors/test-actor/src/actor.ts
  actors/test-actor/src/cli/run.ts
  apps/snap/snap.manifest.json
  packages/core/src/operationRequest/builder.ts
  packages/frontend-sdk/src/sdk.ts
  packages/op-request-plugins/src/Erc20Plugin.ts
  packages/op-request-plugins/src/UniswapV3Plugin/helpers.ts
  packages/op-request-plugins/src/UniswapV3Plugin/index.ts
  packages/op-request-plugins/test/plugins.test.ts
Owners: @Sladuca, @luketchang, @panieldark

type cast provider in tests
  packages/core/test/OpRequestBuilder.test.ts
  packages/core/test/getCreationBlockOfNewestNoteInOp.test.ts
  packages/core/test/opRequestGas.test.ts
  packages/core/test/prepareOperation.test.ts
  packages/core/test/signOperation.test.ts
  packages/e2e-tests/tests/InsertionWriter.test.ts
  packages/e2e-tests/tests/optimisticRecordTracking.ts
  packages/e2e-tests/tests/syncSDK.ts
  packages/op-request-plugins/test/plugins.test.ts
Owners: @luketchang, @Sladuca

Import fix from merge
  apps/snap/snap.manifest.json
  packages/frontend-sdk/src/sdk.ts
Owners: @luketchang, @Sladuca, @panieldark

Remove wsteth in fe-sdk
  packages/frontend-sdk/src/api.ts
  packages/frontend-sdk/src/sdk.ts
  packages/frontend-sdk/src/types.ts
Owners: @luketchang, @Sladuca, @panieldark

wayne/terraform
  devops/.gitignore
  devops/.terraform.lock.hcl
  devops/README.md
  devops/ecs_task.tf
  devops/iam.tf
  devops/kms.tf
  devops/main.tf
  devops/networking.tf
  devops/redis.tf
  devops/secrets.tf
  devops/variables.tf
Owners: none

changeset
  .changeset/little-files-destroy.md
Owners: none

yarn lock
  yarn.lock
Owners: none

PR feedback
  apps/snap/snap.manifest.json
  packages/frontend-sdk/package.json
  packages/frontend-sdk/src/sdk.ts
  packages/frontend-sdk/src/types.ts
  packages/op-request-plugins/src/UniswapV3Plugin/helpers.ts
  packages/op-request-plugins/src/UniswapV3Plugin/index.ts
  packages/op-request-plugins/src/scripts/uniswapTest.ts
  yarn.lock
Owners: @luketchang, @Sladuca, @panieldark

explicit export
  packages/config/configs/localhost.json
  packages/op-request-plugins/src/UniswapV3Plugin/index.ts
  packages/op-request-plugins/src/index.ts
Owners: @luketchang

remove comments
  packages/op-request-plugins/src/scripts/uniswapTest.ts
Owners: none

changeset
  .changeset/quiet-bananas-think.md
Owners: none

add oz relayer speed to actors
  actors/bundler/.env.example
  actors/bundler/src/cli/commands/run/submitter.ts
  actors/deposit-screener/.env.example
  actors/deposit-screener/src/cli/commands/run/processor.ts
  actors/subtree-updater/.env.example
  actors/subtree-updater/src/cli/commands/run/runSubtreeUpdater.ts
  actors/test-actor/.env.example
  actors/test-actor/src/cli/run.ts
Owners: @luketchang, @Sladuca

PR feedback
  packages/op-request-plugins/src/UniswapV3Plugin/helpers.ts
Owners: none

Add new plugins to fe-sdk (#488)
  .changeset/little-files-destroy.md
  .changeset/unlucky-worms-heal.md
  actors/test-actor/src/actor.ts
  actors/test-actor/src/cli/run.ts
  packages/config/configs/localhost.json
  packages/core/src/operationRequest/builder.ts
  packages/core/test/OpRequestBuilder.test.ts
  packages/core/test/getCreationBlockOfNewestNoteInOp.test.ts
  packages/core/test/opRequestGas.test.ts
  packages/core/test/prepareOperation.test.ts
  packages/core/test/signOperation.test.ts
  packages/e2e-tests/tests/InsertionWriter.test.ts
  packages/e2e-tests/tests/optimisticRecordTracking.ts
  packages/e2e-tests/tests/syncSDK.ts
  packages/frontend-sdk/src/api.ts
  packages/frontend-sdk/src/sdk.ts
  packages/frontend-sdk/src/types.ts
  packages/op-request-plugins/src/Erc20Plugin.ts
  packages/op-request-plugins/src/UniswapV3Plugin/helpers.ts
  packages/op-request-plugins/src/UniswapV3Plugin/index.ts
  packages/op-request-plugins/src/index.ts
  packages/op-request-plugins/src/scripts/uniswapTest.ts
  packages/op-request-plugins/test/plugins.test.ts
  yarn.lock
Owners: @Sladuca, @luketchang, @panieldark

add oz relayer speed to actor env vars (#487)
  .changeset/quiet-bananas-think.md
  actors/bundler/.env.example
  actors/bundler/src/cli/commands/run/submitter.ts
  actors/deposit-screener/.env.example
  actors/deposit-screener/src/cli/commands/run/processor.ts
  actors/subtree-updater/.env.example
  actors/subtree-updater/src/cli/commands/run/runSubtreeUpdater.ts
  actors/test-actor/.env.example
  actors/test-actor/src/cli/run.ts
Owners: @luketchang, @Sladuca

split tests
  packages/client/src/NocturneClient.ts
  packages/client/src/OpTracker.ts
  packages/client/src/operationRequest/builder.ts
  packages/client/src/operationRequest/operationRequest.ts
  packages/client/src/prepareOperation.ts
  packages/client/src/proveOperation.ts
  packages/client/src/snapJsonRpc.ts
  packages/client/test/OpRequestBuilder.test.ts
  packages/client/test/db.test.ts
  packages/client/test/getCreationBlockOfNewestNoteInOp.test.ts
  packages/client/test/opRequestGas.test.ts
  packages/client/test/prepareOperation.test.ts
  packages/client/test/signOperation.test.ts
  packages/client/test/utils.ts
  packages/core/src/proof/index.ts
  packages/core/test/store.test.ts
  packages/core/test/utils.ts
Owners: @luketchang, @Sladuca

more stuff typechecks
  packages/client/src/utils/contract.ts
  packages/client/src/utils/index.ts
  packages/deploy/src/checks.ts
  packages/deploy/src/deploy.ts
  packages/deploy/src/proxyUtils.ts
  packages/deploy/src/utils.ts
  packages/op-request-plugins/package.json
  packages/op-request-plugins/src/Erc20Plugin.ts
  packages/op-request-plugins/src/EthTransferAdapterPlugin.ts
  packages/op-request-plugins/src/UniswapV3Plugin/index.ts
  packages/op-request-plugins/src/WstethAdapterPlugin.ts
  packages/op-request-plugins/test/plugins.test.ts
  yarn.lock
Owners: @luketchang

move gasCalculation back to core
  actors/bundler/src/submitter.ts
  packages/client/src/opRequestGas.ts
  packages/client/src/utils/index.ts
  packages/core/src/gasCalculation.ts
  packages/core/src/index.ts
Owners: @luketchang, @Sladuca

move hasura sync adapter out, get fe-sdk to build
  apps/snap/snap.manifest.json
  packages/client/src/index.ts
  packages/core/src/index.ts
  packages/frontend-sdk/package.json
  packages/frontend-sdk/src/api.ts
  packages/frontend-sdk/src/dataFetching/hasura/gql/queries.ts
  packages/frontend-sdk/src/dataFetching/hasura/index.ts
  packages/frontend-sdk/src/dataFetching/index.ts
  packages/frontend-sdk/src/depositFetching/depositAdapter.ts
  packages/frontend-sdk/src/depositFetching/hasura/fetch.ts
  packages/frontend-sdk/src/depositFetching/hasura/gql/autogenerated/fragment-masking.ts
  packages/frontend-sdk/src/depositFetching/hasura/gql/autogenerated/gql.ts
  packages/frontend-sdk/src/depositFetching/hasura/gql/autogenerated/graphql.ts
  packages/frontend-sdk/src/depositFetching/hasura/gql/autogenerated/index.ts
  packages/frontend-sdk/src/depositFetching/hasura/gql/queries.ts
  packages/frontend-sdk/src/depositFetching/hasura/index.ts
  packages/frontend-sdk/src/depositFetching/index.ts
  packages/frontend-sdk/src/depositFetching/subgraph/gql/autogenerated/fragment-masking.ts
  packages/frontend-sdk/src/depositFetching/subgraph/gql/autogenerated/gql.ts
  packages/frontend-sdk/src/depositFetching/subgraph/gql/autogenerated/graphql.ts
  packages/frontend-sdk/src/depositFetching/subgraph/gql/autogenerated/index.ts
  packages/frontend-sdk/src/depositFetching/subgraph/gql/queries/DepositRequestStatusByHashQueryDocument.ts
  packages/frontend-sdk/src/depositFetching/subgraph/gql/queries/DepositRequestsBySpenderQueryDocument.ts
  packages/frontend-sdk/src/depositFetching/subgraph/index.ts
  packages/frontend-sdk/src/index.ts
  packages/frontend-sdk/src/sdk.ts
  sync/hasura-sync-adapters/graphql-codegen.ts
  sync/hasura-sync-adapters/package.json
  sync/hasura-sync-adapters/src/gql/autogenerated/fragment-masking.ts
  sync/hasura-sync-adapters/src/gql/autogenerated/gql.ts
  sync/hasura-sync-adapters/src/gql/autogenerated/graphql.ts
  sync/hasura-sync-adapters/src/gql/autogenerated/index.ts
  sync/hasura-sync-adapters/src/gql/queries.ts
  sync/hasura-sync-adapters/src/sdk/fetch.ts
  sync/hasura-sync-adapters/src/sdk/index.ts
  yarn.lock
Owners: @luketchang, @Sladuca, @panieldark

it builds!
  actors/test-actor/package.json
  actors/test-actor/src/actor.ts
  actors/test-actor/src/cli/run.ts
  packages/client/src/index.ts
  packages/frontend-sdk/src/types.ts
  yarn.lock
Owners: @Sladuca, @luketchang, @panieldark

e2e tests build
  actors/bundler/test/Batcher.test.ts
  actors/subtree-updater/test/rapidsnarkProver.test.ts
  apps/snap/snap.manifest.json
  packages/client/test/OpRequestBuilder.test.ts
  packages/client/test/getCreationBlockOfNewestNoteInOp.test.ts
  packages/client/test/opRequestGas.test.ts
  packages/client/test/prepareOperation.test.ts
  packages/e2e-tests/package.json
  packages/e2e-tests/src/deploy.ts
  packages/e2e-tests/src/insertionWriter.ts
  packages/e2e-tests/src/screener.ts
  packages/e2e-tests/src/utils.ts
  packages/e2e-tests/tests/EndToEnd.ts
  packages/e2e-tests/tests/ForcedExit.ts
  packages/e2e-tests/tests/InsertionWriter.test.ts
  packages/e2e-tests/tests/optimisticRecordTracking.ts
  packages/e2e-tests/tests/subgraphFetch.ts
  packages/e2e-tests/tests/syncSDK.ts
  sync/hasura-sync-adapters/package.json
  yarn.lock
Owners: @luketchang, @Sladuca

get stuff to build after rebase
  apps/snap/snap.manifest.json
  packages/deploy/src/verification.ts
  packages/frontend-sdk/src/sdk.ts
  yarn.lock
Owners: @luketchang, @Sladuca, @panieldark

remove unnecessary dependencies from sync adapers, client, and core
  packages/client/package.json
  packages/core/package.json
  packages/core/src/sync/totalEntityIndex.ts
  sync/hasura-sync-adapters/package.json
  sync/rpc-sync-adapters/package.json
  sync/subgraph-sync-adapters/package.json
  yarn.lock
Owners: @luketchang, @Sladuca

changeset
  .changeset/short-lamps-shout.md
Owners: none

publish
  apps/snap/snap.manifest.json
Owners: none

actually export the thing
  sync/hasura-sync-adapters/CHANGELOG.md
  sync/hasura-sync-adapters/package.json
  sync/hasura-sync-adapters/src/index.ts
Owners: none

:pepega:
  sync/hasura-sync-adapters/package.json
Owners: none

fetchlatest -> fetchLatest
  actors/subtree-updater/src/subtreeUpdater.ts
  packages/core/src/utils/subgraph.ts
  sync/subgraph-sync-adapters/src/sdk/index.ts
  sync/subgraph-sync-adapters/src/treeInsertions/fetch.ts
Owners: @Sladuca, @luketchang

fix
  apps/snap/package.json
  apps/snap/snap.manifest.json
  apps/snap/src/index.ts
  apps/snap/src/utils/display.ts
  base/index.ts
  packages/config/configs/localhost.json
  scripts/dev.sh
  yarn.lock
Owners: @luketchang
