Repository nocturne-xyz/monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luketchang, @Sladuca, @panieldark

fix: have op req gas assume adding gas adds extra JS, left TODO
  apps/snap/snap.manifest.json
  packages/core/src/opRequestGas.ts
  packages/frontend-sdk/src/sdk.ts
Owners: @luketchang, @Sladuca, @panieldark

changesets
  .changeset/old-glasses-notice.md
  .changeset/pink-penguins-drive.md
Owners: none

changeset version
  .changeset/bright-pots-accept.md
  .changeset/nice-sheep-impress.md
  .changeset/old-glasses-notice.md
  .changeset/pink-penguins-drive.md
  actors/bundler/CHANGELOG.md
  actors/bundler/package.json
  actors/deposit-screener/CHANGELOG.md
  actors/deposit-screener/package.json
  actors/insertion-writer/CHANGELOG.md
  actors/insertion-writer/package.json
  actors/subtree-updater/CHANGELOG.md
  actors/subtree-updater/package.json
  actors/test-actor/CHANGELOG.md
  actors/test-actor/package.json
  apps/snap/CHANGELOG.md
  apps/snap/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/deploy/CHANGELOG.md
  packages/deploy/package.json
  packages/e2e-tests/CHANGELOG.md
  packages/e2e-tests/package.json
  packages/frontend-sdk/CHANGELOG.md
  packages/frontend-sdk/package.json
  packages/idb-kv-store/CHANGELOG.md
  packages/idb-kv-store/package.json
  packages/local-prover/CHANGELOG.md
  packages/local-prover/package.json
  packages/offchain-utils/CHANGELOG.md
  packages/offchain-utils/package.json
  packages/op-request-plugins/CHANGELOG.md
  packages/op-request-plugins/package.json
  packages/persistent-log/CHANGELOG.md
  packages/persistent-log/package.json
Owners: @luketchang, @Sladuca, @panieldark

snap manifest
  apps/snap/snap.manifest.json
Owners: none

Remove stale clearDb code from snap fe-sdk
  apps/snap/snap.manifest.json
  packages/frontend-sdk/src/api.ts
  packages/frontend-sdk/src/metamask/index.ts
  packages/frontend-sdk/src/sdk.ts
Owners: @luketchang, @Sladuca, @panieldark

changeset
  .changeset/clean-games-grin.md
Owners: none

Update api.ts
  packages/frontend-sdk/src/api.ts
Owners: @luketchang, @Sladuca, @panieldark

remove unused env var
  packages/frontend-sdk/src/metamask/index.ts
  packages/frontend-sdk/src/sdk.ts
Owners: @luketchang, @Sladuca, @panieldark

run each e2e test suite in parallel
  .github/workflows/build-and-test-e2e.yml
Owners: none

run each e2e test suite in parallel (#453)
  .github/workflows/build-and-test-e2e.yml
Owners: none

add eth transfer adapter
  packages/contracts/contracts/adapters/EthTransferAdapter.sol
  packages/contracts/contracts/adapters/WstethAdapter.sol
Owners: @luketchang

replace usage of erc20.reserveTokens with foundry deal()
  packages/contracts/contracts/test/invariant/actors/DepositManagerHandler.sol
  packages/contracts/contracts/test/invariant/actors/TellerHandler.sol
  packages/contracts/contracts/test/unit/BalanceManager.t.sol
  packages/contracts/contracts/test/unit/DepositManager.t.sol
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
  packages/contracts/contracts/test/utils/TokenSwapper.sol
Owners: @luketchang

add eth transfers to invariant tests, TODO ensure invariants check eth balances
  packages/contracts/contracts/adapters/EthTransferAdapter.sol
  packages/contracts/contracts/adapters/WstethAdapter.sol
  packages/contracts/contracts/test/invariant/ProtocolInvariants.t.sol
  packages/contracts/contracts/test/invariant/actors/TellerHandler.sol
  packages/contracts/contracts/test/invariant/helpers/OperationGenerator.sol
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
  packages/contracts/contracts/test/utils/NocturneUtils.sol
Owners: @luketchang

add checks for eth balance + fix op generator bugs with action offsets + meta
  packages/contracts/contracts/test/invariant/InvariantsBase.sol
  packages/contracts/contracts/test/invariant/ProtocolInvariants.t.sol
  packages/contracts/contracts/test/invariant/actors/TellerHandler.sol
  packages/contracts/contracts/test/invariant/helpers/OperationGenerator.sol
Owners: @luketchang

add eth transfer adapter unit test to teller and handler
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
Owners: @luketchang

add wsteth gas optimization and comments for eth transfer adapter
  packages/contracts/contracts/adapters/EthTransferAdapter.sol
  packages/contracts/contracts/adapters/WstethAdapter.sol
Owners: @luketchang

prettier
  packages/contracts/contracts/test/invariant/InvariantsBase.sol
  packages/contracts/contracts/test/invariant/actors/TellerHandler.sol
  packages/contracts/contracts/test/invariant/helpers/OperationGenerator.sol
Owners: @luketchang

prettier
  packages/contracts/contracts/adapters/EthTransferAdapter.sol
  packages/contracts/contracts/adapters/WstethAdapter.sol
Owners: @luketchang

changests + comment fixes
  .changeset/stale-kiwis-occur.md
  .changeset/tall-cobras-tan.md
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
Owners: @luketchang

add new plugins to fe-sdk
  packages/frontend-sdk/src/sdk.ts
  packages/frontend-sdk/src/types.ts
  packages/op-request-plugins/src/UniswapV3Plugin.ts
  yarn.lock
Owners: @luketchang, @Sladuca, @panieldark

Add to api.ts
  apps/snap/snap.manifest.json
  packages/frontend-sdk/src/api.ts
  packages/frontend-sdk/src/sdk.ts
Owners: @luketchang, @Sladuca, @panieldark

add eth transfer adapter + unit/invariant tests (#454)
  .changeset/stale-kiwis-occur.md
  .changeset/tall-cobras-tan.md
  packages/contracts/contracts/adapters/EthTransferAdapter.sol
  packages/contracts/contracts/adapters/WstethAdapter.sol
  packages/contracts/contracts/test/invariant/InvariantsBase.sol
  packages/contracts/contracts/test/invariant/ProtocolInvariants.t.sol
  packages/contracts/contracts/test/invariant/actors/DepositManagerHandler.sol
  packages/contracts/contracts/test/invariant/actors/TellerHandler.sol
  packages/contracts/contracts/test/invariant/helpers/OperationGenerator.sol
  packages/contracts/contracts/test/unit/BalanceManager.t.sol
  packages/contracts/contracts/test/unit/DepositManager.t.sol
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
  packages/contracts/contracts/test/utils/NocturneUtils.sol
  packages/contracts/contracts/test/utils/TokenSwapper.sol
Owners: @luketchang

add histograms to
  packages/core/src/syncSDK.ts
  packages/core/src/utils/histogram.ts
Owners: @luketchang, @Sladuca

add histogram
  packages/core/src/utils/histogram.ts
Owners: @luketchang, @Sladuca

add timed() helper and add timing to SubgraphSDKSyncAdapter
  packages/core/src/sync/rpc/adapter.ts
  packages/core/src/sync/subgraph/core/adapter.ts
  packages/core/src/sync/syncAdapter.ts
  packages/core/src/syncSDK.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/timing.ts
Owners: @luketchang, @Sladuca

fix build
  apps/snap/snap.manifest.json
  packages/core/src/sync/rpc/adapter.ts
Owners: @luketchang, @Sladuca

fix percentiles
  apps/snap/snap.manifest.json
  packages/core/src/utils/timing.ts
Owners: @luketchang, @Sladuca

rebase
  apps/snap/snap.manifest.json
  yarn.lock
Owners: none

changeset
  .changeset/serious-cups-shake.md
Owners: none

pass opts.timing along
  packages/core/src/syncSDK.ts
Owners: @luketchang, @Sladuca

address comments
  apps/snap/snap.manifest.json
  packages/core/src/syncSDK.ts
Owners: @luketchang, @Sladuca

comments
  packages/core/src/sync/subgraph/core/adapter.ts
  packages/core/src/syncSDK.ts
Owners: @luketchang, @Sladuca

(core) basic instrumentation for syncSDK (#450)
  .changeset/serious-cups-shake.md
  apps/snap/snap.manifest.json
  packages/core/src/sync/rpc/adapter.ts
  packages/core/src/sync/subgraph/core/adapter.ts
  packages/core/src/sync/syncAdapter.ts
  packages/core/src/syncSDK.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/timing.ts
  yarn.lock
Owners: @luketchang, @Sladuca

prog: add eth transfer adapter plugin
  packages/core/src/primitives/types.ts
  packages/op-request-plugins/src/EthTransferAdapterPlugin.ts
Owners: @luketchang, @Sladuca

add eth transfer adapter to deploy script
  apps/snap/snap.manifest.json
  packages/contracts/hardhat.config.ts
  packages/contracts/index.ts
  packages/deploy/.env.example
  packages/deploy/src/config.ts
  packages/deploy/src/deploy.ts
Owners: @luketchang

update subgraph commit
  apps/snap/snap.manifest.json
Owners: none

fix: fix uniswap plugin to only approve needed amount, fix wsteth adapter to approve before calling convert
  packages/op-request-plugins/src/EthTransferAdapterPlugin.ts
  packages/op-request-plugins/src/UniswapV3Plugin.ts
  packages/op-request-plugins/src/WstethAdapterPlugin.ts
Owners: none

fix plugins test and add fe sdk method for eth transfer
  packages/frontend-sdk/src/sdk.ts
  packages/op-request-plugins/src/EthTransferAdapterPlugin.ts
  packages/op-request-plugins/src/index.ts
  packages/op-request-plugins/test/plugins.test.ts
  packages/op-request-plugins/test/utils.ts
Owners: @luketchang, @Sladuca, @panieldark

save: e2e test with eth transfer passes
  packages/contracts/index.ts
  packages/deploy/.env.example
  packages/e2e-tests/src/deploy.ts
  packages/e2e-tests/src/deposit.ts
  packages/e2e-tests/tests/EndToEnd.ts
Owners: @luketchang, @Sladuca

clean up plugins and use ethers Interface instead of making Contract object
  packages/e2e-tests/tests/EndToEnd.ts
  packages/op-request-plugins/src/EthTransferAdapterPlugin.ts
  packages/op-request-plugins/src/WstethAdapterPlugin.ts
Owners: @luketchang, @Sladuca

.github/CODEOWNERS:

# contracts 

packages/contracts @luketchang

# circuits 

packages/circuits @Sladuca

# apps

packages/snap @luketchang @Sladuca

# actors 

actors/bundler @luketchang @Sladuca
actors/subtree-updater @Sladuca
actors/deposit-screener @Sladuca @luketchang
actors/test-actor @Sladuca @luketchang
actors/insertion-log @Sladuca

# SDKs

packages/core @luketchang @Sladuca
packages/frontend-sdk @luketchang @Sladuca @panieldark

# other packages

packages/config @luketchang
packages/deploy @luketchang
packages/e2e-tests @luketchang @Sladuca
packages/local-prover @Sladuca
packages/crypto-utils @Sladuca
packages/persistent-log @Sladuca
