Repository nocturne-xyz/monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luketchang, @Sladuca, @panieldark

yarn install
  yarn.lock
Owners: none

Ruleset Unit Tests and tweaks (#445)
  .changeset/khaki-queens-brush.md
  actors/deposit-screener/.env.dev
  actors/deposit-screener/package.json
  actors/deposit-screener/scripts/testMisttrackCallAndRuleset.ts
  actors/deposit-screener/scripts/testRulesets.ts
  actors/deposit-screener/src/screening/checks/RuleSet.ts
  actors/deposit-screener/src/screening/checks/apiCalls.ts
  actors/deposit-screener/src/screening/checks/v1/RULESET_V1.ts
  actors/deposit-screener/test/RULESET_V1.test.ts
  actors/deposit-screener/test/RuleSet.test.ts
  actors/deposit-screener/test/snapshots/apiCallsSnapshot09-13-2023.json
  actors/deposit-screener/tsconfig.json
Owners: @Sladuca, @luketchang

checkpoint
  packages/circuits/circuits/joinsplit.circom
  packages/circuits/circuits/lib.circom
  packages/circuits/circuits/tree.circom
Owners: @Sladuca

add joinsplit info commitment to circuit / proof wrappers
  circuit-artifacts/joinsplit/joinsplit_cpp/Makefile
  circuit-artifacts/joinsplit/joinsplit_cpp/vkey.json
  packages/circuits/circuits/joinsplit.circom
  packages/circuits/circuits/lib.circom
  packages/contracts/contracts/JoinSplitVerifier.sol
  packages/contracts/contracts/libs/Validation.sol
  packages/core/src/proof/joinsplit.ts
Owners: @Sladuca, @luketchang

reduce max note value to 2^126
  packages/circuits/circuits/joinsplit.circom
  packages/contracts/contracts/libs/Validation.sol
Owners: @Sladuca, @luketchang

add joinSplitInfoCommitment to hashJoinSplit
  packages/contracts/contracts/OperationEIP712.sol
Owners: @luketchang

add joinSplitInfoCommmitment to JoinSplit type
  apps/snap/snap.manifest.json
  circuit-artifacts/joinsplit/joinsplit_cpp/vkey.json
  packages/circuits/circuits/joinsplit.circom
  packages/contracts/contracts/JoinSplitVerifier.sol
  packages/contracts/contracts/libs/OperationUtils.sol
  packages/contracts/contracts/libs/Types.sol
  packages/contracts/contracts/test/invariant/CommitmentTreeManager.t.sol
  packages/contracts/contracts/test/unit/OperationEIP712.t.sol
  packages/contracts/contracts/test/utils/NocturneUtils.sol
  packages/core/scripts/genOperationHashTestCase.ts
  packages/core/src/prepareOperation.ts
  packages/core/src/primitives/operation.ts
  packages/core/src/primitives/types.ts
  packages/core/src/proof/joinsplit.ts
  packages/core/src/proof/mock.ts
  packages/core/src/proveOperation.ts
  packages/frontend-sdk/src/sdk.ts
Owners: @Sladuca, @luketchang, @panieldark

add joinSplitInfoCommitment to ERC721
  apps/snap/snap.manifest.json
  packages/contracts/contracts/OperationEIP712.sol
Owners: @luketchang

regen proofs and fix unit tests
  actors/bundler/src/request/relay.ts
  actors/bundler/test/utils.ts
  apps/snap/snap.manifest.json
  fixtures/joinsplit_0_publicSpend.json
  fixtures/joinsplit_100_publicSpend.json
  packages/contracts/contracts/test/unit/JoinSplitVerifier.t.sol
  packages/contracts/contracts/test/utils/JsonDecodings.sol
  packages/core/src/proof/mock.ts
Owners: @luketchang, @Sladuca

fix decoding bug in circuit, add joinSplitInfoCommitment to event
  apps/snap/snap.manifest.json
  circuit-artifacts/joinsplit/joinsplit_cpp/vkey.json
  fixtures/joinsplit_0_publicSpend.json
  fixtures/joinsplit_100_publicSpend.json
  packages/circuits/circuits/joinsplit.circom
  packages/circuits/circuits/lib.circom
  packages/contracts/contracts/CommitmentTreeManager.sol
  packages/contracts/contracts/JoinSplitVerifier.sol
  packages/core/src/prepareOperation.ts
  packages/core/src/proveOperation.ts
Owners: @Sladuca, @luketchang

storage layouts
  packages/contracts/.storage-layouts
Owners: @luketchang

update eip712 op unit test fixture vals
  apps/snap/snap.manifest.json
  packages/contracts/contracts/test/unit/OperationEIP712.t.sol
  yarn.lock
Owners: @luketchang

snap manifest
  apps/snap/snap.manifest.json
Owners: none

yarn lock
  yarn.lock
Owners: none

changeset
  .changeset/tame-jobs-raise.md
Owners: none

add bit to joinSplitInfo indicating whether or not oldNoteB is dummy
  apps/snap/snap.manifest.json
  circuit-artifacts/joinsplit/joinsplit_cpp/vkey.json
  fixtures/joinsplit_0_publicSpend.json
  fixtures/joinsplit_100_publicSpend.json
  packages/circuits/circuits/joinsplit.circom
  packages/circuits/circuits/lib.circom
  packages/contracts/contracts/JoinSplitVerifier.sol
  packages/core/src/prepareOperation.ts
  packages/core/src/proof/joinsplit.ts
Owners: @Sladuca, @luketchang

changeset
  .changeset/perfect-sheep-pay.md
  .changeset/sour-geckos-pretend.md
Owners: none

domain seps for nonce & nf, use initial sponge state for domain sep
  apps/snap/snap.manifest.json
  circuit-artifacts/joinsplit/joinsplit_cpp/vkey.json
  fixtures/joinsplit_0_publicSpend.json
  fixtures/joinsplit_100_publicSpend.json
  packages/circuits/circuits/joinsplit.circom
  packages/circuits/circuits/lib.circom
  packages/contracts/contracts/JoinSplitVerifier.sol
  packages/core/package.json
  packages/core/src/crypto/viewer.ts
  packages/core/src/prepareOperation.ts
  packages/core/src/proof/joinsplit.ts
  packages/crypto-utils/src/hashes/poseidonBN.ts
  yarn.lock
Owners: @Sladuca, @luketchang

fix license
  packages/circuits/scripts/genSolidityVerifier.ts
  packages/contracts/contracts/JoinSplitVerifier.sol
Owners: @Sladuca, @luketchang

update circuit artifacts in frontend sdk dir
  packages/frontend-sdk/circuit-artifacts/joinsplit/joinsplitVkey.json
Owners: @luketchang, @Sladuca, @panieldark

add annotations for tricky detail
  packages/circuits/circuits/joinsplit.circom
  packages/circuits/circuits/lib.circom
Owners: @Sladuca

copy-circuit-artifacts
  packages/frontend-sdk/circuit-artifacts/joinsplit/joinsplitVkey.json
Owners: @luketchang, @Sladuca, @panieldark

add joinsplit info commitment (#440)
  .changeset/perfect-sheep-pay.md
  .changeset/sour-geckos-pretend.md
  .changeset/tame-jobs-raise.md
  actors/bundler/src/request/relay.ts
  actors/bundler/test/utils.ts
  apps/snap/snap.manifest.json
  circuit-artifacts/joinsplit/joinsplit_cpp/Makefile
  circuit-artifacts/joinsplit/joinsplit_cpp/vkey.json
  fixtures/joinsplit_0_publicSpend.json
  fixtures/joinsplit_100_publicSpend.json
  packages/circuits/circuits/joinsplit.circom
  packages/circuits/circuits/lib.circom
  packages/circuits/circuits/tree.circom
  packages/circuits/scripts/genSolidityVerifier.ts
  packages/contracts/.storage-layouts
  packages/contracts/contracts/CommitmentTreeManager.sol
  packages/contracts/contracts/JoinSplitVerifier.sol
  packages/contracts/contracts/OperationEIP712.sol
  packages/contracts/contracts/libs/OperationUtils.sol
  packages/contracts/contracts/libs/Types.sol
  packages/contracts/contracts/libs/Validation.sol
  packages/contracts/contracts/test/invariant/CommitmentTreeManager.t.sol
  packages/contracts/contracts/test/unit/JoinSplitVerifier.t.sol
  packages/contracts/contracts/test/unit/OperationEIP712.t.sol
  packages/contracts/contracts/test/utils/JsonDecodings.sol
  packages/contracts/contracts/test/utils/NocturneUtils.sol
  packages/core/package.json
  packages/core/scripts/genOperationHashTestCase.ts
  packages/core/src/crypto/viewer.ts
  packages/core/src/prepareOperation.ts
  packages/core/src/primitives/operation.ts
  packages/core/src/primitives/types.ts
  packages/core/src/proof/joinsplit.ts
  packages/core/src/proof/mock.ts
  packages/core/src/proveOperation.ts
  packages/crypto-utils/src/hashes/poseidonBN.ts
  packages/frontend-sdk/circuit-artifacts/joinsplit/joinsplitVkey.json
  packages/frontend-sdk/src/sdk.ts
  yarn.lock
Owners: @luketchang, @Sladuca, @panieldark

Base delay seconds 0
  actors/deposit-screener/src/screening/dummy.ts
Owners: @Sladuca, @luketchang

Update dummy.ts
  actors/deposit-screener/src/screening/dummy.ts
Owners: @Sladuca, @luketchang

Base delay seconds 0 (#448)
  actors/deposit-screener/src/screening/dummy.ts
Owners: @Sladuca, @luketchang

change optional builder param to config not teller addr
  apps/snap/snap.manifest.json
  packages/core/src/operationRequest/builder.ts
  packages/e2e-tests/tests/EndToEnd.ts
  packages/e2e-tests/tests/InsertionWriter.test.ts
  packages/e2e-tests/tests/optimisticRecordTracking.ts
  packages/e2e-tests/tests/syncSDK.ts
  packages/op-request-plugins/package.json
  yarn.lock
Owners: @luketchang, @Sladuca

add uniswap plugin draft
  package.json
  packages/core/src/primitives/types.ts
  packages/op-request-plugins/package.json
  packages/op-request-plugins/src/UniswapV3Plugin.ts
  packages/op-request-plugins/src/index.ts
  yarn.lock
Owners: @luketchang, @Sladuca

nits
  packages/core/src/operationRequest/builder.ts
  packages/e2e-tests/tests/EndToEnd.ts
  packages/op-request-plugins/src/UniswapV3Plugin.ts
Owners: @luketchang, @Sladuca

try/catch in uniswap plugin, turn off async executor lint to warn
  packages/op-request-plugins/.eslintrc
  packages/op-request-plugins/src/UniswapV3Plugin.ts
Owners: none

fix uniswap plugin to use universal router
  apps/snap/snap.manifest.json
  packages/op-request-plugins/src/UniswapV3Plugin.ts
Owners: none

fix core unit tests
  packages/core/test/OpRequestBuilder.test.ts
  packages/core/test/getCreationBlockOfNewestNoteInOp.test.ts
  packages/core/test/opRequestGas.test.ts
  packages/core/test/prepareOperation.test.ts
  packages/core/test/signOperation.test.ts
  packages/core/test/utils.ts
Owners: @luketchang, @Sladuca

changesets
  .changeset/fluffy-points-dream.md
  .changeset/ninety-papayas-yell.md
Owners: none

fix: uni plugin calls swap router not universal router due to lowe r SA for reentrancy
  packages/op-request-plugins/src/UniswapV3Plugin.ts
Owners: none

plugins pull addrs from config
  packages/op-request-plugins/src/UniswapV3Plugin.ts
  packages/op-request-plugins/src/WstethAdapterPlugin.ts
Owners: none

fix plugin unit test to take config not teller addr
  packages/op-request-plugins/test/plugins.test.ts
  packages/op-request-plugins/test/utils.ts
Owners: none

yarn i
  yarn.lock
Owners: none

fix op request wsteth plugin test
  packages/op-request-plugins/src/WstethAdapterPlugin.ts
  packages/op-request-plugins/test/utils.ts
Owners: none

Lido offchain plugin p3, Uniswap plugin (#439)
  .changeset/fluffy-points-dream.md
  .changeset/ninety-papayas-yell.md
  apps/snap/snap.manifest.json
  package.json
  packages/core/src/operationRequest/builder.ts
  packages/core/src/primitives/types.ts
  packages/core/test/OpRequestBuilder.test.ts
  packages/core/test/getCreationBlockOfNewestNoteInOp.test.ts
  packages/core/test/opRequestGas.test.ts
  packages/core/test/prepareOperation.test.ts
  packages/core/test/signOperation.test.ts
  packages/core/test/utils.ts
  packages/e2e-tests/tests/EndToEnd.ts
  packages/e2e-tests/tests/InsertionWriter.test.ts
  packages/e2e-tests/tests/optimisticRecordTracking.ts
  packages/e2e-tests/tests/syncSDK.ts
  packages/op-request-plugins/.eslintrc
  packages/op-request-plugins/package.json
  packages/op-request-plugins/src/UniswapV3Plugin.ts
  packages/op-request-plugins/src/WstethAdapterPlugin.ts
  packages/op-request-plugins/src/index.ts
  packages/op-request-plugins/test/plugins.test.ts
  packages/op-request-plugins/test/utils.ts
  yarn.lock
Owners: @luketchang, @Sladuca

changsets
  .changeset/fifty-feet-compare.md
  .changeset/strange-bobcats-float.md
Owners: none

.github/CODEOWNERS:

# contracts 

packages/contracts @luketchang

# circuits 

packages/circuits @Sladuca

# apps

packages/snap @luketchang @Sladuca

# actors 

actors/bundler @luketchang @Sladuca
actors/subtree-updater @Sladuca
actors/deposit-screener @Sladuca @luketchang
actors/test-actor @Sladuca @luketchang
actors/insertion-log @Sladuca

# SDKs

packages/core @luketchang @Sladuca
packages/frontend-sdk @luketchang @Sladuca @panieldark

# other packages

packages/config @luketchang
packages/deploy @luketchang
packages/e2e-tests @luketchang @Sladuca
packages/local-prover @Sladuca
packages/crypto-utils @Sladuca
packages/persistent-log @Sladuca
