Repository nocturne-xyz/monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luketchang, @Sladuca, @panieldark

nits
  packages/op-request-plugins/src/UniswapV3Plugin/index.ts
Owners: none

proper token balance checks for uniswap test
  apps/snap/snap.manifest.json
  packages/config/configs/mainnet.json
  packages/config/src/config.ts
  packages/e2e-tests/abis/ERC20.json
  packages/e2e-tests/src/deploy.ts
  packages/e2e-tests/tests/fork/UniswapV3.ts
Owners: @luketchang, @Sladuca

clean up e2e tests
  packages/e2e-tests/src/deploy.ts
  packages/e2e-tests/tests/fork/UniswapV3.ts
Owners: @luketchang, @Sladuca

up e2e test provider timeout
  packages/e2e-tests/src/deploy.ts
Owners: @luketchang, @Sladuca

only run single hop in CI
  .github/workflows/build-and-test-e2e.yml
Owners: none

add e2e test gh workflow
  .github/workflows/build-and-test-e2e.yml
  packages/e2e-tests/tests/fork/UniswapV3.ts
Owners: @luketchang, @Sladuca

fix e2e tests
  apps/snap/snap.manifest.json
  packages/e2e-tests/src/deploy.ts
Owners: @luketchang, @Sladuca

yarn i
  yarn.lock
Owners: none

use actual passed in slippage
  packages/op-request-plugins/src/UniswapV3Plugin/helpers.ts
  packages/op-request-plugins/src/UniswapV3Plugin/index.ts
Owners: none

nit
  packages/op-request-plugins/src/UniswapV3Plugin/index.ts
Owners: none

fix uniswap plugin to not use multicall, e2e fork test (#497)
  .changeset/flat-radios-walk.md
  .changeset/selfish-cheetahs-hope.md
  .github/workflows/build-and-test-e2e.yml
  apps/snap/snap.manifest.json
  packages/config/configs/goerli.json
  packages/deploy/configs/goerli.json
  packages/e2e-tests/abis/ERC20.json
  packages/e2e-tests/hardhat.config.ts
  packages/e2e-tests/src/deploy.ts
  packages/e2e-tests/src/hardhat.ts
  packages/e2e-tests/src/keys.ts
  packages/e2e-tests/tests/fork/UniswapV3.ts
  packages/op-request-plugins/.gitignore
  packages/op-request-plugins/package.json
  packages/op-request-plugins/scripts/uniswapPluginTest.ts
  packages/op-request-plugins/scripts/uniswapRouterTest.ts
  packages/op-request-plugins/src/UniswapV3Plugin/helpers.ts
  packages/op-request-plugins/src/UniswapV3Plugin/index.ts
  packages/op-request-plugins/src/UniswapV3Plugin/types.ts
  packages/op-request-plugins/tsconfig.json
  yarn.lock
Owners: @luketchang, @Sladuca

redeploy goerli mid audit
  packages/config/configs/goerli.json
  packages/deploy/src/deploy.ts
  packages/e2e-tests/tests/fork/UniswapV3.ts
  packages/op-request-plugins/src/UniswapV3Plugin/index.ts
Owners: @luketchang, @Sladuca

changeset
  .changeset/real-owls-walk.md
Owners: none

uppercase token names
  packages/deploy/configs/example.json
  packages/deploy/configs/goerli.json
  packages/deploy/configs/sepolia.json
Owners: @luketchang

tweak types, add support for conf payment metadata
  apps/snap/snap.manifest.json
  apps/snap/src/index.ts
  apps/snap/src/utils/display.ts
  packages/client/src/operationRequest/builder.ts
  packages/client/src/types.ts
  packages/core/package.json
  packages/core/src/utils/index.ts
  packages/core/src/utils/tokenInfo.ts
  packages/frontend-sdk/src/api.ts
  packages/frontend-sdk/src/sdk.ts
  packages/frontend-sdk/src/types.ts
  packages/op-request-plugins/src/Erc20Plugin.ts
  packages/op-request-plugins/src/EthTransferAdapterPlugin.ts
  packages/op-request-plugins/src/UniswapV3Plugin/helpers.ts
  packages/op-request-plugins/src/UniswapV3Plugin/index.ts
  packages/op-request-plugins/src/WstethAdapterPlugin.ts
Owners: @luketchang, @Sladuca, @panieldark

ack
  apps/snap/snap.manifest.json
  apps/snap/src/index.ts
  apps/snap/src/utils/display.ts
Owners: none

wayne/screener-test-script
  actors/deposit-screener/package.json
  actors/deposit-screener/src/cli/commands/run/addressInspector.ts
  actors/deposit-screener/src/cli/commands/run/index.ts
  actors/deposit-screener/src/screening/checks/RuleSet.ts
  actors/deposit-screener/src/screening/checks/apiCalls.ts
  actors/deposit-screener/src/screening/checks/v1/RULESET_V1.ts
  actors/deposit-screener/src/utils.ts
  actors/deposit-screener/test/scripts/generateRulesetV1CallsSnapshot.ts
Owners: @Sladuca, @luketchang

wayne/real-screener-implementation
  actors/deposit-screener/src/cli/commands/run/processor.ts
  actors/deposit-screener/src/cli/commands/run/server.ts
Owners: @Sladuca, @luketchang

move requireApiKeys into constructor
  actors/deposit-screener/src/cli/commands/run/server.ts
  actors/deposit-screener/src/screening/index.ts
Owners: @Sladuca, @luketchang

allow env var override in fe sdk for bundler/screener urls
  apps/snap/snap.manifest.json
  packages/frontend-sdk/src/utils.ts
Owners: @luketchang, @Sladuca, @panieldark

fix eth transfer adapter name
  packages/op-request-plugins/src/EthTransferAdapterPlugin.ts
Owners: none

fix token/protocol casing
  packages/config/configs/example-network.json
  packages/config/configs/localhost.json
  packages/config/configs/sepolia.json
  packages/e2e-tests/src/deploy.ts
  packages/frontend-sdk/src/sdk.ts
  packages/op-request-plugins/src/EthTransferAdapterPlugin.ts
  packages/op-request-plugins/src/WstethAdapterPlugin.ts
  packages/op-request-plugins/test/utils.ts
Owners: @luketchang, @Sladuca, @panieldark

fix more token names
  apps/snap/snap.manifest.json
  packages/config/configs/example-network.json
  packages/config/configs/localhost.json
  packages/config/configs/sepolia.json
Owners: @luketchang

pr feedback
  actors/bundler/src/server.ts
  packages/offchain-utils/src/geoMiddleware.ts
Owners: @luketchang, @Sladuca

[GEO] introduce new middleware and apply it (#491)
  actors/bundler/src/server.ts
  actors/deposit-screener/src/server.ts
  packages/offchain-utils/src/geoMiddleware.ts
  packages/offchain-utils/src/index.ts
Owners: @luketchang, @Sladuca

wETH -> WETH
  apps/snap/snap.manifest.json
  packages/config/configs/example-network.json
  packages/config/configs/localhost.json
  packages/config/configs/sepolia.json
  packages/e2e-tests/src/deploy.ts
  packages/frontend-sdk/src/sdk.ts
  packages/op-request-plugins/src/EthTransferAdapterPlugin.ts
  packages/op-request-plugins/src/WstethAdapterPlugin.ts
  packages/op-request-plugins/test/utils.ts
Owners: @luketchang, @Sladuca, @panieldark

changeset
  .changeset/rare-steaks-run.md
Owners: none

changeset version
  .changeset/rare-steaks-run.md
  actors/bundler/CHANGELOG.md
  actors/bundler/package.json
  actors/deposit-screener/CHANGELOG.md
  actors/deposit-screener/package.json
  actors/insertion-writer/CHANGELOG.md
  actors/insertion-writer/package.json
  actors/subtree-updater/CHANGELOG.md
  actors/subtree-updater/package.json
  actors/test-actor/CHANGELOG.md
  actors/test-actor/package.json
  apps/snap/CHANGELOG.md
  apps/snap/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/deploy/CHANGELOG.md
  packages/deploy/package.json
  packages/frontend-sdk/CHANGELOG.md
  packages/frontend-sdk/package.json
  packages/op-request-plugins/CHANGELOG.md
  packages/op-request-plugins/package.json
Owners: @luketchang, @Sladuca, @panieldark

snap manifest
  apps/snap/snap.manifest.json
Owners: none

add cachedFetchWithRetry to offchain utils
  packages/offchain-utils/src/request.ts
Owners: none

add initial caching and integrate to screener
  actors/deposit-screener/src/screener.ts
  actors/deposit-screener/src/screening/checks/RuleSet.ts
  actors/deposit-screener/src/screening/checks/apiCalls.ts
  actors/deposit-screener/src/screening/checks/v1/RULESET_V1.ts
  actors/deposit-screener/src/screening/index.ts
  packages/offchain-utils/src/request.ts
Owners: @Sladuca, @luketchang

remove in memory local cache
  actors/deposit-screener/src/screening/checks/RuleSet.ts
  actors/deposit-screener/src/screening/index.ts
  apps/snap/snap.manifest.json
  packages/frontend-sdk/src/sdk.ts
  packages/offchain-utils/src/request.ts
  yarn.lock
Owners: @Sladuca, @luketchang, @panieldark

save, build broken
  actors/deposit-screener/package.json
  actors/deposit-screener/test/RULESET_V1.test.ts
  actors/deposit-screener/test/snapshots/2023-09-29/snapshot.json
  packages/offchain-utils/src/request.ts
  yarn.lock
Owners: @Sladuca, @luketchang

broke test
  actors/deposit-screener/package.json
  actors/deposit-screener/src/screening/checks/apiCalls.ts
  actors/deposit-screener/src/screening/index.ts
  actors/deposit-screener/test/RULESET_V1.test.ts
  actors/deposit-screener/tsconfig.json
Owners: @Sladuca, @luketchang

save prog
  actors/deposit-screener/package.json
  actors/deposit-screener/src/screening/checks/apiCalls.ts
  packages/offchain-utils/src/request.ts
Owners: @Sladuca, @luketchang

6 tests pass
  actors/deposit-screener/package.json
  actors/deposit-screener/src/screening/checks/RuleSet.ts
  actors/deposit-screener/src/screening/checks/apiCalls.ts
  actors/deposit-screener/test/RULESET_V1.test.ts
  actors/deposit-screener/test/snapshots/2023-09-29/snapshot.json
  packages/offchain-utils/src/request.ts
Owners: @Sladuca, @luketchang

broekn
  actors/deposit-screener/test/RuleSet.test.ts
Owners: @Sladuca, @luketchang

one test suite passes
  actors/deposit-screener/src/screening/checks/RuleSet.ts
  actors/deposit-screener/src/screening/checks/apiCalls.ts
  actors/deposit-screener/src/screening/checks/v1/RULESET_V1.ts
  actors/deposit-screener/test/RULESET_V1.test.ts
  packages/offchain-utils/src/request.ts
Owners: @Sladuca, @luketchang

save before fixing api result dup
  actors/deposit-screener/src/screening/checks/apiCalls.ts
  actors/deposit-screener/src/screening/checks/v1/RULESET_V1.ts
  actors/deposit-screener/test/RULESET_V1.test.ts
  actors/deposit-screener/test/snapshots/2023-09-29/snapshot.json
  actors/deposit-screener/test/utils.ts
Owners: @Sladuca, @luketchang

yarn lock
  yarn.lock
Owners: none

.github/CODEOWNERS:

# contracts 

packages/contracts @luketchang

# circuits 

packages/circuits @Sladuca

# apps

packages/snap @luketchang @Sladuca

# actors 

actors/bundler @luketchang @Sladuca
actors/subtree-updater @Sladuca
actors/deposit-screener @Sladuca @luketchang
actors/test-actor @Sladuca @luketchang
actors/insertion-log @Sladuca

# SDKs

packages/core @luketchang @Sladuca
packages/frontend-sdk @luketchang @Sladuca @panieldark

# other packages

packages/config @luketchang
packages/deploy @luketchang
packages/e2e-tests @luketchang @Sladuca
packages/local-prover @Sladuca
packages/crypto-utils @Sladuca
packages/persistent-log @Sladuca
