Repository nocturne-xyz/monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luketchang, @Sladuca, @panieldark

save wip
  actors/deposit-screener/package.json
  actors/deposit-screener/src/screening/checks/RuleSet.ts
  actors/deposit-screener/src/screening/checks/v1/RULESET_V1.ts
  actors/deposit-screener/test/RULESET_V1.test.ts
Owners: @Sladuca, @luketchang

reduce max note value to 2^126
  packages/circuits/circuits/joinsplit.circom
  packages/contracts/contracts/libs/Validation.sol
Owners: @Sladuca, @luketchang

checkpoint
  packages/circuits/circuits/joinsplit.circom
  packages/circuits/circuits/lib.circom
  packages/circuits/circuits/tree.circom
Owners: @Sladuca

add joinsplit info commitment to circuit / proof wrappers
  circuit-artifacts/joinsplit/joinsplit_cpp/Makefile
  circuit-artifacts/joinsplit/joinsplit_cpp/vkey.json
  packages/circuits/circuits/joinsplit.circom
  packages/circuits/circuits/lib.circom
  packages/contracts/contracts/JoinSplitVerifier.sol
  packages/contracts/contracts/libs/Validation.sol
  packages/core/src/proof/joinsplit.ts
  yarn.lock
Owners: @Sladuca, @luketchang

add joinSplitInfoCommmitment to JoinSplit type
  apps/snap/snap.manifest.json
  circuit-artifacts/joinsplit/joinsplit_cpp/vkey.json
  packages/circuits/circuits/joinsplit.circom
  packages/contracts/contracts/JoinSplitVerifier.sol
  packages/contracts/contracts/libs/OperationUtils.sol
  packages/contracts/contracts/libs/Types.sol
  packages/contracts/contracts/test/invariant/CommitmentTreeManager.t.sol
  packages/contracts/contracts/test/unit/OperationEIP712.t.sol
  packages/contracts/contracts/test/utils/NocturneUtils.sol
  packages/core/scripts/genOperationHashTestCase.ts
  packages/core/src/prepareOperation.ts
  packages/core/src/primitives/operation.ts
  packages/core/src/primitives/types.ts
  packages/core/src/proof/joinsplit.ts
  packages/core/src/proof/mock.ts
  packages/core/src/proveOperation.ts
  packages/frontend-sdk/src/sdk.ts
Owners: @Sladuca, @luketchang, @panieldark

changeset
  .changeset/tame-jobs-raise.md
Owners: none

fix decoding bug in circuit, add joinSplitInfoCommitment to event
  apps/snap/snap.manifest.json
  circuit-artifacts/joinsplit/joinsplit_cpp/vkey.json
  fixtures/joinsplit_0_publicSpend.json
  fixtures/joinsplit_100_publicSpend.json
  packages/circuits/circuits/joinsplit.circom
  packages/circuits/circuits/lib.circom
  packages/contracts/contracts/CommitmentTreeManager.sol
  packages/contracts/contracts/JoinSplitVerifier.sol
  packages/core/src/prepareOperation.ts
  packages/core/src/proveOperation.ts
Owners: @Sladuca, @luketchang

add joinSplitInfoCommitment to ERC721
  apps/snap/snap.manifest.json
  packages/contracts/contracts/OperationEIP712.sol
Owners: @luketchang

update eip712 op unit test fixture vals
  apps/snap/snap.manifest.json
  packages/contracts/contracts/test/unit/OperationEIP712.t.sol
  yarn.lock
Owners: @luketchang

add joinSplitInfoCommitment to hashJoinSplit
  packages/contracts/contracts/OperationEIP712.sol
Owners: @luketchang

regen proofs and fix unit tests
  actors/bundler/src/request/relay.ts
  actors/bundler/test/utils.ts
  apps/snap/snap.manifest.json
  fixtures/joinsplit_0_publicSpend.json
  fixtures/joinsplit_100_publicSpend.json
  packages/contracts/contracts/test/unit/JoinSplitVerifier.t.sol
  packages/contracts/contracts/test/utils/JsonDecodings.sol
  packages/core/src/proof/mock.ts
Owners: @luketchang, @Sladuca

storage layouts
  packages/contracts/.storage-layouts
Owners: @luketchang

yarn lock
  yarn.lock
Owners: none

snap manifest
  apps/snap/snap.manifest.json
Owners: none

add bit to joinSplitInfo indicating whether or not oldNoteB is dummy
  apps/snap/snap.manifest.json
  circuit-artifacts/joinsplit/joinsplit_cpp/vkey.json
  fixtures/joinsplit_0_publicSpend.json
  fixtures/joinsplit_100_publicSpend.json
  packages/circuits/circuits/joinsplit.circom
  packages/circuits/circuits/lib.circom
  packages/contracts/contracts/JoinSplitVerifier.sol
  packages/core/src/prepareOperation.ts
  packages/core/src/proof/joinsplit.ts
Owners: @Sladuca, @luketchang

Integrate Ruleset usage into screener server (#432)
  .changeset/famous-rice-end.md
  actors/deposit-screener/scripts/testMisttrackCallAndRuleset.ts
  actors/deposit-screener/scripts/testRulesets.ts
  actors/deposit-screener/src/cli/commands/run/processor.ts
  actors/deposit-screener/src/cli/commands/run/server.ts
  actors/deposit-screener/src/routes.ts
  actors/deposit-screener/src/screener.ts
  actors/deposit-screener/src/screenerDelay/dummy.ts
  actors/deposit-screener/src/screenerDelay/index.ts
  actors/deposit-screener/src/screening/checks/README.md
  actors/deposit-screener/src/screening/checks/RuleSet.ts
  actors/deposit-screener/src/screening/checks/apiCalls.ts
  actors/deposit-screener/src/screening/checks/externalApis/trm/swagger.json
  actors/deposit-screener/src/screening/checks/poc.ts
  actors/deposit-screener/src/screening/checks/v1/RULESET_V1.ts
  actors/deposit-screener/src/screening/checks/v1/RuleSetV1.ts
  actors/deposit-screener/src/screening/checks/v1/utils.ts
  actors/deposit-screener/src/screening/dummy.ts
  actors/deposit-screener/src/screening/index.ts
  actors/deposit-screener/src/server.ts
  actors/deposit-screener/src/waitEstimation/index.ts
  apps/snap/snap.manifest.json
  packages/e2e-tests/src/screener.ts
  yarn.lock
Owners: @Sladuca, @luketchang

update circuit artifacts in frontend sdk dir
  packages/frontend-sdk/circuit-artifacts/joinsplit/joinsplitVkey.json
Owners: @luketchang, @Sladuca, @panieldark

Deposit Screener Rulesets (again) (#443)
  .changeset/famous-rice-end.md
  actors/deposit-screener/scripts/testMisttrackCallAndRuleset.ts
  actors/deposit-screener/scripts/testRulesets.ts
  actors/deposit-screener/src/cli/commands/run/processor.ts
  actors/deposit-screener/src/cli/commands/run/server.ts
  actors/deposit-screener/src/routes.ts
  actors/deposit-screener/src/screener.ts
  actors/deposit-screener/src/screenerDelay/dummy.ts
  actors/deposit-screener/src/screenerDelay/index.ts
  actors/deposit-screener/src/screening/checks/README.md
  actors/deposit-screener/src/screening/checks/RuleSet.ts
  actors/deposit-screener/src/screening/checks/apiCalls.ts
  actors/deposit-screener/src/screening/checks/externalApis/trm/swagger.json
  actors/deposit-screener/src/screening/checks/v1/RULESET_V1.ts
  actors/deposit-screener/src/screening/checks/v1/utils.ts
  actors/deposit-screener/src/screening/dummy.ts
  actors/deposit-screener/src/screening/index.ts
  actors/deposit-screener/src/server.ts
  actors/deposit-screener/src/waitEstimation/index.ts
  packages/core/src/utils/functional.ts
  packages/e2e-tests/src/screener.ts
  yarn.lock
Owners: @Sladuca, @luketchang

Add display deposits (again) (#442)
  .changeset/neat-houses-sit.md
  packages/frontend-sdk/src/api.ts
  packages/frontend-sdk/src/index.ts
  packages/frontend-sdk/src/sdk.ts
  packages/frontend-sdk/src/types.ts
  packages/frontend-sdk/src/utils.ts
Owners: @luketchang, @Sladuca, @panieldark

Adds snapshot usage
  actors/deposit-screener/package.json
  actors/deposit-screener/src/screening/checks/RuleSet.ts
  actors/deposit-screener/src/screening/checks/apiCalls.ts
  actors/deposit-screener/src/screening/checks/apiCallsTestsSnapshot.json
  actors/deposit-screener/test/RULESET_V1.test.ts
  actors/deposit-screener/test/RuleSet.test.ts
  actors/deposit-screener/test/snapshots/apiCallsSnapshot.json
Owners: @Sladuca, @luketchang

cleanup
  actors/deposit-screener/src/screening/checks/apiCalls.ts
Owners: @Sladuca, @luketchang

Create khaki-queens-brush.md
  .changeset/khaki-queens-brush.md
Owners: none

add tests
  actors/deposit-screener/.env.dev
  actors/deposit-screener/src/screening/checks/apiCalls.ts
Owners: @Sladuca, @luketchang

unit tests for ruleset
  actors/deposit-screener/package.json
  actors/deposit-screener/src/screening/checks/RuleSet.ts
  actors/deposit-screener/test/RuleSet.test.ts
Owners: @Sladuca, @luketchang

remove comment
  actors/deposit-screener/src/screening/checks/apiCalls.ts
Owners: @Sladuca, @luketchang

progress
  actors/deposit-screener/scripts/testMisttrackCallAndRuleset.ts
  actors/deposit-screener/scripts/testRulesets.ts
  actors/deposit-screener/src/screening/checks/apiCalls.ts
  actors/deposit-screener/src/screening/checks/v1/RULESET_V1.ts
  actors/deposit-screener/test/RULESET_V1.test.ts
  actors/deposit-screener/test/apiCallsTestsSnapshot.json
  actors/deposit-screener/tsconfig.json
Owners: @Sladuca, @luketchang

misttrack api, wip
  actors/deposit-screener/.env.dev
  actors/deposit-screener/src/screening/checks/apiCalls.ts
  actors/deposit-screener/test/RULESET_V1.test.ts
Owners: @Sladuca, @luketchang

test progress; running into Max Misttrack rate limit
  actors/deposit-screener/package.json
  actors/deposit-screener/src/screening/checks/apiCalls.ts
  actors/deposit-screener/src/screening/checks/apiCallsTestsSnapshot.json
  actors/deposit-screener/src/screening/checks/v1/RULESET_V1.ts
  actors/deposit-screener/test/RULESET_V1.test.ts
  actors/deposit-screener/test/RuleSet.test.ts
Owners: @Sladuca, @luketchang

save wip
  actors/deposit-screener/package.json
  actors/deposit-screener/src/screening/checks/v1/RULESET_V1.ts
  actors/deposit-screener/test/RULESET_V1.test.ts
Owners: @Sladuca, @luketchang

Adds snapshot usage
  actors/deposit-screener/package.json
  actors/deposit-screener/src/screening/checks/RuleSet.ts
  actors/deposit-screener/src/screening/checks/apiCalls.ts
  actors/deposit-screener/src/screening/checks/apiCallsTestsSnapshot.json
  actors/deposit-screener/test/RULESET_V1.test.ts
  actors/deposit-screener/test/RuleSet.test.ts
  actors/deposit-screener/test/snapshots/apiCallsSnapshot.json
Owners: @Sladuca, @luketchang

cleanup
  actors/deposit-screener/src/screening/checks/apiCalls.ts
Owners: @Sladuca, @luketchang

Create khaki-queens-brush.md
  .changeset/khaki-queens-brush.md
Owners: none

post merge
  actors/deposit-screener/src/screening/checks/apiCalls.ts
  actors/deposit-screener/test/RULESET_V1.test.ts
  actors/deposit-screener/test/RuleSet.test.ts
Owners: @Sladuca, @luketchang

unnecessary yarn dev
  actors/deposit-screener/.env.dev
  actors/deposit-screener/package.json
Owners: @Sladuca, @luketchang

Remove log
  actors/deposit-screener/src/screening/checks/apiCalls.ts
Owners: @Sladuca, @luketchang

Update yarn.lock
  yarn.lock
Owners: none

domain seps for nonce & nf, use initial sponge state for domain sep
  apps/snap/snap.manifest.json
  circuit-artifacts/joinsplit/joinsplit_cpp/vkey.json
  fixtures/joinsplit_0_publicSpend.json
  fixtures/joinsplit_100_publicSpend.json
  packages/circuits/circuits/joinsplit.circom
  packages/circuits/circuits/lib.circom
  packages/contracts/contracts/JoinSplitVerifier.sol
  packages/core/package.json
  packages/core/src/crypto/viewer.ts
  packages/core/src/prepareOperation.ts
  packages/core/src/proof/joinsplit.ts
  packages/crypto-utils/src/hashes/poseidonBN.ts
  yarn.lock
Owners: @Sladuca, @luketchang

changeset
  .changeset/perfect-sheep-pay.md
  .changeset/sour-geckos-pretend.md
Owners: none

fix license
  packages/circuits/scripts/genSolidityVerifier.ts
  packages/contracts/contracts/JoinSplitVerifier.sol
Owners: @Sladuca, @luketchang

PR Feedback
  actors/deposit-screener/package.json
  actors/deposit-screener/src/screening/checks/RuleSet.ts
  actors/deposit-screener/src/screening/checks/apiCalls.ts
  actors/deposit-screener/src/screening/checks/v1/RULESET_V1.ts
  actors/deposit-screener/test/RULESET_V1.test.ts
  actors/deposit-screener/test/RuleSet.test.ts
  actors/deposit-screener/test/snapshots/apiCallsSnapshot09-13-2023.json
Owners: @Sladuca, @luketchang

.github/CODEOWNERS:

# contracts 

packages/contracts @luketchang

# circuits 

packages/circuits @Sladuca

# apps

packages/snap @luketchang @Sladuca

# actors 

actors/bundler @luketchang @Sladuca
actors/subtree-updater @Sladuca
actors/deposit-screener @Sladuca @luketchang
actors/test-actor @Sladuca @luketchang
actors/insertion-log @Sladuca

# SDKs

packages/core @luketchang @Sladuca
packages/frontend-sdk @luketchang @Sladuca @panieldark

# other packages

packages/config @luketchang
packages/deploy @luketchang
packages/e2e-tests @luketchang @Sladuca
packages/local-prover @Sladuca
packages/crypto-utils @Sladuca
packages/persistent-log @Sladuca
