Repository nocturne-xyz/monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luketchang, @Sladuca, @panieldark

.github/CODEOWNERS:

# Contracts

packages/contracts @luketchang

# Circuits

packages/circuits @Sladuca

# SDKs

packages/wallet-sdk @luketchang @Sladuca

# Frontend

packages/sdk @luketchang @Sladuca @panieldark

# Offchain

packages/bundler @luketchang @Sladuca
packages/subtree-updater @Sladuca
packages/deposit-screener @Sladuca @luketchang
packages/test-actor @Sladuca @luketchang

# Other Packages

packages/deploy @luketchang
packages/e2e-tests @luketchang @Sladuca
packages/local-prover @Sladuca
packages/snap @luketchang @Sladuca

Migrate fe-sdk to sdk
  packages/sdk/.eslintignore
  packages/sdk/.eslintrc
  packages/sdk/.prettierrc
  packages/sdk/CHANGELOG.md
  packages/sdk/global.d.ts
  packages/sdk/index.ts
  packages/sdk/package.json
  packages/sdk/src/abis/ERC1155.json
  packages/sdk/src/abis/ERC20.json
  packages/sdk/src/abis/ERC721.json
  packages/sdk/src/api.ts
  packages/sdk/src/joinsplit/joinsplit.wasm
  packages/sdk/src/joinsplit/joinsplitVkey.json
  packages/sdk/src/sdk.ts
  packages/sdk/src/types.ts
  packages/sdk/src/utils.ts
  packages/sdk/tsconfig.json
  packages/sdk/tsconfig.test.json
  turbo.json
  yarn.lock
Owners: @luketchang, @Sladuca, @panieldark

it works locally
  packages/bundler/package.json
  packages/config/package.json
  packages/deposit-screener/package.json
  packages/sdk/package.json
  packages/sdk/src/sdk.ts
  packages/sdk/src/types.ts
  packages/sdk/src/utils.ts
  packages/snap/package.json
  packages/snap/scripts/build_local.sh
  packages/snap/snap.manifest.json
  packages/snap/src/index.ts
  packages/subtree-updater/package.json
  yarn.lock
Owners: @luketchang, @Sladuca, @panieldark

Update sdk.ts
  packages/frontend-sdk/src/sdk.ts
Owners: none

PR feedback
  packages/config/package.json
  packages/config/src/config.ts
  packages/sdk/circuit-artifacts/joinsplit/joinsplit.wasm
  packages/sdk/circuit-artifacts/joinsplit/joinsplitVkey.json
  packages/sdk/package.json
  packages/sdk/src/api.ts
  packages/sdk/src/sdk.ts
  packages/sdk/src/types.ts
  packages/sdk/src/utils.ts
  yarn.lock
Owners: @luketchang, @Sladuca, @panieldark

chain -> fnChain
  packages/sdk/src/sdk.ts
  packages/sdk/src/utils.ts
Owners: @luketchang, @Sladuca, @panieldark

checkpoint—working
  packages/sdk/package.json
  packages/sdk/src/api.ts
  packages/sdk/src/metamask/index.ts
  packages/sdk/src/metamask/types.ts
  packages/sdk/src/sdk.ts
Owners: @luketchang, @Sladuca, @panieldark

Much more beautiful usage
  packages/sdk/package.json
  packages/sdk/src/api.ts
  packages/sdk/src/metamask/index.ts
  packages/sdk/src/sdk.ts
Owners: @luketchang, @Sladuca, @panieldark

Use OperationRequestWithMetadata at all callsites
  packages/e2e-tests/tests/EndToEnd.ts
  packages/e2e-tests/tests/optimisticRecordTracking.ts
  packages/e2e-tests/tests/syncSDK.ts
  packages/sdk/src/api.ts
  packages/snap/snap.manifest.json
  packages/test-actor/src/actor.ts
  packages/wallet-sdk/package.json
  packages/wallet-sdk/src/NocturneWalletSDK.ts
  packages/wallet-sdk/src/index.ts
  packages/wallet-sdk/src/operationRequest.ts
  packages/wallet-sdk/test/OperationRequestBuilder.test.ts
  packages/wallet-sdk/test/db.test.ts
  packages/wallet-sdk/test/getCreationBlockOfNewestNoteInOp.test.ts
  packages/wallet-sdk/test/opRequestGas.test.ts
  packages/wallet-sdk/test/prepareOperation.test.ts
  packages/wallet-sdk/test/signOperation.test.ts
  yarn.lock
Owners: @luketchang, @Sladuca, @panieldark

Remove old comment
  packages/sdk/src/api.ts
Owners: @luketchang, @Sladuca, @panieldark

increase version numbers, not yet published
  packages/contracts/package.json
  packages/frontend-sdk/package.json
  packages/local-prover/package.json
  packages/sdk/package.json
Owners: @luketchang, @Sladuca, @panieldark

rebuild circuits
  circuit-artifacts/joinsplit/joinsplit_cpp/vkey.json
  circuit-artifacts/joinsplit/joinsplit_js/joinsplit.wasm
  packages/contracts/contracts/JoinSplitVerifier.sol
Owners: @luketchang

publish & deploy contracts
  packages/config/configs/sepolia2.json
  packages/deploy/configs/sepolia2.json
  packages/snap/snap.manifest.json
  yarn.lock
Owners: @luketchang, @Sladuca

yarn i
  yarn.lock
Owners: none

bump packages
  packages/config/package.json
  yarn.lock
Owners: none

bump deps in services
  packages/bundler/package.json
  packages/deposit-screener/package.json
  packages/subtree-updater/package.json
  packages/test-actor/package.json
  yarn.lock
Owners: @luketchang, @Sladuca

Bump snap goldsky url (#375)
  packages/snap/package.json
  packages/snap/snap.manifest.json
  packages/snap/src/index.ts
Owners: @luketchang, @Sladuca

subtree updater double insertion fix (#363)
  packages/e2e-tests/package.json
  packages/local-prover/package.json
  packages/local-prover/scripts/genSubtreeUpdateTestCase.ts
  packages/sdk/CHANGELOG.md
  packages/sdk/src/sync/closableAsyncIterator.ts
  packages/sdk/src/sync/subgraph/core/fetch.ts
  packages/subtree-updater/CHANGELOG.md
  packages/subtree-updater/package.json
  packages/subtree-updater/src/cli/index.ts
  packages/subtree-updater/src/constants.ts
  packages/subtree-updater/src/persistentLog.ts
  packages/subtree-updater/src/subtreeUpdater.ts
  packages/subtree-updater/src/types.ts
  packages/subtree-updater/test/persistentLog.test.ts
  packages/subtree-updater/tsconfig.json
Owners: @luketchang, @Sladuca, @panieldark

Feat: Expose syncWithProgress() from fe-sdk (#367)
  packages/e2e-tests/tests/EndToEnd.ts
  packages/frontend-sdk/CHANGELOG.md
  packages/frontend-sdk/src/sdk.ts
  packages/sdk/CHANGELOG.md
  packages/sdk/src/NocturneDB.ts
  packages/sdk/src/NocturneWalletSDK.ts
  packages/sdk/src/index.ts
  packages/sdk/src/sync/rpc/adapter.ts
  packages/sdk/src/sync/rpc/fetch.ts
  packages/sdk/src/sync/subgraph/core/adapter.ts
  packages/sdk/src/sync/subgraph/core/fetch.ts
  packages/sdk/src/sync/subgraph/index.ts
  packages/sdk/src/sync/syncAdapter.ts
  packages/sdk/src/syncSDK.ts
  packages/sdk/test/prepareOperation.test.ts
  packages/sdk/test/utils.ts
  packages/snap/CHANGELOG.md
  packages/snap/src/index.ts
  packages/subtree-updater/src/sync/subgraph/fetch.ts
Owners: @luketchang, @Sladuca, @panieldark

update snap wording (#369)
  packages/frontend-sdk/src/sdk.ts
  packages/snap/src/index.ts
  packages/snap/src/utils/display.ts
Owners: @luketchang, @Sladuca

Snap/SDK getLatestSyncedMerkleIndex 1-liner bug fix (#376)
  packages/sdk/src/NocturneWalletSDK.ts
  packages/snap/package.json
  packages/snap/snap.manifest.json
Owners: @luketchang, @Sladuca, @panieldark

set cap on max parallel provers to avoid OOM (#377)
  packages/sdk/CHANGELOG.md
  packages/sdk/src/proveOperation.ts
  packages/sdk/src/utils/functional.ts
Owners: @luketchang, @Sladuca, @panieldark

Screener monkey patches (#374)
  packages/deposit-screener/docker-compose.yml
  packages/deposit-screener/src/check.ts
  packages/deposit-screener/src/routes.ts
  packages/deposit-screener/src/screenerDelay/dummy.ts
  packages/deposit-screener/src/screening/dummy.ts
  packages/deposit-screener/src/utils.ts
  packages/deposit-screener/src/waitEstimation/index.ts
  scripts/run_local.sh
Owners: @Sladuca, @luketchang

fix(sdk): fix opdigest accidental removal when submitting testnet ops (#378)
  packages/e2e-tests/tests/optimisticRecordTracking.ts
  packages/sdk/CHANGELOG.md
  packages/sdk/src/NocturneWalletSDK.ts
  packages/snap/package.json
  packages/snap/snap.manifest.json
Owners: @luketchang, @Sladuca, @panieldark

Snap reuses lastSyncedMerkleIndex if already syncing (#389)
  packages/snap/CHANGELOG.md
  packages/snap/package.json
  packages/snap/snap.manifest.json
  packages/snap/src/index.ts
Owners: @luketchang, @Sladuca

rebase
  packages/local-prover/scripts/genSubtreeUpdateTestCase.ts
  packages/snap/snap.manifest.json
  yarn.lock
Owners: @Sladuca, @luketchang

fix: wallet sdk/fe-sdk estimates gasPrice too low (#366)
  packages/frontend-sdk/src/sdk.ts
  packages/sdk/CHANGELOG.md
  packages/sdk/src/opRequestGas.ts
  packages/sdk/src/operationRequest.ts
  packages/snap/CHANGELOG.md
  packages/snap/package.json
  packages/snap/src/index.ts
Owners: @luketchang, @Sladuca, @panieldark

check key length in test actor env var
  packages/test-actor/.env.example
  packages/test-actor/src/cli/run.ts
Owners: @Sladuca, @luketchang

set node version in dockerfile
  packages/subtree-updater/Dockerfile
Owners: @Sladuca

regenerate joinsplit test cases, update circuit artifacts
  circuit-artifacts/joinsplit/joinsplit_cpp/vkey.json
  circuit-artifacts/joinsplit/joinsplit_js/joinsplit.wasm
  fixtures/joinsplit_0_publicSpend.json
  fixtures/joinsplit_100_publicSpend.json
  packages/contracts/contracts/JoinSplitVerifier.sol
Owners: @luketchang

update subgraph, workspace dep for local-prover
  packages/test-actor/package.json
  yarn.lock
Owners: @Sladuca, @luketchang

update to workspace deps + subgraph bump, e2e tests pass
  packages/bundler/package.json
  packages/deposit-screener/package.json
  packages/snap/snap.manifest.json
  packages/subtree-updater/package.json
  packages/test-actor/package.json
  yarn.lock
Owners: @luketchang, @Sladuca

bump sdk, local-prover, contracts in offchain actors
  packages/bundler/package.json
  packages/contracts/package.json
  packages/deposit-screener/package.json
  packages/local-prover/package.json
  packages/sdk/package.json
  packages/snap/snap.manifest.json
  packages/subtree-updater/package.json
  packages/test-actor/package.json
  yarn.lock
Owners: @luketchang, @Sladuca, @panieldark

bump sdk
  packages/sdk/package.json
  packages/test-actor/package.json
  yarn.lock
Owners: @luketchang, @Sladuca, @panieldark

testnet2 for test actor
  packages/bundler/src/cli/commands/run/batcher.ts
  packages/test-actor/src/cli/run.ts
Owners: @luketchang, @Sladuca

prepend service name with testnet2 for logs
  packages/bundler/src/cli/commands/run/batcher.ts
  packages/bundler/src/cli/commands/run/server.ts
  packages/bundler/src/cli/commands/run/submitter.ts
  packages/deposit-screener/src/cli/commands/run/processor.ts
  packages/deposit-screener/src/cli/commands/run/server.ts
  packages/subtree-updater/src/cli/commands/run/runSubtreeUpdater.ts
Owners: @luketchang, @Sladuca

axe use of provenoperation type outside sdk
  packages/e2e-tests/src/utils.ts
  packages/frontend-sdk/src/sdk.ts
  packages/sdk/src/proveOperation.ts
  packages/snap/snap.manifest.json
  packages/test-actor/package.json
  yarn.lock
Owners: @luketchang, @Sladuca, @panieldark

fix sepolia joinsplit verifier
  packages/config/configs/sepolia2.json
Owners: none

cherry-pick missing 3 commits including oz relay
  packages/bundler/package.json
  packages/deposit-screener/package.json
  packages/frontend-sdk/src/sdk.ts
  packages/snap/snap.manifest.json
  packages/subtree-updater/package.json
  packages/test-actor/package.json
  packages/test-actor/src/cli/run.ts
  yarn.lock
Owners: @luketchang, @Sladuca

Expose retrievePendingDeposit() in fe-sdk (#368)
  packages/frontend-sdk/package.json
  packages/frontend-sdk/src/sdk.ts
  scripts/run_local.sh
Owners: none

fix: integrate OZ relay into offchain actors, axe tx-manager (#388)
  packages/bundler/.env.example
  packages/bundler/CHANGELOG.md
  packages/bundler/package.json
  packages/bundler/src/cli/commands/run/submitter.ts
  packages/bundler/src/submitter.ts
  packages/deposit-screener/.env.example
  packages/deposit-screener/CHANGELOG.md
  packages/deposit-screener/package.json
  packages/deposit-screener/src/cli/commands/run/processor.ts
  packages/deposit-screener/src/fulfiller.ts
  packages/snap/snap.manifest.json
  packages/subtree-updater/.env.example
  packages/subtree-updater/CHANGELOG.md
  packages/subtree-updater/package.json
  packages/subtree-updater/src/cli/commands/run/runSubtreeUpdater.ts
  packages/subtree-updater/src/subtreeUpdater.ts
  packages/test-actor/.env.example
  packages/test-actor/CHANGELOG.md
  packages/test-actor/package.json
  packages/test-actor/src/actor.ts
  packages/test-actor/src/cli/run.ts
  packages/tx-manager/.eslintignore
  packages/tx-manager/.eslintrc
  packages/tx-manager/.prettierrc
  packages/tx-manager/CHANGELOG.md
  packages/tx-manager/index.ts
  packages/tx-manager/package.json
  packages/tx-manager/src/index.ts
  packages/tx-manager/tsconfig.json
  packages/tx-manager/tsconfig.test.json
  tsconfig.json
  turbo.json
Owners: @luketchang, @Sladuca
