Repository nocturne-xyz/monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luketchang, @Sladuca, @panieldark

.github/CODEOWNERS:

# contracts 

packages/contracts @luketchang

# circuits 

packages/circuits @Sladuca

# apps

packages/snap @luketchang @Sladuca

# actors 

actors/bundler @luketchang @Sladuca
actors/subtree-updater @Sladuca
actors/deposit-screener @Sladuca @luketchang
actors/test-actor @Sladuca @luketchang
actors/insertion-log @Sladuca

# SDKs

packages/core @luketchang @Sladuca
packages/frontend-sdk @luketchang @Sladuca @panieldark

# other packages

packages/config @luketchang
packages/deploy @luketchang
packages/e2e-tests @luketchang @Sladuca
packages/local-prover @Sladuca
packages/crypto-utils @Sladuca
packages/persistent-log @Sladuca

force timing: true for fe ssdk sync methods
  apps/snap/snap.manifest.json
  packages/frontend-sdk/src/sdk.ts
Owners: @luketchang, @Sladuca, @panieldark

changeset
  .changeset/eighty-moons-run.md
  .changeset/eighty-pianos-guess.md
Owners: none

set redis memory server back to ^0.6.0
  actors/bundler/package.json
  actors/insertion-writer/package.json
  actors/subtree-updater/package.json
  apps/snap/snap.manifest.json
  packages/e2e-tests/package.json
  yarn.lock
Owners: @luketchang, @Sladuca

snap manifest
  apps/snap/snap.manifest.json
  yarn.lock
Owners: none

fresh install
  package.json
  yarn.lock
Owners: none

remove crypto-utils
  actors/subtree-updater/package.json
  apps/snap/package.json
  packages/crypto-utils/.eslintignore
  packages/crypto-utils/.eslintrc
  packages/crypto-utils/CHANGELOG.md
  packages/crypto-utils/LICENSE.md
  packages/crypto-utils/README.md
  packages/crypto-utils/browser.ts
  packages/crypto-utils/node.ts
  packages/crypto-utils/package.json
  packages/crypto-utils/src/algebra/curve.ts
  packages/crypto-utils/src/algebra/curves.ts
  packages/crypto-utils/src/algebra/field.ts
  packages/crypto-utils/src/algebra/fields.ts
  packages/crypto-utils/src/algebra/index.ts
  packages/crypto-utils/src/hashes/index.ts
  packages/crypto-utils/src/hashes/poseidonBN.ts
  packages/crypto-utils/src/hashes/poseidonBNConstants.json
  packages/crypto-utils/src/hybrid-encryption/index.ts
  packages/crypto-utils/src/hybrid-encryption/nonceDerivation.ts
  packages/crypto-utils/src/index.ts
  packages/crypto-utils/src/utils.ts
  packages/crypto-utils/test/babyJubJub.test.ts
  packages/crypto-utils/test/bn.test.ts
  packages/crypto-utils/test/crypto.ts
  packages/crypto-utils/test/hybridCipher.test.ts
  packages/crypto-utils/test/poseidon.test.ts
  packages/crypto-utils/test/utils.ts
  packages/crypto-utils/tsconfig.json
  packages/crypto-utils/tsconfig.test.json
  packages/crypto/test/hybridCipher.test.ts
  packages/local-prover/scripts/genJoinSplitTestCase.ts
  packages/local-prover/scripts/genSubtreeUpdateTestCase.ts
  yarn.lock
Owners: @Sladuca

Add initiateAnonErc20Swap to fe-sdk
  packages/frontend-sdk/src/api.ts
  packages/frontend-sdk/src/sdk.ts
  packages/frontend-sdk/src/types.ts
  packages/op-request-plugins/src/UniswapV3Plugin.ts
Owners: @luketchang, @Sladuca, @panieldark

hello world first snapshot
  actors/deposit-screener/test/scripts/generateRulesetV1CallsSnapshot.ts
  actors/deposit-screener/test/snapshots/2023-9-25/snapshot.json
  actors/deposit-screener/test/utils.ts
Owners: @Sladuca, @luketchang

successful test script generation, use it
  actors/deposit-screener/test/RULESET_V1.test.ts
  actors/deposit-screener/test/scripts/generateRulesetV1CallsSnapshot.ts
  actors/deposit-screener/test/snapshots/2023-9-25/snapshot.json
  actors/deposit-screener/test/utils.ts
Owners: @Sladuca, @luketchang

fix folder pathing
  actors/deposit-screener/package.json
  actors/deposit-screener/test/RULESET_V1.test.ts
  actors/deposit-screener/test/scripts/generateRulesetV1CallsSnapshot.ts
  actors/deposit-screener/test/utils.ts
Owners: @Sladuca, @luketchang

Nit
  actors/deposit-screener/test/RULESET_V1.test.ts
Owners: @Sladuca, @luketchang

Remove old snapshot
  actors/deposit-screener/test/snapshots/apiCallsSnapshot09-13-2023.json
Owners: @Sladuca, @luketchang

changeset
  .changeset/nice-games-teach.md
Owners: none

move op request plugins to plugins folder
  apps/snap/snap.manifest.json
  packages/op-request-plugins/src/index.ts
  packages/op-request-plugins/src/plugins/Erc20Plugin.ts
  packages/op-request-plugins/src/plugins/EthTransferAdapterPlugin.ts
  packages/op-request-plugins/src/plugins/UniswapV3Plugin.ts
  packages/op-request-plugins/src/plugins/WstethAdapterPlugin.ts
  packages/op-request-plugins/src/plugins/index.ts
  yarn.lock
Owners: none

fix: add providers to contract objects in uniswap plugin, add helper with quote fn
  packages/op-request-plugins/src/helpers/uniswapV3.ts
  packages/op-request-plugins/src/plugins/UniswapV3Plugin.ts
Owners: none

PR feedback
  actors/deposit-screener/test/utils.ts
  apps/snap/snap.manifest.json
Owners: @Sladuca, @luketchang

[Deposit Screener] RuleSet snapshots for tests (#464)
  .changeset/nice-games-teach.md
  actors/deposit-screener/package.json
  actors/deposit-screener/src/screening/checks/RuleSet.ts
  actors/deposit-screener/src/screening/checks/apiCalls.ts
  actors/deposit-screener/test/RULESET_V1.test.ts
  actors/deposit-screener/test/scripts/generateRulesetV1CallsSnapshot.ts
  actors/deposit-screener/test/snapshots/2023-9-25/snapshot.json
  actors/deposit-screener/test/utils.ts
  apps/snap/snap.manifest.json
Owners: @Sladuca, @luketchang

move all subgraph-specific stuff into `SubgraphDepositAdapter`
  packages/frontend-sdk/package.json
  packages/frontend-sdk/src/dataFetching/depositAdapter.ts
  packages/frontend-sdk/src/dataFetching/index.ts
  packages/frontend-sdk/src/dataFetching/subgraph/gql/autogenerated/fragment-masking.ts
  packages/frontend-sdk/src/dataFetching/subgraph/gql/autogenerated/gql.ts
  packages/frontend-sdk/src/dataFetching/subgraph/gql/autogenerated/graphql.ts
  packages/frontend-sdk/src/dataFetching/subgraph/gql/autogenerated/index.ts
  packages/frontend-sdk/src/dataFetching/subgraph/gql/queries/DepositRequestStatusByHashQueryDocument.ts
  packages/frontend-sdk/src/dataFetching/subgraph/gql/queries/DepositRequestsBySpenderQueryDocument.ts
  packages/frontend-sdk/src/dataFetching/subgraph/index.ts
  packages/frontend-sdk/src/graphql-codegen-configs/subgraph.ts
  packages/frontend-sdk/src/sdk.ts
  packages/frontend-sdk/src/types.ts
  packages/frontend-sdk/src/utils.ts
Owners: @luketchang, @Sladuca, @panieldark

move fetchDepositEvents from core to screener
  actors/deposit-screener/scripts/testFetchDepositEvents.ts
  actors/deposit-screener/src/screener.ts
  actors/deposit-screener/src/sync/subgraph/adapter.ts
  actors/deposit-screener/src/sync/subgraph/fetch.ts
  actors/deposit-screener/src/sync/syncAdapter.ts
  apps/snap/snap.manifest.json
  packages/core/src/sync/subgraph/deposits/index.ts
  packages/core/src/sync/subgraph/index.ts
  packages/e2e-tests/tests/subgraphFetch.ts
Owners: @Sladuca, @luketchang

snap manifest
  apps/snap/snap.manifest.json
Owners: none

use 'affirmative' language
  packages/frontend-sdk/src/sdk.ts
Owners: @luketchang, @Sladuca, @panieldark

fix codegen
  apps/snap/snap.manifest.json
  packages/frontend-sdk/graphql-codegen-configs/subgraph.ts
  packages/frontend-sdk/package.json
  packages/frontend-sdk/src/data-fetching/subgraph/gql/autogenerated/fragment-masking.ts
  packages/frontend-sdk/src/data-fetching/subgraph/gql/autogenerated/gql.ts
  packages/frontend-sdk/src/data-fetching/subgraph/gql/autogenerated/graphql.ts
  packages/frontend-sdk/src/data-fetching/subgraph/gql/autogenerated/index.ts
Owners: @luketchang, @Sladuca, @panieldark

codegen
  apps/snap/snap.manifest.json
  packages/config/configs/localhost.json
  packages/frontend-sdk/graphql-codegen-configs/subgraph.ts
  packages/frontend-sdk/src/data-fetching/subgraph/gql/autogenerated/fragment-masking.ts
  packages/frontend-sdk/src/data-fetching/subgraph/gql/autogenerated/gql.ts
  packages/frontend-sdk/src/data-fetching/subgraph/gql/autogenerated/graphql.ts
  packages/frontend-sdk/src/data-fetching/subgraph/gql/autogenerated/index.ts
Owners: @luketchang, @Sladuca, @panieldark

explicit implements
  packages/frontend-sdk/src/dataFetching/subgraph/index.ts
Owners: @luketchang, @Sladuca, @panieldark

typo
  packages/frontend-sdk/src/sdk.ts
Owners: @luketchang, @Sladuca, @panieldark

changeset
  .changeset/cold-lies-love.md
  .changeset/popular-roses-drive.md
Owners: none

save script
  packages/op-request-plugins/scripts/uniswapTest.ts
  packages/op-request-plugins/src/helpers/uniswapV3.ts
Owners: none

snap manifest
  apps/snap/snap.manifest.json
Owners: none

track total value of joinsplit unwraps in processJoinSplits
  packages/config/configs/goerli.json
  packages/contracts/contracts/BalanceManager.sol
  packages/contracts/contracts/Handler.sol
  packages/contracts/contracts/interfaces/IPriceFeedUSD.sol
Owners: @luketchang

save price oracle initial, does not build
  packages/contracts/contracts/BalanceManager.sol
  packages/contracts/contracts/Handler.sol
Owners: @luketchang

checkpoint
  packages/frontend-sdk/graphql-codegen-configs/hasura.ts
  packages/frontend-sdk/src/dataFetching/hasura/index.ts
Owners: @luketchang, @Sladuca, @panieldark

build passes with price oracle
  packages/contracts/contracts/BalanceManager.sol
  packages/contracts/contracts/Handler.sol
  packages/contracts/contracts/interfaces/IPriceOracleUSD.sol
  packages/contracts/contracts/test/fork/ForkBase.sol
  packages/contracts/contracts/test/harnesses/TestBalanceManager.sol
  packages/contracts/contracts/test/invariant/ProtocolInvariants.t.sol
  packages/contracts/contracts/test/unit/BalanceManager.t.sol
  packages/contracts/contracts/test/unit/DepositManager.t.sol
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
Owners: @luketchang

unit tests pass again after adding dummy oracle and fixing totalUnwrapAmounts addition bug
  packages/contracts/contracts/BalanceManager.sol
  packages/contracts/contracts/test/fork/ForkBase.sol
  packages/contracts/contracts/test/harnesses/TestBalanceManager.sol
  packages/contracts/contracts/test/invariant/ProtocolInvariants.t.sol
  packages/contracts/contracts/test/unit/BalanceManager.t.sol
  packages/contracts/contracts/test/unit/DepositManager.t.sol
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
  packages/contracts/contracts/test/utils/DummyPriceOracleUSD.sol
Owners: @luketchang

add chainlink price oracle usd impl
  foundry.toml
  packages/contracts/contracts/oracles/ChainlinkPriceOracleUSD.sol
  packages/contracts/package.json
  yarn.lock
Owners: @luketchang

remove hasura stuff
  packages/frontend-sdk/src/dataFetching/hasura/index.ts
  packages/frontend-sdk/src/dataFetching/index.ts
Owners: @luketchang, @Sladuca, @panieldark

export CompressedStealthAddress
  packages/core/src/index.ts
Owners: @luketchang, @Sladuca

(core, frontend-sdk) abstract away subgraph-specific data fetching from frontend-sdk (#466)
  .changeset/cold-lies-love.md
  .changeset/popular-roses-drive.md
  actors/deposit-screener/scripts/testFetchDepositEvents.ts
  actors/deposit-screener/src/screener.ts
  actors/deposit-screener/src/sync/subgraph/adapter.ts
  actors/deposit-screener/src/sync/subgraph/fetch.ts
  actors/deposit-screener/src/sync/syncAdapter.ts
  apps/snap/snap.manifest.json
  packages/config/configs/localhost.json
  packages/core/src/index.ts
  packages/core/src/sync/subgraph/deposits/index.ts
  packages/core/src/sync/subgraph/index.ts
  packages/e2e-tests/tests/subgraphFetch.ts
  packages/frontend-sdk/graphql-codegen-configs/hasura.ts
  packages/frontend-sdk/graphql-codegen-configs/subgraph.ts
  packages/frontend-sdk/package.json
  packages/frontend-sdk/src/dataFetching/depositAdapter.ts
  packages/frontend-sdk/src/dataFetching/index.ts
  packages/frontend-sdk/src/dataFetching/subgraph/gql/autogenerated/fragment-masking.ts
  packages/frontend-sdk/src/dataFetching/subgraph/gql/autogenerated/gql.ts
  packages/frontend-sdk/src/dataFetching/subgraph/gql/autogenerated/graphql.ts
  packages/frontend-sdk/src/dataFetching/subgraph/gql/autogenerated/index.ts
  packages/frontend-sdk/src/dataFetching/subgraph/gql/queries/DepositRequestStatusByHashQueryDocument.ts
  packages/frontend-sdk/src/dataFetching/subgraph/gql/queries/DepositRequestsBySpenderQueryDocument.ts
  packages/frontend-sdk/src/dataFetching/subgraph/index.ts
  packages/frontend-sdk/src/sdk.ts
  packages/frontend-sdk/src/types.ts
  packages/frontend-sdk/src/utils.ts
Owners: @Sladuca, @luketchang, @panieldark

publish
  apps/snap/snap.manifest.json
Owners: none

add poseidonExt interfaces, hashers, and bytecode
  packages/contracts/contracts/test/interfaces/IHasherExt.sol
  packages/contracts/contracts/test/interfaces/IPoseidonExt.sol
  packages/contracts/contracts/test/unit/PoseidonExt.t.sol
  packages/contracts/contracts/test/utils/PoseidonDeployer.sol
  packages/contracts/contracts/test/utils/PoseidonHashers.sol
  packages/contracts/poseidon-bytecode/PoseidonExtT3.txt
  packages/contracts/poseidon-bytecode/PoseidonExtT4.txt
  packages/contracts/poseidon-bytecode/PoseidonExtT7.txt
Owners: @luketchang

changeset
  .changeset/clever-timers-reflect.md
Owners: none
