Repository nocturne-xyz/monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luketchang, @Sladuca, @panieldark

.github/CODEOWNERS:

# contracts 

packages/contracts @luketchang

# circuits 

packages/circuits @Sladuca

# apps

packages/snap @luketchang @Sladuca

# actors 

actors/bundler @luketchang @Sladuca
actors/subtree-updater @Sladuca
actors/deposit-screener @Sladuca @luketchang
actors/test-actor @Sladuca @luketchang
actors/insertion-log @Sladuca

# SDKs

packages/core @luketchang @Sladuca
packages/frontend-sdk @luketchang @Sladuca @panieldark

# other packages

packages/config @luketchang
packages/deploy @luketchang
packages/e2e-tests @luketchang @Sladuca
packages/local-prover @Sladuca
packages/crypto-utils @Sladuca
packages/persistent-log @Sladuca

revert burn addr circuit changes barring joinsplit nonce/commitment correction
  packages/circuits/circuits/joinsplit.circom
  packages/circuits/circuits/lib.circom
Owners: @Sladuca

rebuild circuits
  circuit-artifacts/joinsplit/joinsplit_cpp/vkey.json
  packages/contracts/contracts/JoinSplitVerifier.sol
Owners: @luketchang

contracts build and test again
  fixtures/joinsplit_0_publicSpend.json
  fixtures/joinsplit_100_publicSpend.json
  packages/contracts/contracts/BalanceManager.sol
  packages/contracts/contracts/CommitmentTreeManager.sol
  packages/contracts/contracts/Handler.sol
  packages/contracts/contracts/Teller.sol
  packages/contracts/contracts/interfaces/IHandler.sol
  packages/contracts/contracts/libs/Types.sol
  packages/contracts/contracts/test/harnesses/TestBalanceManager.sol
  packages/contracts/contracts/test/harnesses/TestCommitmentTreeManager.sol
  packages/contracts/contracts/test/invariant/actors/CommitmentTreeManagerHandler.sol
  packages/contracts/contracts/test/unit/BalanceManager.t.sol
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
  packages/contracts/contracts/test/utils/ReentrantCaller.sol
Owners: @luketchang

monorepo builds, e2e tests pass
  actors/bundler/src/opValidation.ts
  apps/snap/snap.manifest.json
  packages/core/src/opRequestGas.ts
  packages/core/src/primitives/types.ts
Owners: @luketchang, @Sladuca

fix forced exit test and add merkle checks in unit test
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
  packages/e2e-tests/tests/ForcedExit.ts
Owners: @luketchang, @Sladuca

joinsplit verifier whitespace
  packages/contracts/contracts/JoinSplitVerifier.sol
Owners: @luketchang

copy new joinsplit circuit artifacts to fe sdk
  packages/frontend-sdk/circuit-artifacts/joinsplit/joinsplitVkey.json
Owners: @luketchang, @Sladuca, @panieldark

update natspec docs
  packages/contracts/contracts/BalanceManager.sol
  packages/contracts/contracts/CommitmentTreeManager.sol
  packages/contracts/contracts/Handler.sol
Owners: @luketchang

changesets
  .changeset/curvy-years-marry.md
  .changeset/empty-pots-dress.md
  .changeset/neat-walls-tease.md
Owners: none

update natspec docs, add leftover tokens in forcedExit test case
  packages/contracts/contracts/Teller.sol
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
Owners: @luketchang

replace forcedExit switch btwn forcedExit and processBundle with isForcedExit flagged signed in op digest, contract tests pass
  packages/contracts/contracts/BalanceManager.sol
  packages/contracts/contracts/CommitmentTreeManager.sol
  packages/contracts/contracts/Handler.sol
  packages/contracts/contracts/OperationEIP712.sol
  packages/contracts/contracts/Teller.sol
  packages/contracts/contracts/interfaces/IHandler.sol
  packages/contracts/contracts/libs/Types.sol
  packages/contracts/contracts/test/harnesses/TestBalanceManager.sol
  packages/contracts/contracts/test/harnesses/TestCommitmentTreeManager.sol
  packages/contracts/contracts/test/invariant/actors/CommitmentTreeManagerHandler.sol
  packages/contracts/contracts/test/unit/BalanceManager.t.sol
  packages/contracts/contracts/test/unit/OperationEIP712.t.sol
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
  packages/contracts/contracts/test/utils/NocturneUtils.sol
  packages/contracts/contracts/test/utils/ReentrantCaller.sol
  packages/core/scripts/genOperationHashTestCase.ts
  packages/core/src/opRequestGas.ts
  packages/core/src/operationRequest/operationRequest.ts
  packages/core/src/prepareOperation.ts
  packages/core/src/primitives/operation.ts
  packages/core/src/primitives/types.ts
  packages/core/src/signOperation.ts
Owners: @luketchang, @Sladuca

e2e tests pass, core op request builder handles forcedExit flag
  actors/bundler/src/opValidation.ts
  apps/snap/snap.manifest.json
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
  packages/core/src/operationRequest/builder.ts
  packages/core/src/operationRequest/operationRequest.ts
  packages/e2e-tests/tests/ForcedExit.ts
Owners: @luketchang, @Sladuca

move op type check to validateOperation
  packages/contracts/contracts/Teller.sol
  packages/contracts/contracts/libs/Types.sol
  packages/contracts/contracts/libs/Validation.sol
Owners: @luketchang

check every op matches the bundle type
  packages/contracts/contracts/Teller.sol
  packages/contracts/contracts/libs/Types.sol
Owners: @luketchang

changesets
  .changeset/empty-pots-dress.md
  apps/snap/snap.manifest.json
Owners: none

gh workflow adds forced exit file to e2e tests
  .github/workflows/build-and-test-e2e.yml
  apps/snap/snap.manifest.json
Owners: none

fix bundler validation schema with isForcedExit
  actors/bundler/src/request/relay.ts
  actors/bundler/test/utils.ts
  apps/snap/snap.manifest.json
Owners: @luketchang, @Sladuca

changeset
  .changeset/nine-islands-play.md
Owners: none

simplify forcedExit (#479)
  .changeset/curvy-years-marry.md
  .changeset/empty-pots-dress.md
  .changeset/neat-walls-tease.md
  .changeset/nine-islands-play.md
  .github/workflows/build-and-test-e2e.yml
  actors/bundler/src/request/relay.ts
  actors/bundler/test/utils.ts
  apps/snap/snap.manifest.json
  circuit-artifacts/joinsplit/joinsplit_cpp/vkey.json
  fixtures/joinsplit_0_publicSpend.json
  fixtures/joinsplit_100_publicSpend.json
  packages/circuits/circuits/joinsplit.circom
  packages/circuits/circuits/lib.circom
  packages/contracts/contracts/BalanceManager.sol
  packages/contracts/contracts/CommitmentTreeManager.sol
  packages/contracts/contracts/Handler.sol
  packages/contracts/contracts/JoinSplitVerifier.sol
  packages/contracts/contracts/OperationEIP712.sol
  packages/contracts/contracts/Teller.sol
  packages/contracts/contracts/libs/Types.sol
  packages/contracts/contracts/libs/Validation.sol
  packages/contracts/contracts/test/invariant/actors/CommitmentTreeManagerHandler.sol
  packages/contracts/contracts/test/unit/OperationEIP712.t.sol
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
  packages/contracts/contracts/test/utils/NocturneUtils.sol
  packages/core/scripts/genOperationHashTestCase.ts
  packages/core/src/opRequestGas.ts
  packages/core/src/operationRequest/builder.ts
  packages/core/src/operationRequest/operationRequest.ts
  packages/core/src/prepareOperation.ts
  packages/core/src/primitives/operation.ts
  packages/core/src/primitives/types.ts
  packages/core/src/signOperation.ts
  packages/e2e-tests/tests/ForcedExit.ts
  packages/frontend-sdk/circuit-artifacts/joinsplit/joinsplitVkey.json
Owners: @luketchang, @Sladuca, @panieldark

add reth to deploy script like for wsteth
  packages/deploy/configs/example.json
  packages/deploy/src/config.ts
  packages/deploy/src/deploy.ts
Owners: @luketchang

convert -> deposit
  packages/deploy/src/deploy.ts
Owners: @luketchang

changeset
  .changeset/silver-tables-do.md
Owners: none

snap manifest
  apps/snap/snap.manifest.json
Owners: none

add reth adapter to deploy script (#467)
  .changeset/silver-tables-do.md
  apps/snap/snap.manifest.json
  packages/deploy/configs/example.json
  packages/deploy/src/config.ts
  packages/deploy/src/deploy.ts
Owners: @luketchang

redeploy + update goerli config
  packages/config/configs/goerli.json
Owners: @luketchang

add rocket pool to goerli deploy config, fix uniswap to use multicall
  packages/deploy/configs/goerli.json
Owners: @luketchang

add reth to goerli deploy config
  packages/deploy/configs/goerli.json
Owners: @luketchang

snap manifest
  apps/snap/snap.manifest.json
Owners: none

[Dep Screener] Tornado → Nocturne screener bypass (#469)
  .changeset/purple-beers-tease.md
  actors/deposit-screener/src/screening/checks/RuleSet.ts
  actors/deposit-screener/src/screening/checks/v1/RULESET_V1.ts
  actors/deposit-screener/src/screening/checks/v1/utils.ts
  actors/deposit-screener/test/RULESET_V1.test.ts
  actors/deposit-screener/test/snapshots/2023-09-27/snapshot.json
  actors/deposit-screener/test/snapshots/2023-09-29/snapshot.json
  actors/deposit-screener/test/utils.ts
Owners: @Sladuca, @luketchang

consolidate queries, implement deposit adapter
  packages/core/src/utils/functional.ts
  packages/core/src/utils/index.ts
  packages/frontend-sdk/graphql-codegen-configs/hasura.ts
  packages/frontend-sdk/src/dataFetching/hasura/depositAdapter.ts
  packages/frontend-sdk/src/dataFetching/hasura/fetch.ts
  packages/frontend-sdk/src/dataFetching/hasura/gql/autogenerated/gql.ts
  packages/frontend-sdk/src/dataFetching/hasura/gql/autogenerated/graphql.ts
  packages/frontend-sdk/src/dataFetching/hasura/gql/queries.ts
  packages/frontend-sdk/src/dataFetching/hasura/gql/queries/LatestIndexedBlock.ts
  packages/frontend-sdk/src/dataFetching/hasura/gql/queries/SdkEventsPaginatedById.ts
  packages/frontend-sdk/src/dataFetching/hasura/syncAdapter.ts
  packages/frontend-sdk/src/types.ts
  yarn.lock
Owners: @luketchang, @Sladuca, @panieldark

fix stuff
  packages/frontend-sdk/src/dataFetching/hasura/fetch.ts
  packages/frontend-sdk/src/dataFetching/hasura/gql/autogenerated/graphql.ts
  packages/frontend-sdk/src/dataFetching/hasura/gql/queries.ts
  packages/frontend-sdk/src/dataFetching/hasura/syncAdapter.ts
  packages/frontend-sdk/src/index.ts
Owners: @luketchang, @Sladuca, @panieldark

setup urql with hasura, first-pass SDKSyncAdapter impl
  packages/frontend-sdk/graphql-codegen-configs/hasura.ts
  packages/frontend-sdk/graphql-codegen-configs/subgraph.ts
  packages/frontend-sdk/package.json
  packages/frontend-sdk/src/dataFetching/hasura/depositAdapter.ts
  packages/frontend-sdk/src/dataFetching/hasura/fetch.ts
  packages/frontend-sdk/src/dataFetching/hasura/gql/autogenerated/fragment-masking.ts
  packages/frontend-sdk/src/dataFetching/hasura/gql/autogenerated/gql.ts
  packages/frontend-sdk/src/dataFetching/hasura/gql/autogenerated/graphql.ts
  packages/frontend-sdk/src/dataFetching/hasura/gql/autogenerated/index.ts
  packages/frontend-sdk/src/dataFetching/hasura/gql/queries/LatestIndexedBlock.ts
  packages/frontend-sdk/src/dataFetching/hasura/gql/queries/SdkEventsPaginatedById.ts
  packages/frontend-sdk/src/dataFetching/hasura/index.ts
  packages/frontend-sdk/src/dataFetching/hasura/syncAdapter.ts
Owners: @luketchang, @Sladuca, @panieldark

fix encoding issues
  packages/frontend-sdk/src/dataFetching/hasura/depositAdapter.ts
  packages/frontend-sdk/src/dataFetching/hasura/fetch.ts
  packages/frontend-sdk/src/dataFetching/hasura/index.ts
  packages/frontend-sdk/src/dataFetching/index.ts
  packages/frontend-sdk/src/index.ts
  packages/frontend-sdk/src/sdk.ts
Owners: @luketchang, @Sladuca, @panieldark

changeset
  .changeset/sharp-shrimps-count.md
Owners: none

address code-specific comments
  apps/snap/snap.manifest.json
  packages/core/src/sync/subgraph/core/adapter.ts
  packages/core/src/utils/functional.ts
  packages/core/src/utils/index.ts
  packages/frontend-sdk/src/dataFetching/hasura/depositAdapter.ts
  packages/frontend-sdk/src/dataFetching/hasura/fetch.ts
  packages/frontend-sdk/src/dataFetching/hasura/syncAdapter.ts
Owners: @luketchang, @Sladuca, @panieldark

regen queries
  packages/frontend-sdk/src/dataFetching/hasura/depositAdapter.ts
  packages/frontend-sdk/src/dataFetching/hasura/fetch.ts
  packages/frontend-sdk/src/dataFetching/hasura/gql/autogenerated/gql.ts
  packages/frontend-sdk/src/dataFetching/hasura/gql/autogenerated/graphql.ts
  packages/frontend-sdk/src/dataFetching/hasura/gql/queries.ts
Owners: @luketchang, @Sladuca, @panieldark

fix bug
  packages/frontend-sdk/src/dataFetching/hasura/depositAdapter.ts
Owners: @luketchang, @Sladuca, @panieldark

add provider
  packages/op-request-plugins/src/UniswapV3Plugin.ts
Owners: none

changeset
  .changeset/unlucky-worms-heal.md
Owners: none

address comments
  packages/core/src/sync/subgraph/core/adapter.ts
  packages/frontend-sdk/src/dataFetching/hasura/syncAdapter.ts
Owners: @luketchang, @Sladuca, @panieldark
