Repository nocturne-xyz/monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luketchang, @Sladuca, @panieldark

add shasums to protocol code pre-split
  apps/snap/snap.manifest.json
  packages/circuits/package.json
  packages/circuits/scripts/shasum.sh
  packages/circuits/shasums.txt
  packages/contracts/package.json
  packages/contracts/scripts/shasum.sh
  packages/contracts/shasums.txt
  yarn.lock
Owners: @Sladuca, @luketchang

patch(build): yarn build should build e2e tests ## Motivation
  packages/e2e-tests/package.json
Owners: @luketchang, @Sladuca

[Deposit Screener] Use the real implementation ## Motivation
  actors/deposit-screener/src/cli/commands/run/processor.ts
  actors/deposit-screener/src/cli/commands/run/server.ts
  actors/deposit-screener/src/screening/index.ts
  yarn.lock
Owners: @Sladuca, @luketchang

patch(build): yarn build should build e2e tests (#526)
  packages/e2e-tests/package.json
Owners: @luketchang, @Sladuca

[Deposit Screener] Use the real implementation (#527)
  actors/deposit-screener/src/cli/commands/run/processor.ts
  actors/deposit-screener/src/cli/commands/run/server.ts
  actors/deposit-screener/src/screening/index.ts
  yarn.lock
Owners: @Sladuca, @luketchang

feat(trigger-migrations): on push to main ## Motivation
  .github/workflows/build-migrations-and-push.yml
Owners: none

add shasums to protocol code pre-split (#525)
  apps/snap/snap.manifest.json
  packages/circuits/package.json
  packages/circuits/scripts/shasum.sh
  packages/circuits/shasums.txt
  packages/contracts/package.json
  packages/contracts/scripts/shasum.sh
  packages/contracts/shasums.txt
Owners: @Sladuca, @luketchang

.github/CODEOWNERS:

# contracts 

packages/contracts @luketchang

# circuits 

packages/circuits @Sladuca

# apps

packages/snap @luketchang @Sladuca

# actors 

actors/bundler @luketchang @Sladuca
actors/subtree-updater @Sladuca
actors/deposit-screener @Sladuca @luketchang
actors/test-actor @Sladuca @luketchang
actors/insertion-log @Sladuca

# SDKs

packages/core @luketchang @Sladuca
packages/frontend-sdk @luketchang @Sladuca @panieldark

# other packages

packages/config @luketchang
packages/deploy @luketchang
packages/e2e-tests @luketchang @Sladuca
packages/local-prover @Sladuca
packages/crypto-utils @Sladuca
packages/persistent-log @Sladuca
