Repository nocturne-xyz/monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luketchang, @Sladuca, @panieldark

.github/CODEOWNERS:

# contracts 

packages/contracts @luketchang

# circuits 

packages/circuits @Sladuca

# apps

packages/snap @luketchang @Sladuca

# actors 

actors/bundler @luketchang @Sladuca
actors/subtree-updater @Sladuca
actors/deposit-screener @Sladuca @luketchang
actors/test-actor @Sladuca @luketchang
actors/insertion-log @Sladuca

# SDKs

packages/core @luketchang @Sladuca
packages/frontend-sdk @luketchang @Sladuca @panieldark

# other packages

packages/config @luketchang
packages/deploy @luketchang
packages/e2e-tests @luketchang @Sladuca
packages/local-prover @Sladuca
packages/crypto-utils @Sladuca
packages/persistent-log @Sladuca

add numConfirmations to submitter
  actors/bundler/src/cli/commands/run/submitter.ts
  actors/bundler/src/submitter.ts
  actors/deposit-screener/src/cli/commands/run/processor.ts
  actors/deposit-screener/src/fulfiller.ts
Owners: @luketchang, @Sladuca

changeset
  .changeset/afraid-lobsters-float.md
Owners: none

fix typo
  actors/deposit-screener/src/cli/commands/run/processor.ts
  apps/snap/snap.manifest.json
Owners: @Sladuca, @luketchang

add upper bound to fetch functions
  actors/deposit-screener/src/sync/subgraph/adapter.ts
  actors/insertion-writer/src/sync/subgraph/adapter.ts
  actors/insertion-writer/src/sync/subgraph/fetch.ts
  apps/snap/snap.manifest.json
  packages/core/src/sync/subgraph/core/adapter.ts
  packages/core/src/sync/subgraph/core/fetch.ts
  packages/core/src/sync/subgraph/deposits/fetch.ts
Owners: @Sladuca, @luketchang

increase waits in sync e2e test
  .changeset/afraid-lobsters-float.md
  .changeset/famous-bananas-study.md
  .changeset/gorgeous-olives-enjoy.md
  .changeset/happy-jokes-greet.md
  .changeset/khaki-meals-grin.md
  .changeset/stupid-spoons-rescue.md
  actors/bundler/src/cli/commands/run/submitter.ts
  actors/bundler/src/submitter.ts
  actors/deposit-screener/src/cli/commands/run/processor.ts
  actors/deposit-screener/src/fulfiller.ts
  actors/deposit-screener/src/sync/subgraph/adapter.ts
  actors/insertion-writer/src/cli/commands/run/runInsertionWriter.ts
  actors/insertion-writer/src/sync/subgraph/adapter.ts
  actors/insertion-writer/src/sync/subgraph/fetch.ts
  actors/test-actor/src/actor.ts
  actors/test-actor/src/cli/run.ts
  apps/snap/snap.manifest.json
  packages/config/configs/goerli.json
  packages/config/configs/sepolia.json
  packages/config/src/config.ts
  packages/config/src/deployment.ts
  packages/core/src/NocturneClient.ts
  packages/core/src/sync/rpc/adapter.ts
  packages/core/src/sync/subgraph/core/adapter.ts
  packages/core/src/sync/subgraph/core/fetch.ts
  packages/core/src/sync/syncAdapter.ts
  packages/core/src/syncSDK.ts
  packages/deploy/configs/example.json
  packages/deploy/configs/goerli.json
  packages/deploy/configs/sepolia.json
  packages/deploy/src/config.ts
  packages/deploy/src/deploy.ts
  packages/e2e-tests/src/deploy.ts
  packages/e2e-tests/tests/syncSDK.ts
Owners: @luketchang, @Sladuca

fix cli
  .changeset/afraid-lobsters-float.md
  .changeset/gorgeous-olives-enjoy.md
  .changeset/happy-jokes-greet.md
  actors/bundler/src/cli/commands/run/submitter.ts
  actors/deposit-screener/src/cli/commands/run/processor.ts
  actors/insertion-writer/src/cli/commands/run/runInsertionWriter.ts
  actors/test-actor/src/cli/run.ts
Owners: @luketchang, @Sladuca

address comments
  apps/snap/snap.manifest.json
  packages/core/src/sync/subgraph/core/adapter.ts
  packages/deploy/configs/sepolia.json
Owners: @luketchang, @Sladuca

remove api call optimization
  actors/insertion-writer/src/sync/subgraph/adapter.ts
Owners: none

(core, actors) add numConfirmations to sync adapters (#459)
  .changeset/afraid-lobsters-float.md
  .changeset/famous-bananas-study.md
  .changeset/gorgeous-olives-enjoy.md
  .changeset/happy-jokes-greet.md
  .changeset/khaki-meals-grin.md
  .changeset/stupid-spoons-rescue.md
  actors/bundler/src/cli/commands/run/submitter.ts
  actors/bundler/src/submitter.ts
  actors/deposit-screener/src/cli/commands/run/processor.ts
  actors/deposit-screener/src/fulfiller.ts
  actors/deposit-screener/src/screener.ts
  actors/deposit-screener/src/sync/subgraph/adapter.ts
  actors/insertion-writer/src/cli/commands/run/runInsertionWriter.ts
  actors/insertion-writer/src/sync/subgraph/adapter.ts
  actors/insertion-writer/src/sync/subgraph/fetch.ts
  actors/test-actor/src/actor.ts
  actors/test-actor/src/cli/run.ts
  apps/snap/snap.manifest.json
  packages/config/configs/goerli.json
  packages/config/configs/sepolia.json
  packages/config/src/config.ts
  packages/config/src/deployment.ts
  packages/core/src/NocturneClient.ts
  packages/core/src/sync/rpc/adapter.ts
  packages/core/src/sync/subgraph/core/adapter.ts
  packages/core/src/sync/subgraph/core/fetch.ts
  packages/core/src/sync/subgraph/deposits/fetch.ts
  packages/core/src/sync/syncAdapter.ts
  packages/core/src/syncSDK.ts
  packages/deploy/configs/example.json
  packages/deploy/configs/goerli.json
  packages/deploy/configs/sepolia.json
  packages/deploy/src/config.ts
  packages/deploy/src/deploy.ts
  packages/e2e-tests/src/deploy.ts
  packages/e2e-tests/tests/syncSDK.ts
  yarn.lock
Owners: @luketchang, @Sladuca

add import
  apps/snap/snap.manifest.json
  packages/frontend-sdk/src/sdk.ts
Owners: @luketchang, @Sladuca, @panieldark

snapshot work
  actors/deposit-screener/package.json
  actors/deposit-screener/src/screening/checks/RuleSet.ts
  actors/deposit-screener/src/screening/checks/apiCalls.ts
  actors/deposit-screener/test/RULESET_V1.test.ts
  actors/deposit-screener/test/utils.ts
Owners: @Sladuca, @luketchang

Extract as separate script
  actors/deposit-screener/package.json
  actors/deposit-screener/test/RULESET_V1.test.ts
  actors/deposit-screener/test/scripts/generateRulesetV1CallsSnapshot.ts
  actors/deposit-screener/test/utils.ts
Owners: @Sladuca, @luketchang

await deployment of impl contracts
  packages/deploy/src/deploy.ts
Owners: @luketchang

changeset
  .changeset/famous-fans-wink.md
Owners: none

yarn i
  yarn.lock
Owners: none

fix: await confirmations when deploying implementation contracts in deploy (#463)
  .changeset/famous-fans-wink.md
  packages/deploy/src/deploy.ts
  yarn.lock
Owners: @luketchang

add test for point compression
  packages/crypto/package.json
  packages/crypto/src/BabyJubJub.ts
  packages/crypto/src/address.ts
  packages/crypto/src/hashes/poseidonBN.ts
  packages/crypto/src/index.ts
  packages/crypto/src/pointCompression.ts
  packages/crypto/src/rand.ts
  packages/crypto/src/utils.ts
  packages/crypto/src/viewer.ts
  packages/crypto/test/babyJubJub.test.ts
  packages/crypto/test/crypto.ts
  packages/crypto/test/hybridCipher.test.ts
  packages/crypto/test/pointCompression.test.ts
  packages/crypto/test/poseidon.test.ts
  packages/crypto/test/utils.ts
Owners: none

add flattened crypto package
  packages/crypto/.eslintignore
  packages/crypto/.eslintrc
  packages/crypto/CHANGELOG.md
  packages/crypto/LICENSE.md
  packages/crypto/README.md
  packages/crypto/browser.ts
  packages/crypto/node.ts
  packages/crypto/package.json
  packages/crypto/src/BabyJubJub.ts
  packages/crypto/src/address.ts
  packages/crypto/src/bnScalarField.ts
  packages/crypto/src/hashes/index.ts
  packages/crypto/src/hashes/poseidonBN.ts
  packages/crypto/src/hashes/poseidonBNConstants.json
  packages/crypto/src/index.ts
  packages/crypto/src/keys.ts
  packages/crypto/src/pointCompression.ts
  packages/crypto/src/signer.ts
  packages/crypto/src/utils.ts
  packages/crypto/src/viewer.ts
  packages/crypto/tsconfig.json
  packages/crypto/tsconfig.test.json
  tsconfig.json
  yarn.lock
Owners: none

set version to 0.1.0
  packages/crypto/package.json
Owners: none

use Fr.eql
  packages/crypto/src/signer.ts
Owners: none

add & test BabyJubJubHybridCipher
  packages/crypto/src/BabyJubJub.ts
  packages/crypto/src/hybrid-encryption/index.ts
  packages/crypto/src/hybrid-encryption/nonceDerivation.ts
  packages/crypto/src/utils.ts
  packages/crypto/test/babyJubJub.test.ts
  packages/crypto/test/hybridCipher.test.ts
  packages/crypto/test/poseidon.test.ts
  packages/crypto/test/utils.ts
Owners: none

empty changelog
  packages/crypto/CHANGELOG.md
Owners: none

test hybrid cipher against crypto-utils and fix encoding
  apps/snap/snap.manifest.json
  packages/crypto-utils/src/hybrid-encryption/index.ts
  packages/crypto/package.json
  packages/crypto/src/BabyJubJub.ts
  packages/crypto/src/hybrid-encryption/index.ts
  packages/crypto/test/hybridCipher.test.ts
  yarn.lock
Owners: @Sladuca

publish version of crypto-utils with optional entropy param
  apps/snap/snap.manifest.json
  packages/crypto-utils/package.json
  packages/crypto/package.json
  yarn.lock
Owners: @Sladuca

increase timeout
  packages/crypto-utils/package.json
  packages/crypto/package.json
Owners: @Sladuca

changeset
  .changeset/early-hounds-train.md
  .changeset/metal-dogs-wash.md
Owners: none

(crypto) add flattened crypto package built atop noble curves (#455)
  .changeset/early-hounds-train.md
  .changeset/metal-dogs-wash.md
  apps/snap/snap.manifest.json
  packages/crypto/.eslintignore
  packages/crypto/.eslintrc
  packages/crypto/CHANGELOG.md
  packages/crypto/LICENSE.md
  packages/crypto/README.md
  packages/crypto/browser.ts
  packages/crypto/node.ts
  packages/crypto/package.json
  packages/crypto/src/BabyJubJub.ts
  packages/crypto/src/address.ts
  packages/crypto/src/bnScalarField.ts
  packages/crypto/src/hashes/index.ts
  packages/crypto/src/hashes/poseidonBN.ts
  packages/crypto/src/hashes/poseidonBNConstants.json
  packages/crypto/src/hybrid-encryption/index.ts
  packages/crypto/src/hybrid-encryption/nonceDerivation.ts
  packages/crypto/src/index.ts
  packages/crypto/src/keys.ts
  packages/crypto/src/pointCompression.ts
  packages/crypto/src/rand.ts
  packages/crypto/src/signer.ts
  packages/crypto/src/utils.ts
  packages/crypto/src/viewer.ts
  packages/crypto/test/babyJubJub.test.ts
  packages/crypto/test/crypto.ts
  packages/crypto/test/hybridCipher.test.ts
  packages/crypto/test/pointCompression.test.ts
  packages/crypto/test/poseidon.test.ts
  packages/crypto/test/utils.ts
  packages/crypto/tsconfig.json
  packages/crypto/tsconfig.test.json
  tsconfig.json
  yarn.lock
Owners: none

add reth adapter initial
  packages/contracts/contracts/adapters/RethAdapter.sol
  packages/contracts/contracts/adapters/WstethAdapter.sol
  packages/contracts/contracts/interfaces/IReth.sol
  packages/contracts/contracts/interfaces/IRocketDepositPool.sol
  packages/contracts/contracts/interfaces/IRocketStorage.sol
Owners: @luketchang

separate reth and other tests, fork tests pass
  packages/contracts/contracts/adapters/RethAdapter.sol
  packages/contracts/contracts/test/fork/Reth.t.sol
  packages/contracts/contracts/test/fork/Uniswap.t.sol
  packages/contracts/contracts/test/fork/Wsteth.t.sol
  packages/contracts/contracts/test/interfaces/IRocketDAOProtocolSettingsDeposit.sol
  packages/contracts/contracts/test/interfaces/IRocketMinipoolQueue.sol
  packages/contracts/hardhat.config.ts
  packages/contracts/index.ts
  packages/contracts/package.json
Owners: @luketchang

add comment about reth test date
  packages/contracts/contracts/test/fork/Reth.t.sol
Owners: @luketchang

ignore eth transfer adapter as actor
  apps/snap/snap.manifest.json
  packages/contracts/contracts/test/invariant/ProtocolInvariants.t.sol
Owners: @luketchang

rename 'convert' to 'deposit' for staking adapters
  apps/snap/snap.manifest.json
  packages/contracts/contracts/adapters/RethAdapter.sol
  packages/contracts/contracts/adapters/WstethAdapter.sol
  packages/contracts/contracts/test/fork/Reth.t.sol
  packages/contracts/contracts/test/fork/Uniswap.t.sol
  packages/contracts/contracts/test/fork/Wsteth.t.sol
  packages/deploy/src/deploy.ts
  packages/op-request-plugins/src/WstethAdapterPlugin.ts
  packages/op-request-plugins/test/plugins.test.ts
  packages/op-request-plugins/test/utils.ts
Owners: @luketchang

changesets
  .changeset/cyan-yaks-walk.md
  .changeset/grumpy-bats-play.md
Owners: none

multi deposit reth test
  packages/contracts/contracts/test/fork/Reth.t.sol
  packages/contracts/contracts/test/fork/Wsteth.t.sol
Owners: @luketchang

yarn i, changesets
  .changeset/dry-clocks-bake.md
  .changeset/flat-files-smoke.md
  .changeset/nervous-deers-search.md
  yarn.lock
Owners: none

prettier
  packages/contracts/contracts/adapters/RethAdapter.sol
  packages/contracts/contracts/adapters/WstethAdapter.sol
Owners: @luketchang

add rocket pool adapter (#465)
  .changeset/cyan-yaks-walk.md
  .changeset/dry-clocks-bake.md
  .changeset/flat-files-smoke.md
  .changeset/grumpy-bats-play.md
  .changeset/nervous-deers-search.md
  apps/snap/snap.manifest.json
  packages/contracts/contracts/adapters/RethAdapter.sol
  packages/contracts/contracts/adapters/WstethAdapter.sol
  packages/contracts/contracts/interfaces/IReth.sol
  packages/contracts/contracts/interfaces/IRocketDepositPool.sol
  packages/contracts/contracts/interfaces/IRocketStorage.sol
  packages/contracts/contracts/test/fork/Reth.t.sol
  packages/contracts/contracts/test/fork/Uniswap.t.sol
  packages/contracts/contracts/test/interfaces/IRocketDAOProtocolSettingsDeposit.sol
  packages/contracts/contracts/test/interfaces/IRocketMinipoolQueue.sol
  packages/contracts/contracts/test/invariant/ProtocolInvariants.t.sol
  packages/contracts/hardhat.config.ts
  packages/contracts/index.ts
  packages/contracts/package.json
  packages/deploy/src/deploy.ts
  packages/op-request-plugins/src/WstethAdapterPlugin.ts
  packages/op-request-plugins/test/plugins.test.ts
  packages/op-request-plugins/test/utils.ts
  yarn.lock
Owners: @luketchang

core uses crypto
  apps/snap/snap.manifest.json
  packages/core/package.json
  packages/core/src/NocturneClient.ts
  packages/core/src/SparseMerkleProver.ts
  packages/core/src/crypto/address.ts
  packages/core/src/crypto/index.ts
  packages/core/src/crypto/keys.ts
  packages/core/src/crypto/pointCompression.ts
  packages/core/src/crypto/signer.ts
  packages/core/src/crypto/utils.ts
  packages/core/src/crypto/viewer.ts
  packages/core/src/index.ts
  packages/core/src/noteEncryption.ts
  packages/core/src/opRequestGas.ts
  packages/core/src/operationRequest/builder.ts
  packages/core/src/operationRequest/operationRequest.ts
  packages/core/src/prepareOperation.ts
  packages/core/src/primitives/binaryPoseidonTree.ts
  packages/core/src/primitives/note.ts
  packages/core/src/primitives/treeConstants.ts
  packages/core/src/primitives/types.ts
  packages/core/src/proof/canonAddrSigCheck.ts
  packages/core/src/proof/joinsplit.ts
  packages/core/src/proveOperation.ts
  packages/core/src/signOperation.ts
  packages/core/src/snapJsonRpc.ts
  packages/core/src/sync/rpc/fetch.ts
  packages/core/src/sync/subgraph/core/fetch.ts
  packages/core/src/sync/subgraph/deposits/fetch.ts
  packages/core/src/syncSDK.ts
  packages/crypto/src/BabyJubJub.ts
  packages/crypto/src/index.ts
  packages/local-prover/package.json
  packages/local-prover/scripts/genCanonAddrSigCheckTestCase.ts
  packages/local-prover/scripts/genJoinSplitTestCase.ts
  packages/local-prover/scripts/genSubtreeUpdateTestCase.ts
  packages/local-prover/src/canonAddrSigCheck.ts
  packages/local-prover/src/joinsplit.ts
Owners: @luketchang, @Sladuca

fix unit tests
  actors/bundler/package.json
  actors/insertion-writer/package.json
  actors/subtree-updater/package.json
  apps/snap/snap.manifest.json
  packages/core/src/index.ts
  packages/core/src/noteEncryption.ts
  packages/core/test/SparseMerkleProver.test.ts
  packages/core/test/db.test.ts
  packages/core/test/noteEncryption.test.ts
  packages/core/test/pointCompression.test.ts
  packages/core/test/prepareOperation.test.ts
  packages/core/test/signOperation.test.ts
  packages/core/test/utils.ts
  packages/e2e-tests/tests/CanonAddrRegistry.ts
  yarn.lock
Owners: @luketchang, @Sladuca

remove crypto-utils from local-prover
  apps/snap/snap.manifest.json
  packages/local-prover/package.json
Owners: @Sladuca
