Repository nocturne-xyz/monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luketchang, @Sladuca, @panieldark

fix: support refunds with actual minRefundValues + double underscore unwrap, refund, and action so these are only exposed to plugins
  apps/snap/snap.manifest.json
  packages/core/src/opRequestGas.ts
  packages/core/src/operationRequest/builder.ts
  packages/core/src/operationRequest/index.ts
  packages/core/src/operationRequest/operationRequest.ts
  packages/core/src/prepareOperation.ts
  packages/core/src/primitives/operation.ts
  packages/core/src/primitives/types.ts
  packages/core/src/signOperation.ts
  packages/core/test/OpRequestBuilder.test.ts
  packages/core/test/getCreationBlockOfNewestNoteInOp.test.ts
  packages/core/test/opRequestGas.test.ts
  packages/core/test/prepareOperation.test.ts
  packages/core/test/signOperation.test.ts
  packages/e2e-tests/tests/EndToEnd.ts
  packages/op-request-plugins/package.json
  packages/op-request-plugins/src/Erc20Plugin.ts
  packages/op-request-plugins/src/UniswapV3Plugin.ts
  packages/op-request-plugins/src/WstethAdapterPlugin.ts
  packages/op-request-plugins/test/plugins.test.ts
Owners: @luketchang, @Sladuca

nits
  packages/core/src/primitives/operation.ts
Owners: @luketchang, @Sladuca

fix: uniswap numerator / denominator
  packages/op-request-plugins/src/UniswapV3Plugin.ts
Owners: none

snap manifest
  apps/snap/snap.manifest.json
Owners: none

fix test actor build, replace manual oprequest usage with erc20 plugin
  .changeset/ninety-donuts-give.md
  actors/test-actor/package.json
  actors/test-actor/src/actor.ts
  apps/snap/snap.manifest.json
Owners: @Sladuca, @luketchang

nits + consolidate refunds by asset in builder
  apps/snap/snap.manifest.json
  packages/core/src/operationRequest/builder.ts
  packages/core/src/operationRequest/operationRequest.ts
  packages/core/src/primitives/types.ts
Owners: @luketchang, @Sladuca

fix e2e tests
  packages/e2e-tests/tests/optimisticRecordTracking.ts
  packages/e2e-tests/tests/syncSDK.ts
Owners: @luketchang, @Sladuca

add map and set for object keys and fix instances of object key map/set
  apps/snap/snap.manifest.json
  packages/core/src/NocturneClient.ts
  packages/core/src/operationRequest/builder.ts
  packages/core/src/utils/collections.ts
  packages/core/src/utils/functional.ts
  packages/core/src/utils/index.ts
Owners: @luketchang, @Sladuca

add test to ensure refund consolidation
  packages/core/test/OpRequestBuilder.test.ts
Owners: @luketchang, @Sladuca

fix consolidation to not use toString and actually json stringify
  packages/core/src/operationRequest/builder.ts
  packages/core/test/OpRequestBuilder.test.ts
Owners: @luketchang, @Sladuca

simplify op request consolidation logic to account for net balances and to reduce number of joinsplits to make
  packages/core/src/operationRequest/builder.ts
  packages/core/src/utils/collections.ts
  packages/core/test/OpRequestBuilder.test.ts
Owners: @luketchang, @Sladuca

changesets
  .changeset/dirty-turkeys-build.md
  .changeset/strange-bobcats-float.md
Owners: none

test: add op request builder test for sequence of spends and refunds simulating subsequent swaps
  packages/core/test/OpRequestBuilder.test.ts
Owners: @luketchang, @Sladuca

yarn i
  yarn.lock
Owners: none

nits + set impl fix
  packages/core/src/operationRequest/builder.ts
  packages/core/src/utils/collections.ts
Owners: @luketchang, @Sladuca

fix: plugins propagate actual refund amounts for op.trackedAssets (#441)
  .changeset/dirty-turkeys-build.md
  .changeset/fifty-feet-compare.md
  .changeset/ninety-donuts-give.md
  .changeset/strange-bobcats-float.md
  actors/test-actor/package.json
  actors/test-actor/src/actor.ts
  apps/snap/snap.manifest.json
  packages/core/src/NocturneClient.ts
  packages/core/src/opRequestGas.ts
  packages/core/src/operationRequest/builder.ts
  packages/core/src/operationRequest/index.ts
  packages/core/src/operationRequest/operationRequest.ts
  packages/core/src/prepareOperation.ts
  packages/core/src/primitives/operation.ts
  packages/core/src/primitives/types.ts
  packages/core/src/signOperation.ts
  packages/core/src/utils/collections.ts
  packages/core/src/utils/functional.ts
  packages/core/src/utils/index.ts
  packages/core/test/OpRequestBuilder.test.ts
  packages/core/test/getCreationBlockOfNewestNoteInOp.test.ts
  packages/core/test/opRequestGas.test.ts
  packages/core/test/prepareOperation.test.ts
  packages/core/test/signOperation.test.ts
  packages/e2e-tests/tests/EndToEnd.ts
  packages/e2e-tests/tests/optimisticRecordTracking.ts
  packages/e2e-tests/tests/syncSDK.ts
  packages/op-request-plugins/package.json
  packages/op-request-plugins/src/Erc20Plugin.ts
  packages/op-request-plugins/src/UniswapV3Plugin.ts
  packages/op-request-plugins/src/WstethAdapterPlugin.ts
  packages/op-request-plugins/test/plugins.test.ts
  yarn.lock
Owners: @Sladuca, @luketchang

deploy script conditionally deploys wsteth adapter
  packages/deploy/configs/example.json
  packages/deploy/configs/sepolia.json
  packages/deploy/src/config.ts
  packages/deploy/src/deploy.ts
Owners: @luketchang

changeset
  .changeset/fifty-pens-train.md
Owners: none

changeset
  .changeset/yellow-crews-do.md
Owners: none

add goerli config deploy
  packages/deploy/configs/goerli.json
Owners: @luketchang

fix subtree batch fillers and weth addr in goerli deploy config
  packages/deploy/configs/goerli.json
Owners: @luketchang

fix changeset to describe sepolia deploy config regression
  .changeset/fifty-pens-train.md
  packages/core/src/operationRequest/builder.ts
Owners: @luketchang, @Sladuca

snap manifest
  apps/snap/snap.manifest.json
Owners: none

feat: deploy script conditionally deploys wsteth adapter + add goerli config (#446)
  .changeset/fifty-pens-train.md
  .changeset/yellow-crews-do.md
  apps/snap/snap.manifest.json
  packages/core/src/operationRequest/builder.ts
  packages/deploy/configs/example.json
  packages/deploy/configs/goerli.json
  packages/deploy/configs/sepolia.json
  packages/deploy/src/config.ts
  packages/deploy/src/deploy.ts
Owners: @luketchang, @Sladuca

parametrize circuit artifact urls based on network name
  apps/snap/snap.manifest.json
  packages/frontend-sdk/src/sdk.ts
  packages/frontend-sdk/src/utils.ts
Owners: @luketchang, @Sladuca, @panieldark

snap manifest
  apps/snap/snap.manifest.json
Owners: none

changeset
  .changeset/gorgeous-pillows-mate.md
Owners: none

(frontend-sdk) parametrize circuit artifact urls based on network name (#449)
  .changeset/gorgeous-pillows-mate.md
  apps/snap/snap.manifest.json
  packages/frontend-sdk/src/sdk.ts
  packages/frontend-sdk/src/utils.ts
Owners: @luketchang, @Sladuca, @panieldark

remove jank block number tei hack
  actors/insertion-writer/src/cli/commands/run/runInsertionWriter.ts
  actors/insertion-writer/src/index.ts
  actors/insertion-writer/src/sync/subgraph/adapter.ts
  actors/insertion-writer/src/sync/syncAdapter.ts
  apps/snap/snap.manifest.json
  packages/e2e-tests/src/insertionWriter.ts
Owners: @luketchang, @Sladuca

changeset
  .changeset/nice-sheep-impress.md
Owners: none

update dev command and snap manifest
  actors/insertion-writer/package.json
  apps/snap/snap.manifest.json
Owners: none

(TreeInsertionSyncAdapter) TEI block number hack with separate delay parameter (#447)
  .changeset/nice-sheep-impress.md
  actors/insertion-writer/package.json
  actors/insertion-writer/src/cli/commands/run/runInsertionWriter.ts
  actors/insertion-writer/src/index.ts
  actors/insertion-writer/src/sync/subgraph/adapter.ts
  actors/insertion-writer/src/sync/syncAdapter.ts
  packages/e2e-tests/src/insertionWriter.ts
Owners: @luketchang, @Sladuca

add goerli config and replace sepolia usage in monorepo with goerli
  apps/snap/src/index.ts
  packages/config/configs/goerli.json
  packages/config/src/config.ts
  packages/config/test/config.ts
  packages/core/src/utils/constants.ts
  packages/frontend-sdk/src/metamask/index.ts
  packages/frontend-sdk/src/types.ts
  packages/frontend-sdk/src/utils.ts
  packages/op-request-plugins/src/UniswapV3Plugin.ts
Owners: @luketchang, @Sladuca, @panieldark

add empty changeset to get rid of changeset status error
  .changeset/metal-actors-flash.md
Owners: none

yarn i
  yarn.lock
Owners: none

publish all pkgs
  .changeset/metal-actors-flash.md
  apps/snap/snap.manifest.json
Owners: none

fix screener cli cmd name
  actors/deposit-screener/package.json
  yarn.lock
Owners: @Sladuca, @luketchang

try setting bundler gas limit in callStatic revert check
  actors/bundler/src/opValidation.ts
  packages/core/src/SparseMerkleProver.ts
Owners: @luketchang, @Sladuca

adjust gas est for joinsplit + 10k since we added joinsplit info commit PI
  actors/bundler/src/opValidation.ts
  packages/core/src/primitives/gasCalculation.ts
Owners: @luketchang, @Sladuca

changeset
  .changeset/bright-pots-accept.md
Owners: none

.github/CODEOWNERS:

# contracts 

packages/contracts @luketchang

# circuits 

packages/circuits @Sladuca

# apps

packages/snap @luketchang @Sladuca

# actors 

actors/bundler @luketchang @Sladuca
actors/subtree-updater @Sladuca
actors/deposit-screener @Sladuca @luketchang
actors/test-actor @Sladuca @luketchang
actors/insertion-log @Sladuca

# SDKs

packages/core @luketchang @Sladuca
packages/frontend-sdk @luketchang @Sladuca @panieldark

# other packages

packages/config @luketchang
packages/deploy @luketchang
packages/e2e-tests @luketchang @Sladuca
packages/local-prover @Sladuca
packages/crypto-utils @Sladuca
packages/persistent-log @Sladuca
