Repository nocturne-xyz/monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luketchang, @Sladuca, @panieldark

fix tests
  packages/core/src/sync/subgraph/utils.ts
  packages/e2e-tests/tests/InsertionWriter.test.ts
Owners: @luketchang, @Sladuca

snap manifest
  apps/snap/snap.manifest.json
Owners: none

changeset
  .changeset/nervous-chicken-repeat.md
Owners: none

Reponse -> Response
  actors/insertion-writer/src/sync/subgraph/fetch.ts
Owners: none

address comment
  actors/insertion-writer/src/sync/subgraph/fetch.ts
Owners: none

(subgraph, core, insertion-writer) flatten SDKEvent and TreeInsertionEvent (#476)
  .changeset/nervous-chicken-repeat.md
  actors/insertion-writer/package.json
  actors/insertion-writer/src/sync/subgraph/fetch.ts
  apps/snap/snap.manifest.json
  packages/core/src/sync/subgraph/core/fetch.ts
  packages/core/src/sync/subgraph/utils.ts
  packages/e2e-tests/tests/InsertionWriter.test.ts
  yarn.lock
Owners: @luketchang, @Sladuca

make bundler permissioned, tests pass
  packages/contracts/contracts/Teller.sol
  packages/contracts/contracts/libs/Types.sol
  packages/contracts/contracts/test/fork/Balancer.t.sol
  packages/contracts/contracts/test/fork/Reth.t.sol
  packages/contracts/contracts/test/fork/Uniswap.t.sol
  packages/contracts/contracts/test/fork/Wsteth.t.sol
  packages/contracts/contracts/test/invariant/ProtocolInvariants.t.sol
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
Owners: @luketchang

add forcedExit with dummy joinsplit info commit calculation as TODO
  packages/contracts/contracts/Teller.sol
Owners: @luketchang

fix: forcedExit doesn't use proper joinsplits info len check
  packages/contracts/contracts/Teller.sol
Owners: @luketchang

yarn i
  apps/snap/snap.manifest.json
  yarn.lock
Owners: none

move poseidon ext out of test dir
  packages/contracts/contracts/PoseidonExt.sol
  packages/contracts/contracts/interfaces/IHasherExt.sol
  packages/contracts/contracts/interfaces/IPoseidonExt.sol
  packages/contracts/contracts/test/unit/PoseidonExt.t.sol
  packages/contracts/contracts/test/utils/PoseidonHashers.sol
Owners: @luketchang

remove hasher ifaces for poseidon ext
  packages/contracts/contracts/Teller.sol
  packages/contracts/contracts/test/fork/ForkBase.sol
  packages/contracts/contracts/test/invariant/ProtocolInvariants.t.sol
  packages/contracts/contracts/test/unit/BalanceManager.t.sol
  packages/contracts/contracts/test/unit/DepositManager.t.sol
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
Owners: @luketchang

remove poseidon hasher and ihasher ifaces
  packages/contracts/contracts/PoseidonExt.sol
  packages/contracts/contracts/interfaces/IHasherExt.sol
  packages/contracts/contracts/test/fork/ForkBase.sol
  packages/contracts/contracts/test/interfaces/IHasher.sol
  packages/contracts/contracts/test/invariant/ProtocolInvariants.t.sol
  packages/contracts/contracts/test/invariant/actors/OffchainMerkleHandler.sol
  packages/contracts/contracts/test/unit/BalanceManager.t.sol
  packages/contracts/contracts/test/unit/DepositManager.t.sol
  packages/contracts/contracts/test/unit/OffchainMerkleTree.t.sol
  packages/contracts/contracts/test/unit/PoseidonExt.t.sol
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
  packages/contracts/contracts/test/utils/IncrementalTree.sol
  packages/contracts/contracts/test/utils/PoseidonDeployer.sol
  packages/contracts/contracts/test/utils/PoseidonHashers.sol
  packages/contracts/contracts/test/utils/TreeTest.sol
Owners: @luketchang

save before rebase
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
Owners: @luketchang

only bundler not this
  packages/contracts/contracts/Teller.sol
Owners: @luketchang

fix unit tests
  packages/contracts/contracts/test/unit/PoseidonExt.t.sol
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
Owners: @luketchang

forcedExit unit test passes
  packages/contracts/contracts/Teller.sol
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
Owners: @luketchang

teller forceExit uses poseidonT7
  packages/contracts/contracts/Teller.sol
Owners: @luketchang

fix typo in merkleIndicesWithSignBits in circuit/contracts, fix deploy script to deploy poseidonExtT7
  apps/snap/snap.manifest.json
  packages/circuits/circuits/joinsplit.circom
  packages/contracts/contracts/Teller.sol
  packages/contracts/contracts/libs/Types.sol
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
  packages/contracts/hardhat.config.ts
  packages/contracts/index.ts
  packages/deploy/src/deploy.ts
Owners: @Sladuca, @luketchang

e2e tests pass, bundler server takes bundler addr to properly simulate with from = bundler addr when checking for reverts
  actors/bundler/src/cli/commands/run/server.ts
  actors/bundler/src/opValidation.ts
  actors/bundler/src/routes.ts
  actors/bundler/src/server.ts
  apps/snap/snap.manifest.json
  packages/config/configs/example-network.json
  packages/config/src/deployment.ts
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
  packages/deploy/configs/example.json
  packages/deploy/configs/goerli.json
  packages/deploy/configs/sepolia.json
  packages/deploy/src/config.ts
  packages/deploy/src/deploy.ts
  packages/e2e-tests/src/bundler.ts
  packages/e2e-tests/src/deploy.ts
Owners: @luketchang, @Sladuca

document forcedExit function
  packages/contracts/contracts/Teller.sol
Owners: @luketchang

make forcedExit nonReentrant, ForcedExit event returns opdigests
  packages/contracts/contracts/Teller.sol
  packages/contracts/contracts/interfaces/ITeller.sol
  packages/contracts/contracts/test/invariant/actors/TellerHandler.sol
  packages/contracts/contracts/test/unit/OffchainMerkleTree.t.sol
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
  packages/contracts/contracts/test/utils/PoseidonDeployer.sol
Owners: @luketchang

contract uses base point as burn canon addr
  packages/contracts/contracts/Teller.sol
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
  packages/e2e-tests/tests/ForcedExit.ts
Owners: @luketchang, @Sladuca

changesets
  .changeset/angry-dingos-deliver.md
  .changeset/healthy-suns-move.md
  .changeset/kind-points-compare.md
  .changeset/long-coins-brake.md
  .changeset/polite-yaks-guess.md
  .changeset/quiet-papayas-repair.md
  .changeset/swift-lies-roll.md
Owners: none

check for ForcedExit log in unit test
  packages/contracts/contracts/test/harnesses/TestTeller.sol
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
Owners: @luketchang

e2e tests work for old tests, forcedExit test failing due to invalid burn address
  apps/snap/snap.manifest.json
  packages/core/src/prepareOperation.ts
  packages/core/src/primitives/types.ts
  packages/core/src/proof/joinsplit.ts
  packages/e2e-tests/tests/EndToEnd.ts
  packages/e2e-tests/tests/ForcedExit.ts
Owners: @luketchang, @Sladuca

local site works, bundler dev takes bundler submitter addr and deployAndDeposit passes in allowed bundler
  actors/bundler/package.json
  apps/snap/snap.manifest.json
  packages/config/configs/localhost.json
  packages/e2e-tests/scripts/deployAndDeposit.ts
  packages/e2e-tests/src/deploy.ts
  packages/e2e-tests/src/keys.ts
Owners: @luketchang, @Sladuca

check events in forced exit e2e test
  apps/snap/snap.manifest.json
  packages/contracts/contracts/Teller.sol
  packages/core/src/proof/joinsplit.ts
  packages/e2e-tests/tests/ForcedExit.ts
Owners: @luketchang, @Sladuca

e2e tests pass with switched domain sep strings, TODO unswitch strings
  apps/snap/snap.manifest.json
  packages/contracts/contracts/Teller.sol
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
  packages/core/src/proof/joinsplit.ts
Owners: @luketchang, @Sladuca

storage layout
  packages/contracts/.storage-layouts
Owners: @luketchang

yarn i
  apps/snap/snap.manifest.json
  yarn.lock
Owners: none

nits
  packages/contracts/contracts/Teller.sol
  packages/contracts/contracts/test/unit/OffchainMerkleTree.t.sol
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
Owners: @luketchang

[SDK] Try to make even number of joinsplits ## Motivation
  .changeset/proud-apes-worry.md
  apps/snap/snap.manifest.json
  packages/core/src/NocturneClient.ts
  packages/core/src/prepareOperation.ts
  packages/core/test/getCreationBlockOfNewestNoteInOp.test.ts
  packages/core/test/prepareOperation.test.ts
  packages/e2e-tests/scripts/deployAndDeposit.ts
  scripts/dev.sh
Owners: @luketchang, @Sladuca

[SDK] Try to make even number of joinsplits (#475)
  .changeset/proud-apes-worry.md
  apps/snap/snap.manifest.json
  packages/core/src/NocturneClient.ts
  packages/core/src/prepareOperation.ts
  packages/core/test/getCreationBlockOfNewestNoteInOp.test.ts
  packages/core/test/prepareOperation.test.ts
  packages/e2e-tests/scripts/deployAndDeposit.ts
  scripts/dev.sh
Owners: @luketchang, @Sladuca

add readme with build/test instructions, fix foundry install script
  README.md
  apps/snap/snap.manifest.json
  foundry.toml
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
  packages/contracts/install_deps.sh
  packages/contracts/package.json
  scripts/install_foundry_deps.sh
Owners: @luketchang

[Dep Screener] Tornado → Nocturne screener bypass
  .changeset/purple-beers-tease.md
  actors/deposit-screener/src/screening/checks/RuleSet.ts
  actors/deposit-screener/src/screening/checks/v1/RULESET_V1.ts
  actors/deposit-screener/src/screening/checks/v1/utils.ts
  actors/deposit-screener/test/RULESET_V1.test.ts
  actors/deposit-screener/test/snapshots/2023-09-27/snapshot.json
  actors/deposit-screener/test/snapshots/2023-09-29/snapshot.json
  actors/deposit-screener/test/utils.ts
Owners: @Sladuca, @luketchang

fix contracts build script
  packages/contracts/package.json
Owners: @luketchang

install foundry in build:deps contracts
  packages/contracts/package.json
Owners: @luketchang

fix foundry script
  scripts/install_foundry_deps.sh
Owners: none

Add README instructions for install, build, test (#480)
  README.md
  apps/snap/snap.manifest.json
  foundry.toml
  packages/contracts/contracts/test/unit/TellerAndHandler.t.sol
  packages/contracts/install_deps.sh
  packages/contracts/package.json
  scripts/install_foundry_deps.sh
Owners: @luketchang

.github/CODEOWNERS:

# contracts 

packages/contracts @luketchang

# circuits 

packages/circuits @Sladuca

# apps

packages/snap @luketchang @Sladuca

# actors 

actors/bundler @luketchang @Sladuca
actors/subtree-updater @Sladuca
actors/deposit-screener @Sladuca @luketchang
actors/test-actor @Sladuca @luketchang
actors/insertion-log @Sladuca

# SDKs

packages/core @luketchang @Sladuca
packages/frontend-sdk @luketchang @Sladuca @panieldark

# other packages

packages/config @luketchang
packages/deploy @luketchang
packages/e2e-tests @luketchang @Sladuca
packages/local-prover @Sladuca
packages/crypto-utils @Sladuca
packages/persistent-log @Sladuca
