Repository nocturne-xyz/monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luketchang, @Sladuca, @panieldark

dont use changesets for publish
  actors/bundler/CHANGELOG.md
  actors/bundler/package.json
  actors/deposit-screener/CHANGELOG.md
  actors/deposit-screener/package.json
  actors/subtree-updater/CHANGELOG.md
  actors/subtree-updater/package.json
  actors/test-actor/CHANGELOG.md
  actors/test-actor/package.json
  apps/snap/CHANGELOG.md
  apps/snap/package.json
  apps/snap/snap.manifest.json
  package.json
  packages/circuits/CHANGELOG.md
  packages/circuits/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/crypto-utils/CHANGELOG.md
  packages/crypto-utils/package.json
  packages/deploy/CHANGELOG.md
  packages/deploy/package.json
  packages/e2e-tests/CHANGELOG.md
  packages/e2e-tests/package.json
  packages/frontend-sdk/CHANGELOG.md
  packages/frontend-sdk/package.json
  packages/local-prover/CHANGELOG.md
  packages/local-prover/package.json
Owners: @Sladuca, @luketchang, @panieldark

yarn lock
  yarn.lock
Owners: none

fix subtree updater immediately dying
  actors/subtree-updater/package.json
  apps/snap/snap.manifest.json
  scripts/dev.sh
Owners: none

check if op failed
  actors/bundler/src/cli/commands/run/server.ts
  actors/bundler/src/opValidation.ts
  actors/bundler/src/routes.ts
  actors/bundler/src/server.ts
  apps/snap/snap.manifest.json
Owners: none

e2e-test initial changes
  packages/e2e-tests/src/bundler.ts
  packages/e2e-tests/src/deploy.ts
Owners: @luketchang, @Sladuca

refactor tests
  packages/e2e-tests/tests/EndToEnd.ts
Owners: @luketchang, @Sladuca

Update EndToEnd.ts
  packages/e2e-tests/tests/EndToEnd.ts
Owners: @luketchang, @Sladuca

.github/CODEOWNERS:

# contracts 

packages/contracts @luketchang

# circuits 

packages/circuits @Sladuca

# apps

packages/snap @luketchang @Sladuca

# actors 

packages/bundler @luketchang @Sladuca
packages/subtree-updater @Sladuca
packages/deposit-screener @Sladuca @luketchang
packages/test-actor @Sladuca @luketchang

# SDKs

packages/core @luketchang @Sladuca
packages/frontend-sdk @luketchang @Sladuca @panieldark

# other packages

packages/config @luketchang
packages/deploy @luketchang
packages/e2e-tests @luketchang @Sladuca
packages/local-prover @Sladuca
packages/crypto-utils @Sladuca
