Repository nocturne-xyz/monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luketchang, @Sladuca, @panieldark

getAllDepositsWithSubstatus
  packages/frontend-sdk/src/api.ts
  packages/frontend-sdk/src/sdk.ts
  packages/frontend-sdk/src/types.ts
Owners: none

bump op digest ttl buffer in sdk
  packages/sdk/src/NocturneWalletSDK.ts
  packages/snap/snap.manifest.json
Owners: @luketchang, @Sladuca, @panieldark

make site dev a single turbo command
  actors/bundler/.env.dev
  actors/bundler/package.json
  actors/deposit-screener/.env.dev
  actors/deposit-screener/package.json
  actors/deposit-screener/src/cli/commands/run/processor.ts
  actors/subtree-updater/.env.dev
  actors/subtree-updater/package.json
  package.json
  packages/e2e-tests/package.json
  scripts/dev.sh
  turbo.json
  yarn.lock
Owners: @luketchang, @Sladuca

scripts and readme
  packages/e2e-tests/package.json
  packages/e2e-tests/scripts/setup_subgraph.sh
  scripts/README.md
  scripts/push_docker.sh
  scripts/run_local.sh
Owners: @luketchang, @Sladuca

getSubstatusForDeposits
  packages/frontend-sdk/src/api.ts
  packages/frontend-sdk/src/sdk.ts
Owners: none

remove unused document
  packages/frontend-sdk/src/gql/autogenerated/gql.ts
  packages/frontend-sdk/src/gql/autogenerated/graphql.ts
  packages/frontend-sdk/src/gql/queries/DepositRequestsBySpenderAndCreatedAtQueryDocument.ts
Owners: none

add await
  packages/frontend-sdk/src/sdk.ts
Owners: none

migrate back to fe-sdk
  packages/frontend-sdk/src/metamask/index.ts
  packages/frontend-sdk/src/metamask/types.ts
Owners: none

metamask migrate fe-sdk
  packages/sdk/src/metamask/index.ts
  packages/sdk/src/metamask/types.ts
Owners: @luketchang, @Sladuca, @panieldark

Update snap.manifest.json
  packages/snap/snap.manifest.json
Owners: @luketchang, @Sladuca

.github/CODEOWNERS:

# Contracts

packages/contracts @luketchang

# Circuits

packages/circuits @Sladuca

# SDKs

packages/wallet-sdk @luketchang @Sladuca

# Frontend

packages/sdk @luketchang @Sladuca @panieldark

# Offchain

packages/bundler @luketchang @Sladuca
packages/subtree-updater @Sladuca
packages/deposit-screener @Sladuca @luketchang
packages/test-actor @Sladuca @luketchang

# Other Packages

packages/deploy @luketchang
packages/e2e-tests @luketchang @Sladuca
packages/local-prover @Sladuca
packages/snap @luketchang @Sladuca
